<?php

/** @var \Magento\Customer\Block\Address\Edit $block */
?>

<?php $_telephone = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Telephone::class) ?>
<?php $customer = $block->getCustomer() ?>
<?php
$om = \Magento\Framework\App\ObjectManager::getInstance();
/** @var \CulturaMezcal\Core\Model\AttributeOptions $option */
$option               = $om->get(\CulturaMezcal\Core\Model\AttributeOptions::class);
$deliveryDays         = $option->setAttributeCode('delivery_days')->toOptionArray('customer_address');
$deliveryTime         = $option->setAttributeCode('delivery_time')->toOptionArray('customer_address');
$selectedDeliveryDays = explode(
    ',',
    $stringSelectedDeliveryDays = $block->getAddress()->getCustomAttribute('delivery_days')
        ?
        $block->getAddress()->getCustomAttribute('delivery_days')->getValue()
        :
        ''
);
$selectedDeliveryTime = explode(
    ',',
    $stringSelectedDeliveryTime = $block->getAddress()->getCustomAttribute('delivery_time')
        ?
        $block->getAddress()->getCustomAttribute('delivery_time')->getValue()
        :
        ''
);
?>

<form class="form-address-edit"
      action="<?= $block->escapeUrl($block->getSaveUrl()) ?>"
      method="post"
      id="form-validate"
      enctype="multipart/form-data"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">

    <fieldset class="fieldset" style="width: 100%">
        <?= $block->getBlockHtml('formkey') ?>
        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>"/>
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>"/>
        <input type="hidden" name="firstname" value="<?= $customer->getFirstname(); ?>"/>
        <input type="hidden" name="lastname" value="<?= $customer->getLastname(); ?>"/>
        <input type="hidden" name="city" value="<?= $block->getAddress()->getCity(); ?>"/>

        <?php $_streetValidationClass = $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street'); ?>
        <div class="field street required">
            <label for="street_1" class="label">
                <span><?= /* @noEscape */
                    $block->getAttributeData()->getFrontendLabel('street') ?></span>
            </label>
            <div class="control">
                <input type="text"
                       name="street[]"
                       value="<?= $block->escapeHtmlAttr($block->getStreetLine(1)) ?>"
                       title="<?= /* @noEscape */
                       $block->getAttributeData()->getFrontendLabel('street') ?>"
                       id="street_1"
                       class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>"/>
            </div>
        </div>

        <div class="field external_number required">
            <label class="label" for="external_number">
                <span><?= /* @noEscape */
                    $block->getAttributeData()->getFrontendLabel('external_number') ?></span>
            </label>
            <div class="control">
                <input type="text"
                       name="external_number"
                       value="<?= $block->escapeHtmlAttr($block->getAddress()->getCustomAttribute('external_number') ? $block->getAddress()
                           ->getCustomAttribute('external_number')->getValue() : '') ?>"
                       title="<?= /* @noEscape */
                       $block->getAttributeData()->getFrontendLabel('external_number') ?>"
                       id="external_number"
                       class="input-text validate-required <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)
                           ->getAttributeValidationClass('external_number')) ?>">
                <div role="alert" class="message warning" style="display:none">
                    <span></span>
                </div>
            </div>
        </div>

        <div class="field internal_number">
            <label class="label" for="internal_number">
                <span><?= /* @noEscape */
                    $block->getAttributeData()->getFrontendLabel('internal_number') ?></span>
            </label>
            <div class="control">
                <input type="text"
                       name="internal_number"
                       value="<?= $block->escapeHtmlAttr($block->getAddress()->getCustomAttribute('internal_number') ? $block->getAddress()
                           ->getCustomAttribute('internal_number')->getValue() : '') ?>"
                       title="<?= /* @noEscape */
                       $block->getAttributeData()->getFrontendLabel('internal_number') ?>"
                       id="internal_number"
                       class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)
                           ->getAttributeValidationClass('internal_number')) ?>">
                <div role="alert" class="message warning" style="display:none">
                    <span></span>
                </div>
            </div>
        </div>

        <div class="field zip required">
            <label class="label" for="zip">
                <span><?= /* @noEscape */
                    $block->getAttributeData()->getFrontendLabel('postcode') ?></span>
            </label>
            <div class="control">
                <input type="text"
                       name="postcode"
                       value="<?= $block->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"
                       title="<?= /* @noEscape */
                       $block->getAttributeData()->getFrontendLabel('postcode') ?>"
                       id="zip"
                       class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)
                           ->getAttributeValidationClass('postcode')) ?>">
                <div role="alert" class="message warning" style="display:none">
                    <span></span>
                </div>
            </div>
        </div>

        <div class="field country required">
            <label class="label" for="country"><span><?= /* @noEscape */
                    $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
            <div class="control">
                <?= $block->getCountryHtmlSelect() ?>
            </div>
        </div>

        <div class="field region required">
            <label class="label" for="region_id">
                <span><?= /* @noEscape */
                    $block->getAttributeData()->getFrontendLabel('region') ?></span>
            </label>
            <div class="control">
                <select id="region_id" name="region_id"
                        title="<?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('region') ?>"
                        class="validate-select region_id" <?= /* @noEscape */
                !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>>
                    <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                </select>
                <input type="text"
                       id="region"
                       name="region"
                       value="<?= $block->escapeHtmlAttr($block->getRegion()) ?>"
                       title="<?= /* @noEscape */
                       $block->getAttributeData()->getFrontendLabel('region') ?>"
                       class="input-text validate-not-number-first <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)
                           ->getAttributeValidationClass('region')) ?>"<?= !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>/>
            </div>
        </div>

        <div id="town_container" class="field town required  col-xs-12 col-sm-12 col-md-6 col-lg-6"
             data-bind="scope: 'town_updater'">
            <label for="town_id" class="label"><span data-bind="i18n: 'Town'"></span></label>

            <div class="control control-select">
                <select name="town_id" type="text" class="select"
                        id="town_id" data-validate="{required:true}"
                        data-bind="options: towns, optionsValue: 'value', optionsText: 'label', value: $data.townId"
                >
                </select>
            </div>
        </div>

        <?php if ($_telephone->isEnabled()) : ?>
            <?= $_telephone->setTelephone($block->getAddress()->getTelephone())->toHtml() ?>
        <?php endif ?>

        <div class="field delivery_days required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label for="delivery_days" class="label"><span><?= __('Delivery Days'); ?></span></label>
            <div class="control control-select">
                <select type="text" class="select"
                        name="delivery_days"
                        id="delivery_days" data-validate="{required:true}"
                        multiple="multiple"
                        size="5"
                        onchange="jQuery('#delivery_days_value').val(jQuery('#delivery_days').val().toString())"
                >
                    <?php foreach ($deliveryDays as $data):
                        if (empty($data['value'])) {
                            continue;
                        }
                        ?>
                        <option value="<?= $data['value']; ?>" <?= array_search($data['value'], $selectedDeliveryDays) !== false ? 'selected="selected"'
                            : ''; ?>><?= $data['label']; ?></option>
                    <?php endforeach; ?>
                </select>
                <input type="hidden" name="delivery_days" id="delivery_days_value" value="<?= implode(',', $selectedDeliveryDays); ?>" />
            </div>
        </div>

        <div class="field delivery_time required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label for="delivery_time" class="label"><span><?= __('Delivery Time'); ?></span></label>
            <div class="control control-select">
                <select type="text" class="select"
                        id="delivery_time" data-validate="{required:true}"
                        multiple="multiple"
                        name="delivery_time"
                        size="4"
                        onchange="jQuery('#delivery_time_value').val(jQuery('#delivery_time').val().toString())"
                >
                    <?php foreach ($deliveryTime as $data):
                        if (empty($data['value'])) {
                            continue;
                        }
                        ?>
                        <option value="<?= $data['value']; ?>" <?= array_search($data['value'], $selectedDeliveryTime) !== false ? 'selected="selected"'
                            : ''; ?>><?= $data['label']; ?></option>
                    <?php endforeach; ?>
                </select>
                <input type="hidden" name="delivery_time" id="delivery_time_value" value="<?= implode(',', $selectedDeliveryTime); ?>" />
            </div>
        </div>

        <?php if ($block->isDefaultBilling()) : ?>
            <div class="message info">
                <span><?= $block->escapeHtml(__("It's a default billing address.")) ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultBilling()) : ?>
            <div class="field choice set billing">
                <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox">
                <label class="label" for="primary_billing">
                    <span><?= $block->escapeHtml(__('Use as my default billing address')) ?></span>
                </label>
            </div>
        <?php else : ?>
            <input type="hidden" name="default_billing" value="1"/>
        <?php endif; ?>

        <?php if ($block->isDefaultShipping()) : ?>
            <div class="message info">
                <span><?= $block->escapeHtml(__("It's a default shipping address.")) ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultShipping()) : ?>
            <div class="field choice set shipping">
                <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                <label class="label" for="primary_shipping">
                    <span><?= $block->escapeHtml(__('Use as my default shipping address')) ?></span>
                </label>
            </div>
        <?php else : ?>
            <input type="hidden" name="default_shipping" value="1">
        <?php endif; ?>
    </fieldset>

    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit"
                    class="action save primary"
                    data-action="save-address"
                    title="<?= $block->escapeHtmlAttr(__('Save Address')) ?>">
                <span><?= $block->escapeHtml(__('Save Address')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
                <span><?= $block->escapeHtml(__('Go back')) ?></span>
            </a>
        </div>
    </div>
</form>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "addressValidation": {
                "postCodes": <?= /* @noEscape */
    $block->getPostCodeConfig()->getSerializedPostCodes(); ?>
            }
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */
    $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */
    $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int)$block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */
    $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        },
        "#town_container": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "town_updater": {
                        "component": "CulturaMezcal_Forwards/js/view/town",
                        "townId": <?= $block->getAddress()->getCustomAttribute('town_id') ? $block->getAddress()->getCustomAttribute('town_id')->getValue() : '0'; ?>
                    }
                }
            }
        }
    }
</script>
