<?php
/**
 * @category    FishPig
 * @package     FishPig_WordPress
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<?php if ($text = $this->getIntroText()): ?>
	<div class="container"><p class="post-list-description"><?php echo $text ?></p></div>
<?php endif; ?>


<?php if ($postList = trim($this->getPostListHtml())): ?>
	<?php echo $postList ?>
<?php else: ?>
	<p class="note-msg"><?php echo __('There are no posts matching your selection.') ?>
<?php endif; ?>
