<?php $block->renderFileLessToCss(); ?>
<header class="header-container">

	<div class="topbar-v3 ">
			<div class="container">
					<div class="row">
							<div class="col-sm-1">
									<!-- Sp1 -->
							</div>
							<div class="col-sm-11">
									<ul class="list-inline right-topbar pull-right cmezcal_utilerias">
											<li>TIENES DUDAS? LLÁMANOS <span class="udest">(+34) 971-090-218</span></li>
											<li>ENTREGA EN <span class="udest">5 DÍAS</span> </li>
											<li><a href="<?php echo $block->getBaseUrl();?>preguntas-frecuentes">PREGUNTAS FRECUENTES</a> </li>
									</ul>
							</div>
					</div>
			</div><!--/container-->
	</div>

		<div class="header-iner">
			<div class="h-left">
				<div class="nav-ozmegamenu-inner">
					<div class="mobile-bar-icon"><span><?php /* @escapeNotVerified */ echo __('mobile icon'); ?></span></div>
				</div>
				<?php echo $this->getChildHtml("logo"); ?>
			</div>
			<div class="h-right">
				<?php echo $this->getChildHtml("hozmegamenu_top"); ?>

				<div class="absolute">
					<div class="search-switcher">
						<i class="fa fa-search"></i>
						<?php echo $this->getChildHtml("top.search"); ?>
					</div>
					<div class="link-hover clearfix">
						<a href="<?php echo $block->getBaseUrl();?>customer/account/login/"><p class="fa fa-user"></p></a>
					</div>
					<a class="menu-cart" href="<?php echo $block->getBaseUrl();?>checkout/cart/"><i class="fa fa-shopping-cart"></i></a>
					<div class="app">
						<a href="<?php echo $block->getBaseUrl();?>cultura-mezcal-aplicacion-movil"><i class="fa fa-mobile mobile-icon-bigger"></i></a>
					</div>
				</div>
			</div>
		</div>

</header>
<div class="mobile-bar-content">
	<div class ="mobile-bar-close"><?php /* @escapeNotVerified */ echo __('Cerrar'); ?></div>
	<ul class = "tabs-mobile">
		<li class="item item-menu">Iniciar sesión</li>

		<li class="item item-setting"><a href="<?php echo $block->getBaseUrl();?>cultura-mezcal-aplicacion-movil.html"><i class="fa fa-mobile mobile-icon-bigger"></i></a>App</li>
	</ul>

	<ul>
			<li>
					<div class="mega-menu-content" >
							<div class="container ">
									<div class="row">
											<div class="col-md-4 divisiones npl submenu_izquierda">
													<h3 class="mega-menu-heading "><a class="cmezcal_amain" href="<?php echo $block->getBaseUrl();?>content/category/conoce/" target="_self">CONOCE</a><span class="cmezcal_main cmezcal_sprite cm_conoce pull-right"></span></h3>
													<h4><a class="cmezcal_amain" href="<?php echo $block->getBaseUrl();?>content/category/conoce/cultura/" target="_self"><strong>CULTURA</strong></a></h4>
													<p>Conoce nuestra esencia y atrévete a formar parte de ella.</p>

													<h4><a class="cmezcal_amain" href="<?php echo $block->getBaseUrl();?>content/category/conoce/noticias/" target="_self"><strong>NOTICIAS MEZCALERAS</strong></a></h4>
													<p>Todo lo que necesitas saber acerca del mezcal.</p>

											</div>
											<div class="col-md-4 divisiones submenu_centro">
													<h3 class="mega-menu-heading"><a class="cmezcal_amain" href="<?php echo $block->getBaseUrl();?>content/category/experimenta/" target="_self">EXPERIMENTA</a><span class="cmezcal_main cmezcal_sprite cm_experimenta cm_content pull-right"></span></h3>
													<h4><a class="cmezcal_amain" href="<?php echo $block->getBaseUrl();?>content/category/experimenta/recomendamos/" target="_self"><strong>TE RECOMENDAMOS</strong></a></h4>
													<p>Las mejores sugerencias en lugares <br> y marcas.</p>

													<h4><a class="cmezcal_amain" href="<?php echo $block->getBaseUrl();?>content/category/experimenta/eventos/" target="_self"><strong>EVENTOS</strong></a></h4>
													<p>Cultura Mezcal organiza y participa en los mejores eventos.</p>
											</div>
											<div class="col-md-4 divisiones submenu_derecha">
													<h3 class="mega-menu-heading"><a class="cmezcal_amain" href="<?php echo $block->getBaseUrl();?>compra.html" target="_self">COMPRA</a><span class="cmezcal_main cmezcal_sprite cm_compra pull-right"></span></h3>
													<h4><a class="cmezcal_amain" href="<?php echo $block->getBaseUrl();?>mezcal.html" target="_self"><strong>MEZCAL</strong></a></h4>
													<p>Las mejores marcas a los mejores precios.</p>

													<h4><a class="cmezcal_amain" href="<?php echo $block->getBaseUrl();?>accesorios.html" target="_self"><strong>ACCESORIOS</strong></a></h4>
													<p>Todo lo que necesitas para tener una experiencia sublime.</p>

													<h4><a class="cmezcal_amain" href="<?php echo $block->getBaseUrl();?>experiencias.html" target="_self"><strong>EXPERIENCIAS</strong></a></h4>
													<p>Catas, tours, pláticas, demostraciones.</p>
											</div>
									</div><!--/end row-->
							</div><!--/end container-->
					</div><!--/end mega menu content-->
			</li>
	</ul><!--/end dropdown-menu-->

	<div class="tabs-content-mobile tabs-menu">
		<?php echo $this->getChildHtml("mobilemenu"); ?>
	</div>
	<div class="tabs-content-mobile tabs-setting" style="display:none;">
		<?php echo $this->getChildHtml("top.links"); ?>
		<?php echo $this->getChildHtml("store_language_mobile"); ?>
		<?php echo $this->getChildHtml("currency_mobile"); ?>
	</div>
</div>
<script type="text/javascript">
require(["jquery"], function($){
	$(document).ready(function(){
		<!-- show, hide mobile bar content -->
		$(".mobile-bar-icon").hover(function(){
			
			$(".mobile-bar-content").show();
			$(".mobile-bar-content").addClass("open");
			
		});
		$(".mobile-bar-content").mouseleave(function(){
			$(".mobile-bar-content").hide();
			$(".mobile-bar-content").removeClass("open");
			
		});
		$(".mobile-bar-close").click(function(){
			$(".mobile-bar-content").removeClass("open");
		});

		<!-- choose tabs-->
		$(".tabs-mobile .item-menu").addClass("active");
		$(".tabs-mobile .item").click(function(){
			$(".tabs-mobile .item").removeClass("active");
			$(this).addClass("active");
		});
		$(".tabs-mobile .item-menu").click(function(){
			$(".tabs-content-mobile").css("display","none");
			$(".tabs-menu").css("display","block");
		});
		$(".tabs-mobile .item-account").click(function(){
			$(".tabs-content-mobile").css("display","none");
			$(".tabs-account").css("display","block");
		});
		$(".tabs-mobile .item-setting").click(function(){
			$(".tabs-content-mobile").css("display","none");
			$(".tabs-setting").css("display","block");
		});

	});

	$(window).scroll(function () {
	   if ($(this).scrollTop() > 160) {
		 $('.header-container').addClass("fix-nav-ozmegamenu");
	   } else {
		$('.header-container').removeClass("fix-nav-ozmegamenu");
	   }
	});

});
</script>
<style>
/*Back to top Button
------------------------------------*/
#topcontrol {
  color: #fff;
  z-index: 99;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: #222;
  position: relative;
  right: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
}

#topcontrol:after {
  left: 8.5px;
  content: "\f106";
  position: absolute;
  text-align: center;
  font-family: FontAwesome;
}

#topcontrol:hover {
	color: #fff;
	background: #dd9e58;
	transition: all 0.3s ease-in-out;
}

/*Hiding arrows for select field in IE*/
select::-ms-expand {
  display: none;
}


</style>