<div class="footer-container">
    <div class="top-footer">
        <div class="container-inner">
            <?php echo $block->getLayout()->createBlock('Magento\Newsletter\Block\Subscribe')->setTemplate('Magento_Newsletter::subscribe.phtml')->toHtml();?>

        </div>
    </div>
    <div class="footer-top">
        <div class="container-inner">
            <div class="container">
                <div class="row" id="ubicacion">
                <div class="col-md-3 col-sm-4 col-xs-6 md-margin-bottom-40">
                    <a class="logo" href="/">
                        <img class="footer-logo" src="<?php echo $block->getBaseUrl();?>pub/media/wysiwyg/logo-2.gif" alt="" /></a>
                    <span class="title mobile hidden-md hidden-lg">Mezcal y destilados de agave</span>
                    <a href="https://e.commerce.com.mx" class="dndncom">Ecommerce Cultura Mezcal</a>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-6 info-mezcal">
                    <div class="col-md-12 title padding-left-cero hidden-sm hidden-xs">Mezcal y destilados de agave</div>
                    <!-- Simple List -->
                    <div class="col-md-5 col-sm-6  padding-left-cero">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6">
                                <h2 class="thumb-headline">Correo electr&oacute;nico</h2>
                                <ul class="list-unstyled simple-list margin-bottom-5">
                                    <li><a href="mailto:info@culturamezcal.mx">info@culturamezcal.mx</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-xs-7">
                                <h2 class="thumb-headline">Skype</h2>
                                <ul class="list-unstyled simple-list margin-bottom-5">
                                    <li><a href="skype:culturamezcal?userinfo">Cultura Mezcal M&eacute;xico</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-xs-6">
                                <h2 class="thumb-headline">Tel&eacute;fonos</h2>
                                <ul class="list-unstyled simple-list margin-bottom-5">
                                    <li>M&eacute;xico: (+55) 52 11 04 02</li>
                                    <li>Espa&ntilde;a: (+34) 985 35 33 31</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 padding-left-cero contacto ">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6">
                                <ul class="list-unstyled simple-list margin-bottom-20">
                                    <li><a href="<?php echo $block->getBaseUrl();?>preguntas-frecuentes">Preguntas frecuentes</a></li>
                                    <li><a href="<?php echo $block->getBaseUrl();?>politica-privacidad">Pol&iacute;ticas de privacidad</a></li>
                                    <li><a href="<?php echo $block->getBaseUrl();?>terminos-condiciones">T&eacute;rminos y condiciones</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-xs-7">
                                <h2 class="thumb-headline">Zona de cobertura</h2>
                                <ul class="list-unstyled simple-list margin-bottom-20">
                                    <li><span>Europa, Rusia y M&eacute;xico</span></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-xs-7 HiddeSmall">
                                <h2 class="thumb-headline">&copy;2017 Cultura Mezcal</h2>
                                <ul class="list-unstyled simple-list margin-bottom-20">
                                    <li class="derechos">Todos los derechos reservados</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 hidden-xs hidden-sm padding-left-cero redes_sociales npr">
                        <div class="row">
                            <div class="col-sm-12">
                                <div><a href="https://www.facebook.com/CulturaMezcal" target="_blank"><span class="cmezcal_sprite image_facebook_footer pull-left"></span></a></div>
                                <div><a href="https://www.instagram.com/culturamezcal/" target="_blank"><span class="cmezcal_sprite image_instagram_footer pull-left"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row Colofon redes_sociales hidden-md hidden-lg">
                <div class="col-sm-12">
                                <a href="https://www.facebook.com/CulturaMezcal" target="_blank"><span class="cmezcal_sprite image_facebook_footer"></span></a> <a href="https://www.instagram.com/culturamezcal/" target="_blank"><span class="cmezcal_sprite image_instagram_footer"></span></a>
                            </div>
                <div class="col-md-12">
                    <div class="copy-right"><h2 class="thumb-headline">&copy;2017 Cultura Mezcal</h2>
                                <small>Todos los derechos reservados</small><br>
                            </div>
                </div>

                </div>
        </div>
            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_static')->toHtml();?>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container-inner">
            <div class="container-size">
                <?php echo $this->getChildHtml('copyright')?>
                <?php echo $this->getChildHtml("store_switcher"); ?>
                <div class="footer-payment pull-right">
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_payment')->toHtml();?>
                </div>
                <div id="back_top">
                    <a href="#back-top"><span>>top</span></a>
                </div>

            </div>
        </div>

    </div>

</div>
<div id="topcontrol" onclick="topFunction()" title="" style="position: fixed; bottom: 5px; right: 5px; opacity: 1; cursor: pointer; color: #fff; z-index: 99; width: 30px; height: 30px; font-size: 20px; background: #222;  class=" topcontrol"></div>
<!--
<script src="<?php echo $block->getBaseUrl();?>/assets/jquery.min.js"></script>
<script src="<?php echo $block->getBaseUrl();?>/assets/jquery-migrate.min.js"></script>
<script src="<?php echo $block->getBaseUrl();?>/assets/bootstrap.min.js"></script>
<script src="<?php echo $block->getBaseUrl();?>/assets/back-to-top.js"></script>-->
<script type="text/javascript">
    require(["jquery"], function($) {

        $(window).scroll(function() {
            if ($(this).scrollTop() > 300) {
                $('#back_top').fadeIn();
            } else {
                $('#back_top').fadeOut();
            }
        });
        $('#back_top').click(function() {
            $('body,html').animate({
                scrollTop: 0
            }, 500);
        });
        if (jQuery(window).width() < 767) {
            jQuery('.footer-static .footer-static-title').click(function() {
                jQuery(this).parent('.col-xs').toggleClass('active').siblings().removeClass('active');
                jQuery(this).next('.col-xs .footer-static-content').toggle(300);
                jQuery(this).parent('.col-xs.active').siblings().children('.col-xs .footer-static-content').slideUp(300);
            });

        }

    });

</script>
<script type="text/javascript">
    //Get the button:
    mybutton = document.getElementById("topcontrol");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        //document.body.scrollTop = 0; // For Safari
        //document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        require(["jquery"], function($) {

            $('body,html').animate({
                scrollTop: 0
            }, 500);
        });
    }

</script>
