<?php
/**
* @category Fishpig
* @package Fishpig_Wordpress
* @license http://fishpig.co.uk/license.txt
* @author Ben Tideswell <help@fishpig.co.uk>
*/

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$collectionFactory = $objectManager
                       ->get('FishPig\WordPress\Model\ResourceModel\Post\CollectionFactory');
// Create an empty Post Collection object
$postCollection = $collectionFactory->create();

if(isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on')
     $url = "https://";
else
     $url = "http://";
// Append the host(domain name, ip) to the URL.
$url.= $_SERVER['HTTP_HOST'];

// Append the requested resource location to the URL
$url.= $_SERVER['REQUEST_URI'];

  // Search substring
$category = "Conoce";

$keynoticias = '/content/conoce/noticias';
$keycultura = '/content/conoce/cultura';
$keyconoce = '/category/conoce/';
$keyrecomendamos = '/content/experimenta/recomendamos';
$keyeventos = '/content/experimenta/eventos';
$keymarcas = '/category/experimenta/marcas';
$keyexperimenta = '/category/experimenta/';


if (strpos($url, $keynoticias) == true) {
	$category = "Noticias Mezcaleras";
}
else if(strpos($url, $keycultura) == true){
	$category = "Cultura";
}
else if(strpos($url, $keyconoce) == true){
	$category = "Conoce";
}
else if(strpos($url, $keyrecomendamos) == true){
	$category = "Te Recomendamos";
}
else if(strpos($url, $keyeventos) == true){
	$category = "Eventos";
}
else if(strpos($url, $keymarcas) == true){
	$category = "Marcas";
}
else if(strpos($url, $keyexperimenta) == true){
	$category = "Experimenta";
}
// Filter by a single post_type
$postCollection->addPostTypeFilter('post');
$postCollection->addTermFilter($category, 'category', 'name');
$postCollection->addIsViewableFilter();
$postCollection->getSelect()->orderRand()->limit(10);

//$postCollection->setPageSize(2);
?>
<h3 class="post-related-title">Te Puede Interesar</h3>
<div class="post-footer">
  <?php
  // Check if collection has posts and then loop through
  if (count($postCollection) > 0) {
    $i=1;
    foreach($postCollection as $post) {
    if($i <= 2){
  ?>
    <div class="col-md-6 post">
      <?php if ($image = $post->getImage()): ?>
        <?php //$imageUrl =  $image->getResizer() ? $image->getResizer()->constrainOnly(true)->keepFrame(false)->keepAspectRatio(true)->resize(800, null) : ''?>
        <?php $imageUrl = $image->getThumbnailImage(); ?>
        <div  class="post-image" style="background-image: url(<?php echo $imageUrl ?>); max-width:200px; max-height:200px;">
        </div>
        <div class="post-name">
          <?= $post->getName()?>
        </div>
        <div class="post-action">
          <a href="<?= $post->getUrl();?> " class="action">
            <span><?= $category; ?></span>
          </a>
        </div>
      <?php endif; ?>
    </div>
   <?php
    $i++;
  }else{break;}
    }
  }
  else{
    echo '<span>No hay post relacionados</span>';
  }
  ?>
</div>
