

/********************************************************* Sixplus1 - Cultura Mezcal *****************************************/
/* Ricardo Muñoz- Agosto de 2016*/



.clear{clear: both;}
.absolute{position: absolute}

/******** HEADER CULTURA MEZCAL */
/*Top Bar v3 (currency, language, account etc.)
------------------------------------*/
.topbar-v3 {
    z-index: 99;
    padding: 5px 0 0 0;
    position: relative;
    background: #ffffff;
}
.header-fixed .header-v5.header-fixed-shrink .topbar-v3 {
    padding: 0;
}

@media (max-width: 768px) {
    .topbar-v3 .left-topbar,
    .topbar-v3 .right-topbar {
        text-align: center;
        float: none !important;
    }
}

/*Left Top Bar*/
.topbar-v3 ul.left-topbar {
    padding-left: 0;
    margin-bottom: 1px;
}

.topbar-v3 ul.left-topbar > li {
    display: inline;
    list-style: none;
    position: relative;
    margin-right: 15px;
    padding-bottom: 15px;
}

.topbar-v3 ul.left-topbar > li > a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.topbar-v3 ul.left-topbar > li > a:hover {
    cursor: pointer;
}

/*Currency & Language*/
.topbar-v3 ul.currency,
.topbar-v3 ul.language {
    top: 27px;
    left: -5px;
    z-index: 1;
    display: none;
    padding: 4px 0;
    padding-left: 0;
    list-style: none;
    min-width: 125px;
    position: absolute;
    background: #2a2a2a;
}

@media (max-width: 768px) {
    .topbar-v3 ul.currency,
    .topbar-v3 ul.language {
        top: 20px;
    }
}

.topbar-v3 li:hover ul.currency,
.topbar-v3 li:hover ul.language {
    display: block;
}

.topbar-v3 ul.currency:after,
.topbar-v3 ul.language:after {
    top: -4px;
    width: 0;
    height: 0;
    left: 8px;
    content: " ";
    display: block;
    position: absolute;
    border-bottom: 6px solid #2a2a2a;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-left-style: inset; /*FF fixes*/
    border-right-style: inset; /*FF fixes*/
}

.topbar-v3 ul.currency li a,
.topbar-v3 ul.language li a {
    color: #d1d1d1;
    display: block;
    font-size: 10px;
    padding: 2px 12px;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.topbar-v3 ul.currency li.active a i,
.topbar-v3 ul.language li.active a i {
    color: #d1d1d1;
    float: right;
    margin-top: 2px;
}

.topbar-v3 ul.currency li a:hover,
.topbar-v3 ul.language li a:hover,
.topbar-v3 ul.currency li.active a,
.topbar-v3 ul.language li.active a {
    background: #333;
}

.topbar-v3 ul.currency li a:hover,
.topbar-v3 ul.language li a:hover {
    text-decoration: none;
}

/*Right Top Bar*/
.topbar-v3 .right-topbar {
	border-bottom: solid 1px #CFCFCF;
}

.topbar-v3 .right-topbar li {
    margin-left: 3px;
}

.topbar-v3 .right-topbar li:first-child {
    margin-left: 0;
}

.topbar-v3 .right-topbar li,
.topbar-v3 .right-topbar li a {
    color: #5d6062;
    font-size: 11px;
    text-transform: uppercase;
}

/*Search*/
.topbar-v3 .search {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}

.topbar-v3 .search:hover {
    color: #bbb;
}

.topbar-v3 .search-open {
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    background: #333;
}

.topbar-v3 .search-open .container {
    position: relative;
}

.topbar-v3 .search-open .search-close {
    top: 10px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
}

.topbar-v3 .search-open .form-control {
    padding: 0;
    color: #eee;
    border: none;
    min-height: 35px;
    font-weight: 200;
    background: #333;
}

.topbar-v3 .search-open .form-control:focus {
    box-shadow: none;
}

.topbar-v3 .search-open .form-control::-moz-placeholder {
    color: #eee;
    font-weight: 200;
}
.topbar-v3 .search-open .form-control:-ms-input-placeholder {
    color: #eee;
    font-weight: 200;
}
.topbar-v3 .search-open .form-control::-webkit-input-placeholder {
    color: #eee;
    font-weight: 200;
}

/*
 * Menu Mobile Cutura Mezcal
*/

.cm-menu-mobile {
    display: block; /* This is how it looks on mobile */
}

.cm-mobile-logo{
    display: block;
}

.navbar-desktop{
    display: none;
}

.topbar-v3{
    display: none;
}


@media (min-width: 961px) {
    .cm-menu-mobile {
        display: none !important; /* This is how it looks on desktop */
    }

    .cm-mobile-logo{
        display: none !important;
    }

    .navbar-desktop{
        display: block;
    }

    .topbar-v3{
        display: block;
        margin-top: 7px;
    }

    .topbar-v3:after{
        content: '';
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 57%;
        border-bottom: solid 1px #CFCFCF;
    }
}



/*
 * / Fin Menu Mobile Cultura Mezcal
*/

/*Shop Badge
------------------------------------*/
/*Badge Lists*/
.header-v5 .shop-badge {
    position: relative;
    margin-left: 20px;
    padding: 25px 15px 25px 5px;
}
.header-fixed .header-v5.header-fixed-shrink .shop-badge {
    padding-top: 30px;
}

.header-v5 .shop-badge span.badge {
    top: 20px;
    right: 3px;
    position: absolute;
}
.header-fixed .header-v5.header-fixed-shrink .shop-badge span.badge {
    top: 22px;
}

/*Badge Icons*/
.header-v5 .shop-badge.badge-icons span.badge {
    min-width: 12px;
    padding: 3px 6px;
}

.header-v5 .shop-badge.badge-icons i {
    color: #687074 !important;
    font-size: 18px;
    min-width: 25px;
    margin-left: 40px;
}

/*Badge*/
.header-v5 .shop-badge span.badge {
    font-weight: 400;
    padding: 4px 7px;
}

.header-v5 .shop-badge span.badge-sea {
    background: #5d6062;
}

/*Scrollbar*/
.header-v5 .mCustomScrollbar {
    height: 300px;
}

/*Badge Open*/
.header-v5 .shop-badge:hover .badge-open {
    display: block;
}

.header-v5 .badge-open {
    top: 78px;
    right: 0;
    display: none;
    list-style: none;
    min-width: 300px;
    background: #fff;
    position: absolute;
    border-top: 2px solid #5d6062;
    box-shadow: 0 5px 5px 0px rgba(90,90,90,0.075);
}

.header-v5 .badge-open li {
    margin-top: 15px;
    padding: 15px 20px 0;
    border-top: 1px solid #dedede;
}

.header-v5 .badge-open li:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 20px;
}

.header-v5 .badge-open li:after,
.header-v5 .badge-open li:before {
    content: " ";
    display: table;
}

.header-v5 .badge-open li:after {
    clear: both;
}

.header-v5 .badge-open img {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.header-v5 .badge-open .close {
    line-height: 1.9;
}

.header-v5 .badge-open span {
    margin: 7px 0;
    color: #687074;
    display: block;
    font-size: 14px;
}

.header-v5 .badge-open small {
    color: #999;
    font-size: 14px;
}

/*Subtotal*/
.header-v5 .subtotal {
    padding: 3px 15px 20px;
    background: #fff;
}

.header-v5 .subtotal span {
    color: #555;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    text-transform: uppercase;
}

.header-v5 .subtotal .subtotal-cost {
    color: #5d6062;
}

.header-v5 .subtotal .btn-u {
    font-size: 12px;
}

.header-v5 .subtotal .col-xs-6:first-child {
    padding-right: 8px;
}

.header-v5 .subtotal .col-xs-6:last-child {
    padding-left: 8px;
}

/*Header v5
------------------------------------*/
.header-v5 {
    z-index: 99;
    position: relative;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 9px 0px rgba(50, 50, 50, 0.75);
}

.header-v5 .navbar {
    margin: 0;
}

@media (max-width: 991px) {
    .header-v5 .navbar {
        margin-top: 10px;
    }
}

.header-v5 .navbar-default {
    border: none;
    background: none;
}

/*Navbar Header*/
@media (max-width: 991px) {
    .header-v5 .navbar-header {
        margin-bottom: 7px;
        margin-right: 50px;
    }
    .header-v5 .shop-badge {
        position: absolute;
        top: 0;
        padding: 20px 10px 18px 0;
        z-index: 1000;
    }
    .header-v5 .shop-badge span.badge {
        top: 5px;
        right: 0;
    }
    .header-v5 .badge-open {
        top: 57px;
    }
    /*    .header-v5 .shop-badge:hover .badge-open {
            display: none; /* optional */

    .header-v5 .navbar-brand {
        margin-top: -15px;
    }

    .cms-index-index .container {
        padding-top: 0;
    }
}

.header-v5 .navbar-brand {
    z-index: 1;
    padding: 20px 10px 10px 15px;
}

.header-v5 .navbar-default .navbar-toggle {
    color: #333;
    border: none;
    font-size: 19px;
    margin-top: 10px;
}

.header-v5 .navbar-default .navbar-toggle .icon-bar {
    background: #dd9e58;
}

.header-v5 .navbar-default .navbar-toggle:hover,
.header-v5 .navbar-default .navbar-toggle:focus {
    background: inherit;
}

/*Navbar Collapse*/
.header-v5 .navbar-collapse {
    position: relative;
}

/*Navbar Nav set to centre*/
@media (min-width: 992px) {
    .header-v5 .navbar-nav {
        float: left;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }

    .mosaico_banner {
        height: 227px;
    }

    .mega-menu-content .divisiones:nth-child(1), .mega-menu-content .divisiones:nth-child(2) {
        border-right: 1px solid #ddd;
    }

}

/*Navbar Menu*/
.header-v5 .navbar-default .navbar-nav > li > a {
    color: #687074;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}


.navbar-brand{ /*Logotipo fixed y flotante Cultura Mezcal*/
    float: none;
    position: absolute;
    left: 67px;
}

.header-v5 .navbar-default .navbar-nav > .active > a {
    color: #5d6062;
}

/*Responsive Navbar*/

@media (max-width: 991px) {

    /*Responsive code for max-width: 991px*/
    .header-v5 .navbar-header {
        float: none;
    }
    .header-v5 .navbar-toggle {
        display: block;
    }

    .header-v5 .navbar-collapse.collapse.in {
        display: none !important;
        overflow-y: auto !important;
    }

    .header-v5 .navbar-nav {
        margin: 0;
        float: none !important;
    }

    .header-v5 .navbar-nav > li {
        float: none;
    }

    .header-v5 .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    /*Design for max-width: 991px*/
    .header-v5 .navbar-collapse,
    .header-v5 .navbar-collapse .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .header-v5 .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 9px 10px;
    }

    .header-v5 .navbar-default .navbar-nav > li a {
        border-bottom: solid 1px #eee;
    }

    .header-v5 .navbar-default .navbar-nav > li > a:focus {
        background: none;
    }

    .header-v5 .navbar-default .navbar-nav > li > a:hover {
        color: #5d6062;
    }

    .header-v5 .navbar-default .navbar-nav > .active > a,
    .header-v5 .navbar-default .navbar-nav > .active > a:hover,
    .header-v5 .navbar-default .navbar-nav > .active > a:focus {
        color: #fff !important;
        background: #5d6062;
    }

    .header-v5 .dropdown .dropdown-submenu > a {
        font-size: 13px;
        color: #333 !important;
        text-transform: uppercase;
    }
}

@media (min-width: 992px) {
    /*Navbar Collapse*/
    .header-v5 .navbar-collapse {
        padding: 0;
    }

    .header-v5 .navbar-default .navbar-nav > li > a {
        line-height: 29px;
        padding: 25px 18px 22px;
    }

    .header-v5 .navbar-default .navbar-nav > li > a:last-child {
        padding-right: 15px;
    }

    .header-v5 .navbar-default .navbar-nav > li > a,
    .header-v5 .navbar-default .navbar-nav > li > a:focus {
        border-top: solid 2px transparent;
    }

    .header-v5 .navbar-default .navbar-nav > li > a:hover,
    .header-v5 .navbar-default .navbar-nav > .active > a {
        border-top: solid 2px #fff; /*Sixplus1, hover en menu */
    }

    .header-v5 .navbar-default .navbar-nav > li > a,
    .header-v5 .navbar-default .navbar-nav > li > a:hover,
    .header-v5 .navbar-default .navbar-nav > li > a:focus,
    .header-v5 .navbar-default .navbar-nav > .active > a,
    .header-v5 .navbar-default .navbar-nav > .active > a:hover,
    .header-v5 .navbar-default .navbar-nav > .active > a:focus {
        background: none;
    }

    .header-v5 .navbar-default .navbar-nav > .open > a,
    .header-v5 .navbar-default .navbar-nav > .open > a:hover,
    .header-v5 .navbar-default .navbar-nav > .open > a:focus {
        color: #5d6062;
    }

    .header-v5 .navbar-default .navbar-nav > li:hover > a {
        color: #5d6062;
    }

    /*Dropdown Menu*/
    .header-v5 .dropdown-menu {
        padding: 0;
        border: none;
        min-width: 200px;
        border-radius: 0;
        z-index: 9999 !important;
        border-top: solid 2px #e6e5e6;
        box-shadow: 0 5px 5px 0px rgba(90,90,90,0.075);
    }

    .header-v5 .dropdown-menu li a {
        color: #687074;
        font-size: 14px !important;
        font-weight: 400;
        padding: 8px 15px;
        border-bottom: solid 1px #dedede;
    }

    .header-v5 .dropdown-menu > li > a {
        /*Transition for fixed header*/
        transition: all 0.2s ease;
    }

    .header-v5 .dropdown-menu .active > a,
    .header-v5 .dropdown-menu li > a:hover {
        color: #fff;
        background: #5d6062;
        filter: none !important;
    }

    .header-v5 .dropdown-menu li > a:focus {
        color: inherit;
        background: none;
        filter: none !important;
    }

    .header-v5 .navbar-nav > li.dropdown:hover > .dropdown-menu {
        display: block;
    }

    .header-v5 .open > .dropdown-menu {
        display: none;
    }

    .header-v5 .dropdown-menu li.dropdown-submenu:hover > a {
        color: #fff;
        background: #5d6062;
    }
}

/*Dropdown Submenu for BS3
------------------------------------*/
.header-v5 .dropdown-submenu {
    position: relative;
}

.header-v5 .dropdown > a:after,
.header-v5 .dropdown-submenu > a:after {
    top: 8px;
    right: 9px;
    font-size: 11px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

@media (max-width: 991px) {
    .header-v5 .dropdown-submenu > a:after {
        content: " ";
    }

    .header-v5 .dropdown > a:after {
        top: 9px;
        right: 15px;
        content: "\f107";
    }
}

@media (min-width: 992px) {
    .header-v5 .dropdown > a:after {
        content: " ";
    }
}

.header-v5 .dropdown-submenu > .dropdown-menu {
    top: 3px;
    left: 100%;
    margin-top: -5px;
    margin-left: 0px;
}

/*Submenu comes from LEFT side*/
.header-v5 .dropdown-submenu > .dropdown-menu.submenu-left {
    left: -100%;
}
.header-v5 .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
@media (max-width: 991px) {
    .header-v5 .dropdown-submenu > .dropdown-menu {
        display: block;
        margin-left: 15px;
    }
}

.header-v5 .dropdown-submenu.pull-left {
    float: none;
}

.header-v5 .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

.header-v5 .dropdown-menu li [class^="fa-"],
.header-v5 .dropdown-menu li [class*=" fa-"] {
    left: -3px;
    width: 1.25em;
    margin-right: 1px;
    position: relative;
    text-align: center;
    display: inline-block;
}
.header-v5 .dropdown-menu li [class^="fa-"].fa-lg,
.header-v5 .dropdown-menu li [class*=" fa-"].fa-lg {
    /* increased font size for fa-lg */
    width: 1.5625em;
}





/*Header Fixed
------------------------------------*/
/*Header*/
.header-fixed .header-v5.header-fixed-shrink {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    position: fixed;
    height: 95px;
    margin-top: -23.5px;
    border-bottom: none;
    box-shadow: 0 0 3px #bbb;
    background: rgba(255,255,255, 0.96);
    transition: background 0.4s;
}

/*Topbar*/
.header-fixed .header-v5.header-fixed-shrink .topbar {
    display: none;
}

/*No Topbar*/
.header-fixed .header-v5.no-topbar {
    height: 78px;
}

.header-fixed .header-v5.no-topbar.header-fixed-shrink {
    height: 95px;
    margin-top: -35px;
}

.header-fixed .header-v5.no-topbar.header-fixed-shrink .navbar-brand {
    top: 46px;
}

.header-fixed .header-v5.no-topbar.header-fixed-shrink .shop-badge .badge-open {
    top: 69px;
}

.header-fixed .header-v5.no-topbar.header-fixed-shrink .navbar-nav > li > .dropdown-menu {
    margin-top: -1px;
}

/*Brand*/
.header-fixed .header-v5.header-fixed-shrink .navbar-brand {
    top: 15px;
    z-index: 1;
    /*position: relative; Esto se vuelve a corregir */
    padding: 4px 10px 10px;
}

.header-fixed .header-v5.header-fixed-shrink .navbar-brand img {
    width: 90%;
}

.header-fixed .header-v5.header-fixed-shrink .navbar-nav > li > .dropdown-menu {
    margin-top: -13px; /*Antes 8px, Sixplus1. Se ajusta para el nuevo submenu*/

}

/*Badge List*/
.header-fixed .header-v5.header-fixed-shrink .shop-badge {
    margin-top: -3px;
}

.header-fixed .header-v5.header-fixed-shrink .shop-badge .badge-open {
    top: 77px;
}

@media (max-width: 991px) {
    /*Header*/
    .header-fixed .header-v5,
    .header-fixed .header-v5.header-fixed-shrink,
    .header-fixed .header-v5.no-topbar,
    .header-fixed .header-v5.no-topbar.header-fixed-shrink {
        height: inherit;
        position: relative;
    }
}

@media (min-width: 992px) {
    .header-fixed .header-v5.header-fixed-shrink .navbar-nav > li > a {
        font-size: 15px;
        margin-top: 2px;
        padding: 19px 18px 26px;
    }

    /*No Topbar*/
    .header-fixed .header-v5.no-topbar.header-fixed-shrink .navbar-nav > li > a {
        margin-top: 35px;
        padding: 14px 17px 16px;
    }
}
/*  Efecto similar fIXED Header en version mobile,
    TODO pendiente identificar porque tanto en la version mobile como en la de descritorio hace el salto
    del navbar
*/
@media (max-width: 991px){
    .header-fixed .header-v5.header-fixed-shrink {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        position: fixed;
        height: 53px;
        margin-top: 0px;
        border-bottom: none;
        box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);
        background: rgba(255,255,255, 0.96);
        transition: background 0.4s;
    }
}


.header-static{
    /*box-shadow: 0 0 3px #bbb; Se quita la sombra */
}



/*Mega Menu
------------------------------------*/
.header-v5 .mega-menu .nav,
.header-v5 .mega-menu .dropup,
.header-v5 .mega-menu .dropdown,
.header-v5 .mega-menu .collapse {
    position: static;
}

.header-v5 .mega-menu .navbar-inner,
.header-v5 .mega-menu .container {
    position: relative;
}

.header-v5 .mega-menu .dropdown-menu {
    left: auto;
}

.header-v5 .mega-menu .dropdown-menu > li {
    display: block;
}

.header-v5 .mega-menu .dropdown-submenu .dropdown-menu {
    left: 100%;
}

.header-v5 .mega-menu .nav.pull-right .dropdown-menu {
    right: 0;
}

.header-v5 .mega-menu .mega-menu-content {
    *zoom: 1;
    padding: 20px 10px 35px 0;
}

.header-v5 .mega-menu .mega-menu-content:before,
.header-v5 .mega-menu .mega-menu-content:after {
    content: "";
    display: table;
    line-height: 0;
}

.header-v5 .mega-menu .mega-menu-content:after {
    clear: both;
}

.header-v5 .mega-menu.navbar .nav > li > .dropdown-menu:after,
.header-v5 .mega-menu.navbar .nav > li > .dropdown-menu:before {
    display: none;
}

.header-v5 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
    /*left: 0;
    right: 0;*/
    overflow: hidden;
}

@media (min-width: 992px) {
    .header-v5 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
        /* el width se calcula directo
            margin-left: 10px;
            margin-right: 15px;
        */
        position: absolute;


    }
}

@media (max-width: 991px) {
    .header-v5 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
        width: auto;
    }

    .header-v5 .mega-menu .mega-menu-content {
        padding-right: 0;
    }

    .header-v5 .mega-menu .mega-menu-content [class^="col-"] {
        padding-right: 25px;
    }

    .header-v5 .mega-menu .dropdown-menu > li > ul {
        display: block;
    }
}

/*Bootstrap Container*/
@media (min-width: 768px) {
    .header-v5 .mega-menu .mega-menu-content .container {
        width: 708px;
    }
}

@media (min-width: 992px) {
    .header-v5 .mega-menu .mega-menu-content .container {
        width: 910px;
    }
}

@media (min-width: 1200px) {
    .header-v5 .mega-menu .mega-menu-content .container {
        width: 1110px;
    }
}

/*Dropdown Menu*/
.header-v5 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu li {
    padding-bottom: 5px;
}

.header-v5 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu li a {
    padding: 0;
    border-bottom: none;
}

/*Product Offers*/
.header-v5 img.product-offers:hover {
    opacity: 0.9;
}

/*Style List*/
.header-v5 h3.mega-menu-heading {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid #dedede;
}

.header-v5 h3.mega-menu-heading.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.header-v5 .style-list {
    margin-bottom: 20px;
}

.header-v5 .style-list li a {
    color: #888;
    font-size: 14px;
    margin-right: 5px;
}

.header-v5 .style-list li a:hover {
    color: #5d6062;
    background: none;
    text-decoration: none;
}

.header-v5 .style-list li .label {
    top: -2px;
    position: relative;
}
/********* FOOTER CULTURA MEZCAL */

/*Footer-v4
------------------------------------*/
/*Footer*/
.footer-top  {
    padding: 15px 0 30px 0;
    background: #e8e8e8;
}

.footer-top  p {
    color: #bbb;
    font-size: 14px;
}

.footer-top img.footer-logo {
    margin: 15px 0 20px;
}

.footer-top .address-list li {
    color: #bbb;
    margin-bottom: 7px;
}

.footer-top .address-list li i {
    margin-right: 10px;
    vertical-align: middle;
}

.footer-top .shop-social li i {
    color: #bbb;
    width: 30px;
    height: 30px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    background: #414040;
}

.footer-top .shop-social li i:hover {
    background: #353535;
}

.footer-top h2.thumb-headline {
    color: #2f3030;
    font-size: 13px;
    margin-bottom: -4px;
    font-weight: 400;
    /*text-transform: uppercase;*/
}

.footer-top .simple-list li {
    color: #2f3030;
}

.footer-top .simple-list li.derechos {
    text-transform: none;
}


.footer-top .simple-list a {
    color: #2f3030;
    /*text-transform: uppercase;*/
    font-size: 13px;
}
.footer-top .simple-list {
    font-size: 14px;
    font-weight: 400;
}


/*Copyright*/
.footer-top .copyright {
    padding: 15px 0;
    border-top: none;
    background: #191919;
}

.footer-top .copyright p {
    color: #bbb;
    font-size: 12px;
    margin-top: 13px;
    margin-bottom: 0;
}

.footer-top .copyright a {
    color: #5d6062;
}

.footer-top .sponsors-icons {
    margin-bottom: 0;
}

.footer-top .sponsors-icons i {
    color: #fff;
    font-size: 40px;
}

.footer-top .title {
    border-bottom: 1px solid #fff;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-top  {
    border: none;
}

@media (max-width: 991px) {
    .footer-top .copyright {
        text-align: center;
    }

    .footer-top .copyright p {
        margin-bottom: 15px;
    }

    .footer-top .sponsors-icons.pull-right {
        float: none !important;
    }
}


.footer-top  .terminos {
   text-transform: uppercase;
}

.footer-top .aviso_cookies {
    background-color: #2e2f2c;
    padding-top: 10px;
    position: relative;
}

.footer-top .cookies {
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
}

.footer-top .boton_cierre button {
    background-color: #2e2f2c;
    margin-top: 0px;
    border: none;
}

.footer-top .redes_sociales .col-xs-6  {
    margin-top: 5px;
}

.footer-top .redes_sociales .image_facebook_footer {
    margin-right: 15px;
}


.boton_cookies {
    margin-left: 40px;
}



/******** LAYOUT CULTURA MEZCAL */
@media (min-width:1200px){
    .container{width:998px;position: relative;}
    .header-v5 .mega-menu .mega-menu-content .container {
        width: 960px;
    }
}

@media (min-width: 992px) {
    .header-v5 .mega-menu .mega-menu-content .container {
        width: 960px;
    }
}


.navbar-header .navbar-toggle{
    float: left !important;
}

.header-v5 h3.mega-menu-heading, .header-v5 h3.mega-menu-heading a {
    color: #dd9e58;
    font-size: 23px !important;
    font-weight: 400;
    margin-bottom: 5px;
    padding-bottom: 5px !important;
    text-transform: uppercase;
    border:none;
}

.cmezcal_utilerias{
    border-bottom: 1px solid transparent; /*Color del borde anterior*/
    padding-bottom:5px;
    font-weight:600;
}

.cmezcal_utilerias_sb {
    border-bottom: 0 !important;
}

.cmezcal_utilerias li{
    padding-right: 30px;
}

.udest{
    color: #dd9e58;
}

.cmezcal_menu_barra {
    border-radius: 1px;
    display: inline-block;
    height: 2px;
    width: 22px;
    background-color: #dd9e58;
}

.cmezcal_menu_barra_container{
    width: 20px;
    line-height:2px;
}

.cmezcal_main{
    display: block;
    width: 100px;
    height:30px;
    width: 100px;
    height:30px;
    margin: auto;
}

/***** Grid de Productos y Notas *****/

/*Productos*/
.products-grid{
    position: relative;
}

.products-grid > li.item {
    position: relative;
    margin-bottom: 0;
    text-align: left;
    padding-top: 15px;
    list-style-type: none;
}

.cms-home .products-grid > li.item{
    padding: 0 !important;
}

.products-grid .product-image-container {
    position: relative;
}

.products-grid .product-image{
    width: 100%;
    margin-bottom: 13px;
    background-color: transparent;
    border: none;
}

.products-grid .product-image img{
    margin: 0 auto;
    height: auto;
    max-width: 100%;
}

/*Banner Home Mosaicos*/
.wrapper_mosaico_banner{
    margin: 30px auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 70;
}

@media (max-width: 378px){
    .wrapper_mosaico_banner{
        margin-top: 10px;
    }

}


.mosaico_banner{
    background: #000;
    margin: 10px 0;
    padding: 60px 30px;
    text-align: center;
    background: url("../images/back_blak.png");
    color: #fff !important;
}

@media (max-width: 768px) {
    .mosaico_banner{
        padding: 15px 30px;
    }
}

@media (min-width: 768px) {
    .mosaico_banner{
        margin-top: 106px;
    }
}


.tp-banner{min-height: 470px !important;}

.mosaico_banner h2{
    color: #fff !important;
    font-size: 24px !important;
    font-family: 'Helvetica-Light';
}

/* Newsletter */
.boletin-noticias{
    width: 100%;
    height: 230px;
    background-color: #dd9e58;
    text-align: center;
    color: #fff;
    padding-top:65px;
}

.boletin-noticias .input-box{
    padding: 5px 20px;
}

.boletin-noticias label{
    font-weight: normal !important;
    margin-bottom: 0px;
}

.btn-boletin, .contacto-btn-boletin {
    color:#5d6062;
    border: 0;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    background: #fff !important;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}


.btn-boletin {
    padding: 6px 13px;
}
.contacto-btn-boletin {
    padding: 6px 39px;

}




/* Contacto Home Page */
.contacto-home{
    width: 100%;
    height: 230px;
    background-color: #5e945e;
    text-align: center;
    color: #fff;
    padding-top:70px;
}

.contacto-home .input-box{
    padding: 5px 20px;
    margin-bottom: 10px;
}

.contacto-home label{
    font-weight: normal !important;
    margin-bottom: 0px;
}


/* Notas  */
.notas-grid{
    position: relative;
}

.notas-grid > li.item {
    margin: 0 0 0 10px;
    position: relative;
    margin-bottom: 0;
    text-align: left;
    padding-bottom: 10px;
    list-style-type: none;
    width: 100%;
    float: left;
    padding: 0;
    /*width: 222px; /* Posible medida estandar para grid de notas*/

}

.is-blog .notas-grid > li.item {
    margin-bottom: 50px;
}

.notas-info{
    width:110%;
}

.notas-info button {
    position: inherit;
}

.grid_home .notas-info{
    width:104%;
}

.cms-home .notas-grid > li.item{
}

.notas-grid .nota-image-container {
    position: relative;
}

.notas-grid .product-image{
    width: 100%;
    margin-bottom: 13px;
    padding: 10px;
    background-color: transparent;
}

.notas-grid .notas-image img{
    margin: 0 auto;
    height: auto;
    max-width: 100%;
}

.notas-grid a:hover, .notas-grid a h2:hover {
    color: #dd9e58;
    text-decoration: none !important;
}

.post-list li.recomendados_it:nth-child(4n+1) {
    clear: both !important;
}

.cmezcal_amain{
    font-size: 18px !important;
}

@media only screen and (max-device-width: 767px) {
    .notas-grid > li.item {
        float: none;
    }


    /* Swipe en mobile de las notas */
    .mob_cont_bis{
        width: 106%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        min-height: 345px;

        &::-webkit-scrollbar {
            display: none;
        }

    }


    /* Swipe en mobile de las notas */
    .mob_cont{
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        min-height: 345px;

        &::-webkit-scrollbar {
            display: none;
        }

    }

    .mob_li{
        display: inline-block;
    }


}

/*Merge*/
h2.product-name h2.nota-name {
    font-size: 18px;
    line-height:28px;
    text-transform: capitalize !important;
}
.notas-info h2.nota-name {
    font-size: 18px;
    line-height: 22px;
	height: 46px;
}


h2.nota-name a{
    color: #5d6062 !important;}


.cmezcal_conoce
{
    padding: 0 !important;
    border: 0 !important;
    margin: 5px !important;
}

.cmezcal_conoce img
{
    height: 200px !important;
}

.cmezcal_conoce .news-v2-desc .title
{
    height: 35px !important;
}

.cmezcal_eventos{
    padding: 10px 10px 0px;
    /*max-width: 232px;*/
    border: 1px solid #ccc;
    margin: 5px;
}
.cmezcal_fecha
{
    text-transform: uppercase;
}

.cmezcal_description
{
    text-align: center;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 2em;
}

.cmezcal_eventos img {
    margin: 0 auto;
    width: 265px;
}

.overflow-hidden
{
    overflow-x: hidden;
}

.cmezcal_eventos .contenedor {
    padding:10px;
    border: #cfcfcf 1px solid;
}

.title-eventos{
    text-align: center;
    display: block;
    font-size: 14px;
    margin: 0 auto 10px auto;
}

.ev_conoce_mas{
    color: #00aae3 !important;
}

/* Layout General Estáticas  Landing Pages y Sub Homes */
.cmezcal_title{
    text-align: center;
    color: #5d6062 !important;
    text-transform: capitalize !important;
    border-bottom: none !important;
    padding: 0 28px;
    position: relative;
}
.cmezcal_title div{
    position: absolute;
    margin-top: -37px;
    right: 28px;
}

.cmezcal_title a{
  float:right;
  color: #5d6062 !important;
  font-size: 12px;
  border: 1px solid #5d6062;
  line-height: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.cmezcal_title a:hover{
  color: #ffffff !important;
  font-size: 12px;
  background-color: #00aae3;
  border: 1px solid #00aae3;
  text-decoration: none;
}
/*********** SPRITES **************/
.cmezcal_sprite{
    display: block;
    background: url('../images/sprite.png') no-repeat;
}

.cm_conoce{
    background-position: -52px -312px;
    width: 48px;
    height: 20px;
}

.cm_conoce{
    background-position: -52px -312px;
    width: 48px;
    height: 20px;
}

.cm_experimenta{
    background-position: -129px -312px;
    width: 48px;
    height: 20px;
}

.cm_compra{
    background-position: -202px -312px;
    width: 48px;
    height: 20px;
}

.img_nuevo {
    background-position: -119px -359px;
    width: 68px;
    height: 19px;
}

.img_descuento {
    background-position: -204px -351px;
    width: 58px;
    height: 34px;
}

.img_descuento_c {
    background-position: -146px -394px;
    width: 44px;
    height: 25px;
}



.caja { border: 1px solid #f00;}
.posrel { position: relative;}
.dib { display: inline-block;}

.npr {
  padding-right: 0px !important;
}

.boton_cierre {
  padding-right: 0px !important;
  position: absolute;
  top: 0;
  right: 0;
  margin: 3px;
}

.npl {
    padding-left: 0px !important;
}

/* Inicio De Estilos Francisco Sixplus1 */

/* newslleter */
.image_sup_izq_agave {
    background-position: -189px -78px;
    width: 20px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
 }

 .image_sup_der_agave {
    background-position: -240px -78px;
    width: 20px;
    height: 24px;
    margin-top: 10px;
    margin-right: 10px;
 }

 .image_inf_izq_agave {
    background-position: -190px -118px;
    width: 24px;
    height: 20px;
 }

 .image_inf_der_agave {
    background-position: -235px -118px;
    width: 24px;
    height: 20px;
 }

.image_carrito {
    background-position: -110px -240px;
    width: 19px;
    height: 16px;
}

.image_corazon {
    background-position: -74px -241px;
    width: 18px;
    height: 15px;
}

.image_circulo_blanco {
    background-position: -16px -228px;
    width: 12px;
    height: 12px;
}
.image_circulo_naranja {
    background-position: -43px -282px;
    width: 12px;
    height: 12px;
}

.image_facebook {
    background-position: -161px -236px;
    width: 20px;
    height: 20px;
}

.image_twitter {
    background-position: -201px -236px;
    width: 20px;
    height: 20px;
}

.image_mail     {
    background-position: -241px -236px;
    width: 20px;
    height: 20px;
}

.image_facebook_footer {
    background-position: -14px -182px;
    width: 23px;
    height: 23px;
}
.image_instagram_footer {
    background-position: -57px -182px;
    width: 23px;
    height: 23px;
}
.image_boton_cierre {
    background-position: -127px -182px;
    width: 24px;
    height: 24px;
}
.image_boton_conoce_mas {
    background-position: -173px -180px;
    width: 29px;
    height: 29px;
}






.imagen_inf_izq_uno, .imagen_inf_izq_dos  {
    margin-top: 25px;
    margin-left: 10px;
}

.imagen_inf_der_uno, .imagen_inf_der_dos  {
    margin-top: 25px;
    margin-right: 10px;
}

.imagen_inf_izq_dos  {
    margin-top: 10px;
    margin-left: 10px;
}

.imagen_inf_der_dos  {
    margin-top: 9px;
    margin-right: 10px;
}



@media (max-width: 331px) {

   .imagen_inf_izq_uno {
        margin-top: 10px;
        margin-left: 10px;
    }
    .imagen_inf_der_uno {
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 321px) {

   .imagen_inf_izq_dos {
        margin-top: -6px;
        margin-left: 10px;
    }
    .imagen_inf_der_dos {
        margin-top: -6px;
        margin-right: 10px;
    }
}

.boletin-noticias .input-box  input, .contacto-home .input-box input{
    width: 100% !important;
}

.boletin-noticias .input-box input {
     background-color: #dd9e58;
     border: 1px solid #fff;
     color: #fff;
}

.boletin-noticias .input-box input:focus {
     border: 1px solid #fff !important;
}

.contacto-home .input-box input{
     background-color: #5e945e;
     border: 1px solid #fff;
}


.boletin-noticias .input-box input::-webkit-input-placeholder {
    font-size: 13px;
    color: #fff;
}
.boletin-noticias .input-box input:-moz-placeholder {
    font-size: 13px;
    color: #fff;
}
.boletin-noticias .input-box input:-ms-input-placeholder {
    font-size: 13px;
    color: #fff;
}

.contacto-home .input-box input::-webkit-input-placeholder {
    font-size: 13px;
    color: #fff;
}
.contacto-home .input-box input:-moz-placeholder {
    font-size: 13px;
    color: #fff;
}
.contacto-home .input-box input:-ms-input-placeholder {
    font-size: 13px;
    color: #fff;
}

.navbar-header button {
    display: none;
}

/* Imagen Flor en Tiendas y Marcas  */

.image_flor {
    background-position: -131px -78px;
    width: 20px;
    height: 20px;
}

.padding-left-cero {
    padding-left: 0px !important;
}
.padding_cero {
    padding: 0 !important;
}
.row_cero {
    margin-left: 0 !important;
}
.dbi {
    display: inline-block;
}

.heading-v1 h2:before,
.heading-v1 h2:after {
    top: 16px;
    height: 1px;
    width: 90%;
    border: 1px solid #ddd;
}

.relacionados_nota .heading-v1 h2:before,
.relacionados_nota .heading-v1 h2:after {
    width: 20%;
}

.recomendados_it{
    height: auto;
}

.recomendados_btn{
    left: 15px;
}

.tienda h2 .titulo, .marcas h2 .titulo {
    font-family: Benguiat;
    font-size: 1.1em;
     color: #636363;
}

.bloque_lineas  .izquierdo {
    margin-right: 3%;
}
.bloque_lineas  .derecho {
    margin-left: 3%;
}

.bloque_lineas h2 {
    width: 100%;
}



/* Submenu */
.mega-menu-content .divisiones {
    margin-top: 5px;
    height: 260px;
}

.mega-menu-content .divisiones h4 {
    margin-bottom: 0px;
}
.mega-menu-content .divisiones p {
    margin-bottom: 20px;
}


.mega-menu-content .divisiones:nth-child(1),
.mega-menu-content .divisiones:nth-child(2) {
    border-right: 1px solid #ddd;
}



/* nota principal */

.imagen_nota_principal {
    background-position: -16px -61px;
    width: 86px;
    height: 88px;
    margin-top: 15px;
}

.nota_princuipal {
    position: relative;
}

.destacado {
   /*background:  url(../images/front/proceXIV.jpg) !important;*/
}

.nota_principal_destacada {
    width: 100%;
    height: 100%;
    padding-top: 8%;
    margin-top: 20px;
}

.boton_nota_principal {
    color: #fff;
    padding: 5px 15px;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 12px;
    margin-top: 10px;
}

.overflow-h {
    position: relative;
}

.overflow-h .titulo_sobre_imagen {
    position: absolute;
    bottom: 30px;
    left: 15px;
    color: #fff;
    font-size: 23px;
    bottom: 30px;
    color: #fff;
    text-transform: uppercase;
}

.nota_principal_destacada .titulo {
    color: #fff;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: lighter;
}

.nota_principal_destacada .editorial {
    color: #fff;
    font-style: italic;
}


.nota_principal_destacada .resumen {
    color: #fff;
    font-size: 14px;
}

.overflow-h .btn-u-green {
    position: absolute;
    bottom: 0px;
    left: 15px;
    font-size: 11px;
    padding: 4px 14px;
}

/* bloques de LINEA TEXTO LINEA */

.linea-v1 h2 {
    width: 100%;
    font-size: 18px;

}
.linea-v1 h2 .titulo  {
    font-size: 1.8em !important;
    text-transform: none;
}

.linea-v1 .bloque_lineas { width: 100%; text-align: center;}
.linea-v1 .texto_central  { width: 50%; }

.linea-v1 .linea_izquierda, .linea-v1 .linea_derecha{  width: 21%; }

.linea-v1 .linea_izquierda, .linea-v1 .linea_derecha, .linea-v1 .texto_central {
    display: inline-block;
}

.linea-v1 .linea_izquierda h2 {
    position: relative;
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
}
.linea-v1 .linea_derecha h2 {
    position: relative;
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right;
}

.linea-v1 h2 .image_flor {
    position: relative;
    top: 3px;
}

@media (max-width: 1200px) {

    .linea-v1 .linea_izquierda,  .linea-v1 .linea_derecha{  width: 31%; }
    .linea-v1 .texto_central { width: 36%; }
    .linea-v1 h2 .image_flor {
        display: none;
    }
    .linea-v1 .linea_izquierda,  .linea-v1 .linea_derecha {
        display: none;
    }

    .linea-v1 h2 {
        margin: 0px;
    }

    .wordpress-post-view .content {
        padding-top: 0;
        padding-bottom: 0;
    }

    .wordpress-post-view .filter-by-block {
        margin-bottom: 0;
    }

}

@media (max-width: 768px) {

    .linea-v1 .linea_izquierda, .linea-v1 .linea_derecha {
        width: 25%;
         }
    .linea-v1 .texto_central {
        width: 40%;
    }

    .linea-v1 h2 .titulo  {
        font-size: 0.9em !important;
    }

}

@media (max-width: 644px) {

    .linea-v1 .linea_izquierda, .linea-v1 .linea_derecha {
        width: 18%;
         }
    .linea-v1 .texto_central {
        width: 55%;
    }
}

@media (max-width: 414px) {

    .linea-v1 .linea_izquierda, .linea-v1 .linea_derecha {
         width: 17%;
      }
    .linea-v1 .texto_central {
        width: 60%;
        }
}

@media (max-width: 375px) {

    .linea-v1 .linea_izquierda, .linea-v1 .linea_derecha {
         width: 8%;
      }
    .linea-v1 .texto_central {
        width: 67%;
     }
}

/* lineas en marcas homepage  */

.linea-v2 h2 {
    position: inherit;
}

.linea-v2 .bloque_lineas { width: 100%; text-align: center; }
.linea-v2 .linea_izquierda, .linea-v2 .linea_derecha{  width: 30%; }
.linea-v2 .texto_central { width: 25%; }

.linea-v2 .linea_izquierda, .linea-v2 .linea_derecha, .linea-v2 .texto_central {
    display: inline-block;
}

.linea-v2 .linea_izquierda h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right;
}
.linea-v2 .linea_derecha h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
}



@media (max-width: 1200px) {

    .linea-v2 .linea_izquierda,  .linea-v2 .linea_derecha{  width: 25%; }
    .linea-v2 .texto_central { width: 39%; }
}

@media (max-width: 768px) {

    .linea-v2 .linea_izquierda, .linea-v2 .linea_derecha {
        width: 30%;
         }
    .linea-v2 .texto_central {
        width: 32%;
    }
}

@media (max-width: 644px) {

    .linea-v2 .linea_izquierda, .linea-v2 .linea_derecha {
        width: 25%;
         }
    .linea-v2 .texto_central {
        width: 35%;
    }
}

@media (max-width: 414px) {

    .linea-v2 .linea_izquierda, .linea-v2 .linea_derecha {
         width: 20%;
      }
    .linea-v2 .texto_central {
        width: 50%;
      }
}

@media (max-width: 375px) {

    .linea-v2 .linea_izquierda, .linea-v2 .linea_derecha {
         width: 10%;
      }
    .linea-v2 .texto_central {
        width: 65%;
     }
      .marcas h2 .titulo {
        font-size: 1.0em;
      }
}



/* Inicia linea divisoria */


/* lineas en marcas homepage  */

.linea-v21 h2 {
    position: inherit;
}

.linea-v21 .bloque_lineas { width: 100%; text-align: center; }
.linea-v21 .linea_izquierda, .linea-v21 .linea_derecha{  width: 42%; }
.linea-v21 .texto_central { width: 0%; }

.linea-v21 .linea_izquierda, .linea-v21 .linea_derecha, .linea-v21 .texto_central {
    display: inline-block;
}

.linea-v21 .linea_izquierda h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 105%;
    text-align: right;
}
.linea-v21 .linea_derecha h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 105%;
    text-align: left;
}



@media (max-width: 1200px) {

    .linea-v21 .linea_izquierda,  .linea-v21 .linea_derecha{  width: 43%; }
    .linea-v21 .texto_central { width: 0%; }
}

@media (max-width: 768px) {

    .linea-v21 .linea_izquierda, .linea-v21 .linea_derecha { width: 42%; }
    .linea-v21 .texto_central { width: 0%; }
}

@media (max-width: 644px) {

    .linea-v21 .linea_izquierda, .linea-v21 .linea_derecha { width: 42%; }
    .linea-v21 .texto_central { width: 0%; }
}

@media (max-width: 414px) {

    .linea-v21 .linea_izquierda, .linea-v21 .linea_derecha {  width: 42%;  }
    .linea-v21 .texto_central { width: 0%; }
}

@media (max-width: 375px) {

    .linea-v21 .linea_izquierda, .linea-v21 .linea_derecha {  width: 42%;  }
    .linea-v21 .texto_central { width: 0%;  }
}


/* lineas en tiendas homepage  */

.linea-v3 .bloque_lineas { width: 100%; text-align: center;}

.linea-v3 .texto_central { width: 24%; }
.linea-v3 .linea_izquierda, .linea-v3 .linea_derecha{  width: 31%; }

.linea-v3 .linea_izquierda, .linea-v3 .linea_derecha, .linea-v3 .texto_central {
    display: inline-block;
}

.linea-v3 .linea_izquierda h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
}
.linea-v3 .linea_derecha h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right;
}


@media (max-width: 1200px) {

    .linea-v3 .linea_izquierda,  .linea-v3 .linea_derecha{  width: 25%; }
    .linea-v3 .texto_central { width: 39%; }
}

@media (max-width: 768px) {

    .linea-v3 .linea_izquierda, .linea-v3 .linea_derecha {
        width: 25%;
         }
    .linea-v3 .texto_central {
        width: 40%;
    }
}

@media (max-width: 644px) {

    .linea-v3 .linea_izquierda, .linea-v3 .linea_derecha {
        width: 25%;
         }
    .linea-v3 .texto_central {
        width: 32%;
    }
}

@media (max-width: 414px) {

    .linea-v3 .linea_izquierda, .linea-v3 .linea_derecha {
         width: 20%;
      }
    .linea-v3 .texto_central {
        width: 50%;
        }
}

@media (max-width: 375px) {

    .linea-v3 .linea_izquierda, .linea-v3 .linea_derecha {
         width: 10%;
      }
    .linea-v3 .texto_central {
        width: 65%;
     }
}



/* lineas en TE PUEDE INTERESAR   */

.linea-v4 h2 {
    width: 100%;
}
.linea-v4 h2 .titulo, .linea-v5 h2 .titulo {
    font-size: 1.2em !important;
}

.linea-v4 h2, .linea-v5 h2 {
    font-size: 15px;
}

.linea-v4 h2 {
    position: relative;
    top: 5px;
}
.linea-v4 .bloque_lineas { width: 100%; text-align: center;}

/* lo unico que cambia */
.linea-v4 .texto_central { width: 52%; }
.linea-v4 .linea_izquierda, .linea-v4 .linea_derecha{  width: 19%; }

/* lo unico que cambia */

.linea-v4 .linea_izquierda, .linea-v4 .linea_derecha, .linea-v4 .texto_central {
    display: inline-block;
}

.linea-v4 .linea_izquierda h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
}
.linea-v4 .linea_derecha h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right;
}



@media (max-width: 1200px) {

    .linea-v4 .linea_izquierda,  .linea-v4 .linea_derecha{  width: 31%; }
    .linea-v4 .texto_central { width: 36%; }
}

@media (max-width: 768px) {

    .linea-v4 .linea_izquierda, .linea-v4 .linea_derecha {
        width: 25%;
         }
    .linea-v4 .texto_central {
        width: 40%;
    }
}

@media (max-width: 644px) {

    .linea-v4 .linea_izquierda, .linea-v4 .linea_derecha {
        width: 18%;
         }
    .linea-v4 .texto_central {
        width: 55%;
    }
}

@media (max-width: 414px) {

    .linea-v4 .linea_izquierda, .linea-v4 .linea_derecha {
         width: 17%;
      }
    .linea-v4 .texto_central {
        width: 60%;
        }
}

@media (max-width: 375px) {

    .linea-v4 .linea_izquierda, .linea-v4 .linea_derecha {
         width: 11%;
      }
    .linea-v4 .texto_central {
        width: 74%;
     }
}


.linea-v5 {
    clear: both;
}
.linea-v5 .bloque_lineas { width: 100%; text-align: center;}

.linea-v5 h2 {
    position: relative;
    top: 5px;
    width: 100%;
}

.linea-v5 .texto_central { width: 24%; }
.linea-v5 .linea_izquierda, .linea-v5 .linea_derecha{  width: 36%; }


.linea-v5 .linea_izquierda, .linea-v5 .linea_derecha, .linea-v5 .texto_central {
    display: inline-block;
}

.linea-v5 .linea_izquierda h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
}
.linea-v5 .linea_derecha h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right;
}


@media (max-width: 1200px) {

    .linea-v5 .linea_izquierda,  .linea-v5 .linea_derecha{  width: 40%; }
    .linea-v5 .texto_central { width: 18%; }
}

@media (max-width: 768px) {

    .linea-v5 .linea_izquierda, .linea-v5 .linea_derecha {
        width: 25%;
         }
    .linea-v5 .texto_central {
        width: 40%;
    }
}

@media (max-width: 644px) {

    .linea-v5 .linea_izquierda, .linea-v5 .linea_derecha {
        width: 30%;
         }
    .linea-v5 .texto_central {
        width: 32%;
    }
}

@media (max-width: 414px) {

    .linea-v5 .linea_izquierda, .linea-v5 .linea_derecha {
         width: 33%;
      }
    .linea-v5 .texto_central {
        width: 30%;
        }
}

@media (max-width: 375px) {

    .linea-v5 .linea_izquierda, .linea-v5 .linea_derecha {
         width: 32%;
      }
    .linea-v5 .texto_central {
        width: 33%;
     }
}

/* subtitulo EN RESUMEN   */

.linea-v6 .bloque_lineas {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -13px;
}

.linea-v6 h2 {
    position: relative;
    top: 5px;
}
.linea-v6 {
    position: relative;
}

/* lo unico que cambia */
.linea-v6 .texto_central { width: 50%; }
.linea-v6 .linea_izquierda, .linea-v6 .linea_derecha{  width: 24%; }

/* lo unico que cambia */

.linea-v6 .linea_izquierda, .linea-v6 .linea_derecha, .linea-v6 .texto_central {
    display: inline-block;
}

.linea-v6 .linea_izquierda h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
}
.linea-v6 .linea_derecha h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right;
}


@media (max-width: 1200px) {

    .linea-v6 .linea_izquierda,  .linea-v6 .linea_derecha{  width: 34%; }
    .linea-v6 .texto_central { width: 22%; }
}

@media (max-width: 768px) {

    .linea-v6 .linea_izquierda, .linea-v6 .linea_derecha {
        width: 30%;
         }
    .linea-v6 .texto_central {
        width: 27%;
    }
}

@media (max-width: 644px) {

    .linea-v6 .linea_izquierda, .linea-v6 .linea_derecha {
        width: 25%;
         }
    .linea-v6 .texto_central {
        width: 32%;
    }
}

@media (max-width: 414px) {

    .linea-v6 .linea_izquierda, .linea-v6 .linea_derecha {
         width: 26%;
      }
    .linea-v6 .texto_central {
        width: 45%;
        }
}

@media (max-width: 375px) {

    .linea-v6 .linea_izquierda, .linea-v6 .linea_derecha {
         width: 21%;
      }
    .linea-v6 .texto_central {
        width: 45%;
     }
}

/* subtitulo EN ALGO MAS   */

.linea-v7 {
    position: relative;
}

.linea-v7 .bloque_lineas {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -13px;
}

.linea-v7 h2 {
    position: relative;
    top: 5px;
}

/* lo unico que cambia */
.linea-v7 .texto_central { width: 50%; }
.linea-v7 .linea_izquierda, .linea-v7 .linea_derecha{  width: 24%; }

/* lo unico que cambia */

.linea-v7 .linea_izquierda, .linea-v7 .linea_derecha, .linea-v7 .texto_central {
    display: inline-block;
}

.linea-v7 .linea_izquierda h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
}
.linea-v7 .linea_derecha h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right;
}


@media (max-width: 1200px) {

    .linea-v7 .linea_izquierda,  .linea-v7 .linea_derecha{  width: 34%; }
    .linea-v7 .texto_central { width: 22%; }
}

@media (max-width: 768px) {

    .linea-v7 .linea_izquierda, .linea-v7 .linea_derecha {
        width: 30%;
         }
    .linea-v7 .texto_central {
        width: 27%;
    }
}

@media (max-width: 644px) {

    .linea-v7 .linea_izquierda, .linea-v7 .linea_derecha {
        width: 25%;
         }
    .linea-v7 .texto_central {
        width: 32%;
    }
}

@media (max-width: 414px) {

    .linea-v7 .linea_izquierda, .linea-v7 .linea_derecha {
         width: 26%;
      }
    .linea-v7 .texto_central {
        width: 45%;
        }
}

@media (max-width: 375px) {

    .linea-v7 .linea_izquierda, .linea-v7 .linea_derecha {
         width: 21%;
      }
    .linea-v7 .texto_central {
        width: 45%;
     }
}



/* subtitulo ESPECIAL PARA TI  */

.linea-v8 {
    position: relative;
}

.linea-v8 .bloque_lineas {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -13px;
}

.linea-v8 h2 {
    position: relative;
    top: -3px;
}

/* lo unico que cambia */
.linea-v8 .texto_central { width: 60%; }
.linea-v8 .linea_izquierda, .linea-v8 .linea_derecha{  width: 15%; }

/* lo unico que cambia */

.linea-v8 .linea_izquierda, .linea-v8 .linea_derecha, .linea-v8 .texto_central {
    display: inline-block;
}

.linea-v8 .linea_izquierda h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
}
.linea-v8 .linea_derecha h2 {
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right;
}


@media (max-width: 1200px) {

    .linea-v8 .linea_izquierda,  .linea-v8 .linea_derecha{  width: 15%; }
    .linea-v8 .texto_central { width: 60%; }
}

@media (max-width: 768px) {

    .linea-v8 .linea_izquierda, .linea-v8 .linea_derecha {
        width: 30%;
         }
    .linea-v8 .texto_central {
        width: 27%;
    }
}

@media (max-width: 644px) {

    .linea-v8 .linea_izquierda, .linea-v8 .linea_derecha {
        width: 25%;
         }
    .linea-v8 .texto_central {
        width: 32%;
    }
}

@media (max-width: 414px) {

    .linea-v8 .linea_izquierda, .linea-v8 .linea_derecha {
         width: 26%;
      }
    .linea-v8 .texto_central {
        width: 45%;
        }
}

@media (max-width: 375px) {

    .linea-v8 .linea_izquierda, .linea-v8 .linea_derecha {
         width: 21%;
      }
    .linea-v8 .texto_central {
        width: 45%;
     }
}


/* empieza linea-v9 */

.linea-v9 h2 {
    width: 100%;
    font-size: 18px;

}
.linea-v9 h2 .titulo  {
    font-size: 0.8em !important;
}

.linea-v9 .bloque_lineas { width: 100%; text-align: center;}
.linea-v9 .texto_central  { width: 59%; white-space: nowrap;}

.linea-v9 .linea_izquierda, .linea-v9 .linea_derecha{  width: 11%; }

.linea-v9 .linea_izquierda, .linea-v9 .linea_derecha, .linea-v9 .texto_central {
    display: inline-block;
}

.linea-v9 .linea_izquierda h2 {
    position: relative;
    top: -6px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
}
.linea-v9 .linea_derecha h2 {
    position: relative;
    top: -6px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right;
}

.linea-v9 h2 .image_flor {
    position: relative;
    top: 3px;
}

@media (max-width: 1200px) {

    .linea-v9 .linea_izquierda,  .linea-v1 .linea_derecha{  width: 31%; }
    .linea-v9 .texto_central { width: 36%; }
    .linea-v9 h2 .image_flor {
        display: none;
    }
    .linea-v9 .linea_izquierda,  .linea-v9 .linea_derecha {
        display: none;
    }

    .linea-v9 h2 {
        margin: 0px;
    }

    .linea-v9 h2 .titulo  {
        font-size: 0.5em !important;
    }

    .linea-v9 .bloque_lineas {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {

    .linea-v9 .linea_izquierda, .linea-v9 .linea_derecha {
        width: 25%;
         }
    .linea-v9 .texto_central {
        width: 40%;
    }
}

@media (max-width: 644px) {

    .linea-v9 .linea_izquierda, .linea-v9 .linea_derecha {
        width: 18%;
         }
    .linea-v9 .texto_central {
        width: 55%;
    }
}

@media (max-width: 414px) {

    .linea-v9 .linea_izquierda, .linea-v9 .linea_derecha {
         width: 17%;
      }
    .linea-v9 .texto_central {
        width: 60%;
        }
}

@media (max-width: 375px) {

    .linea-v9 .linea_izquierda, .linea-v9 .linea_derecha {
         width: 8%;
      }
    .linea-v9 .texto_central {
        width: 67%;
     }
}




.texto_central h2 span {
    font-family: Benguiat;
}

/* mobile css */


/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    display: none;
}

/* Float the list items side by side */

.margen_inicio {
    margin-bottom: 20px;
}
.shop-badge {
    clear: both;
    position: relative !important;
}



ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #fff;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:960px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: left;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:960px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

@media (min-width: 961px) {
    .mobile {
        display: none !important;
    }
    .mobile .seccion_uno, .mobile .seccion_dos {
        display: none !important;
    }

}

@media (max-width: 960px) {
    ul.topnav {
        display: block;
    }
    .mobile {
        display: block;

    }
    .mobile img {
        margin-left: -45px;
        margin-top: 7px;
        width: 80%;
    }
    .mobile .shop-badge.badge-icons i {
        margin-left: 0px; }

    .tags-list > li, .tags-list {
        float: left !important;
    }

    .block-content li.item {
        float: left;
    }

    .block-blog-categories {
        width: 100%;
        display: table;
    }

    .especial_para_ti {
        width: 100%;
        display: table;
    }

    .header-v5 ul.topnav {
        margin-bottom: 0px;
    }
.linea_natural {
    display: block;
    border-bottom: 2px solid #bbb;
    padding-top: 15px;
    margin: 0 15px;
}


}

.mobile .seccion_dos {
    width: 95%;
    background-color: #e8e8e8;
    border-top: #bbb solid 1px;
}

/* para evitar bug */
.mobile .seccion_dos {
    display: none;
}



/* Detalle producto */

.add-to-cart-buttons {
    position: relative;
}

.carrito_detalle {
    position: absolute;
    top: 6px;
    left: 18px;
}

.carrito_detalle img {
    width: 20px;
    height: 20px;
}

.carrito_detalle span {
    margin-left: 10px;
}

.qty-control .dn_cantidad {
    border: 1px solid #cecdcd;
    width: 17px;
    height: 30px;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    line-height: 10px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background: #cecdcd;
    position: absolute;
    top: 0px;
    left: 81px;
}
.qty-control .up_cantidad {
    border: 1px solid #cecdcd;
    width: 17px;
    height: 30px;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    line-height: 10px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background: #cecdcd;
    position: absolute;
    position: absolute;
    top: 0px;
    left: 130px;
}


.qty-wrapper .qty-control {
    float: left;
}

.qty-wrapper .cant_piezas  {
    margin-right: 27px;
}

.qty-wrapper .cant_tipo {
    margin-right: 50px;
}

.cant_tipo select {
    height: 30px;
    width: 117px;
}

.add-to-links {
    position: absolute;
    top: 3px;
    left: 10px;
}

.add-to-links a {
    padding: 0!important;
    margin: 0 !important;
}
.add-to-links .corazon  {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -3px;
    left: 277px;
    background-color: #fff;
    border: 1px solid #cecdcd;
    padding: 6px 8px 1px 8px;
}

.add-to-links .corazon.selected {
    background-color: #dd9e58;
    border-color: #dd9e58;
}

.add-to-links .corazon.selected::after {
  content: '\2665';
  color: #fff;
  position: absolute;
  top: -1px;
  left: 7px;
  font-size: 21px;
  font-weight: bold;
}

.add-to-cart-buttons .carrito_comprar {
    margin-left: 20px;
}

@media (max-width: 350px) {

.add-to-links .corazon {
    left: 140px;
    }
}

/* detalle del producto */

.detalles_precio, .detalles_hechura, .detalles_acabado {
    margin-bottom: 15px;

}

.product-shop .detalles_acabado p,
.product-shop .detalles_hechura p,
.product-shop .caracteristicas p,
.t-shop .duracion p,
.t-shop .proceso p {
    margin: 0 !important;
}

.product-shop .price-info {
    margin-top: 25px;
}

.price-info .price-box p {
    display: block;

}
.detalles_hechura span:first-child {
    display: inline-block;
    width: 33%;
    color: #b8b8b8;
}

.detalles_hechura span:nth-child(2),
.detalles_acabado span:nth-child(2),
.detalles_otros span:nth-child(2),
.detalles_procesos span:nth-child(2) {
    color: #666666;
}

.detalles_acabado span:first-child {
    display: inline-block;
    width: 70%;
    color: #b8b8b8;
}

.product-shop .caracteristicas span:first-child {
    display: inline-block;
    width: 37%;
    color: #b8b8b8;
}


.t-shop .duracion span:first-child,
.t-shop .proceso span:first-child

 {
    display: inline-block;
    width: 45%;
    color: #b8b8b8;
}


@media (max-width: 991px) {
    .product-shop .caracteristicas span:first-child {
        width: 40%;
    }
}


/* descripcion de procesos */

.detalles_procesos {
    margin-bottom: 25px;
}
.detalles_otros p,
.detalles_procesos p  {
    margin: 0;
}

.detalles_procesos div {
    margin-left: 30px;
}

.detalles_otros span:first-child {
    display: inline-block;
    width: 35%;
    color: #b8b8b8;
}

.detalles_procesos span:first-child {
    display: inline-block;
    width: 40%;
    color: #b8b8b8;
}

@media (max-width: 991px){

    .detalles {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .detalles_precio .price-info {
        margin-right: 60px;
    }

}


@media (max-height: 961px){
    .footer-top .redes_sociales {
        text-align: center !important;
    }
    .footer-top .redes_sociales .col-xs-6 {
        width: 100% !important;
    }
    .footer-top .redes_sociales .col-xs-6 div {
        display: inline-block;
    }
    .footer-top .redes_sociales .col-xs-6 span {
        float: right !important;
    }
    .footer-top .redes_sociales .image_facebook_footer {
    margin-left: 0;
    }

}



.sharing-links {
    display: none;
}

.mega-menu-content .row {
    margin-left: 0px !important;
}
.mega-menu-content .submenu_izquierda,
.mega-menu-content .submenu_centro  {
    padding-right: 30px;
}

.mega-menu-content .submenu_centro,
.mega-menu-content .submenu_derecha {
    padding-left: 30px;
}
.wrapper_mosaico_banner a:hover {
    text-decoration: none;
}
.product-info .product-name {
    text-transform: capitalize !important;
    font-size: 18px !important;
    width: 106%;
}

.mega-menu-content h4 a strong {
    text-indent: 10px;
}

/* Posicionamiento del grid superior e inferior */
.col-md-especial .col-md-6{
    width: 49.3% !important;
}

.grid_sup_der_uno {
    margin-left: -19px;
}
.grid_inf_izq_uno {
    margin-left: -9px;
}
.grid_inf_izq_dos {
    margin-left: 5px;
}
.grid_inf_der_uno {
    margin-left: 19px;
    padding: 0;
}
.grid_inf_der_dos {
    margin-left: -15px;
}

.modulo_marcas {
    padding-bottom: 0px !important;
}

.recolector {
    padding-top: 0px !important;
}

.breadcrumbs {
    text-align: center;
}

.breadcrumbs ul {
    display: inline-block;
}

.breadcrumbs li:last-child strong {
    color: #636363 !important;
}

.blog{display: none;}

.featured-image {
    border: none !important;
    margin: 0 !important;
}

.destacado {
    padding-right: 7px;
}

.contrasena_titulo h2 {
    text-transform: none !important;
}

#shopping-cart-table .button2 span span {
    text-transform: none !important;
}

.post-view .post-date,
.post-view .post-entry p,
.post-view .post-entry h3  {
    color: #2f3030;
    font-size: 15px;
}

.post-view .post-date,
.post-view .post-entry h3  {
    font-weight: 600;
}

.lugares, .marcas {
    text-align: right;
}

.lugares {
    margin-left: 15px;
    margin-right: -25px;
}

@media (max-width: 991px)  {
    .lugares, .marcas {
        text-align: left;
    }
    .lugares {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

.news-v2-desc .etiquetas  a {
    text-transform: uppercase;
}

.cmezcal_eventos .news-v2-desc .summary {
  height: 60px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}

.cmezcal_eventos .news-v2-desc .title {
  height: 25px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #dd9e58;
}

.cmezcal_eventos .news-v2-desc .title a{
  color: #666666;
  font-family: Benguiat !important;
  font-size: 18px;
}

.cmezcal_eventos .news-v2-desc .tag {
  height: 30px;
  overflow: hidden;
}

@media (max-width:1999px){
    .cmezcal_eventos .news-v2-desc .tag {
        text-align: center;
    }
}

.product-shop .product-name h1 {
    text-transform: none;
}

.new-users h1, .registered-users h1{
    font-size: 25px;
    color: #2f3030;
}

.notas-info button {
    font-family: inherit;

}

@media (max-width: 768px){

    .grid_home {
        width: 262px;
        padding-right: 15px;
    }
    .notas-grid > li.item {
        padding-bottom: 10px;
    }
    .notas-grid  li {
            padding-right: 0;
    }

    .grid_home, .notas-grid {
       overflow: hidden;
       padding-right: 0px;
    }

    .grid_inf_izq_uno,
    .grid_inf_izq_dos, .grid_inf_der_uno,
    .grid_inf_der_dos {
        margin-left: 0px;
    }

    .grid_sup_der_uno {
        margin-left: 4px;
    }



    .notas-grid > li.item, .products-grid {
        margin-left: 0px;
    }
}

.news-v2-desc .conoce_mas {
    position: relative;
}
.news-v2-desc .conoce_mas .texto {
    font-weight: 600;
    position: relative;
    top: -9px;
    left: 7px;
}

.category-products .list {
    padding-left: 0px;
}

#logo-header {
    width: 90%;
}

@media (max-width: 768px){
    .category-products li {
        width: 80% !important;
        float: left !important;
        margin-left: 25px;
    }
    .banner_listado_producto li .tp-bgimg, .banner_listado_producto li {
        display: block;
        max-width: 100%;
    }
}

.wordpress-post-view .page-title h1 {
    text-transform: none !important;
    font-family: Benguiat !important;
    font-weight: 200 !important;
    text-align: center;
}

.page-title .category-patern {
    text-align: center;
    margin-bottom: 0px;
}

.page-title .category-patern a {
    font-size: 12px;
    color: #00aae3;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.cmezcal_title_experimenta {
    font-family: Benguiat !important;
    color: #646464 !important;
}

.product-collateral ul li span {
    font-family: Benguiat;
    color: #666666;
    background-color: none !important;
}

ul.topnav {
    margin-bottom: 25px;
}

ul.topnav li.indentado a {
    margin-left: 15px;
    color: #687074;
}

ul.topnav li.linea_mobil a {
    padding: 3px 16px !important;
}

ul.topnav li.terminado a {
    margin-bottom: 15px;
}


.mobile_logo {
    overflow: hidden;
    width: 80%;
}
.mobile_logo a img {
    margin-left: -4% !important;
}

#post-list {
    overflow: hidden;
}

#myTopnav .inicio_sesion ul {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    -webkit-box-shadow:inset 0px 8px 5px #999;
    -moz-box-shadow:inset 0px 8px 5px #999;
    box-shadow:inset 0px 8px 5px #999;
}

#myTopnav .inicio_sesion ul li:nth-child(1) {
    width: 55%;
    float: left;
    margin: 10px 0;
}
#myTopnav .inicio_sesion ul li:nth-child(2) {
    width: 45%;
    float: left;
    margin: 7px 0;
}
#myTopnav .inicio_sesion ul li a {
  color: #687074;
  font-family: Benguiat;
  padding: 10px 5px 0px 5px;
  text-align: center;
}
#myTopnav .inicio_sesion ul li a span{
  font-family: Benguiat;
  font-size: 16px;
}

#myTopnav .inicio_sesion ul li a:visited  {
    background-color: #f1f1f1;
}

#myTopnav .inicio_sesion ul li:nth-child(1) {
    border-right: 1px solid #687074;
}

#myTopnav .inicio_sesion .fa-user  {
    font-size: 22px;
}
#myTopnav .inicio_sesion .fa-mobile  {
    font-size: 26px;
}
#myTopnav .inicio_sesion i, #myTopnav .inicio_sesion span {
    padding: 0 7px;
}

/* rango completo mobile*/
.navbar-collapse {
    position: relative;
}




.seccion_uno {
    position: absolute !important;
    right: 0px;
}


.product-view .product-collateral ul li:hover .sobrelinea {
    border: 3px solid #666668;
    position: absolute;
    width: 100%;
    top: 39px;
    left: 0px;
}

.product-view .product-collateral ul li.current .sobrelinea {
    border: 3px solid #666668;
    position: absolute;
    width: 100%;
    top: 39px;
    left: 0px;
}

.product-view .product-collateral ul li.current span.espacios{
    color:#141215 !important;
}

.product-view .product-collateral ul {
    border-bottom: 6px solid #cdcdcd;
    margin: 0 40px;
}

.product-view .product-collateral ul li span.espacios {
    color: #cdcdcd !important;
}

.product-view  .product-collateral ul li:hover span {
    color: #141215 !important;
}

.product-view  .product-collateral ul li span.barra {
    width: 100%;
    height: 10px;
}

.product-view  .product-collateral ul li span.barra:before {
    content: "|";
    left: 0;
    position: absolute;
}

.product-view  .product-collateral ul li span.espacios:before {
    content: "|";
    left: 0;
    position: absolute;
}

.product-view  .product-collateral ul li:first-child span.barra:before {
    content: "";
}
/* category-products */
.producto_general .product-collateral ul li .sobrelinea {
    border: 3px solid #666668;
    position: absolute;
    width: 100%;
    top: 39px;
    left: 0px;
}

.producto_general .product-collateral ul li:hover .sobrelinea a {
    text-decoration: underline;
}

.producto_general .product-collateral ul {
    border-bottom: 6px solid #cdcdcd;
    margin: 0 auto;
}

.producto_general .product-collateral ul li span.espacios {
    color: #cdcdcd !important;
    width: 100%;
    display: block;
}

.producto_general .product-collateral ul li span.current {
    color: #666666 !important;
}

.producto_general .product-collateral ul li:hover span {
    color: #666666 !important;
}

.producto_general .product-collateral ul li:hover span a {
    text-decoration: none;
}

.grid_eventos:nth-child(3n+1) {
    clear: both;
}


@media (max-width: 767px){
   .illustration-v3 .illustration-ads:hover .nota_principal {
        width: 100%;
        margin-top: 20px;
   }
}


@media (max-width: 767px){
    .destacado {
        overflow: hidden;
        width: 100%;
    }
    .destacado a {
        margin-top: -11px;
    }
}

@media (max-width: 480px){


    .nota_principal  {
        white-space: normal;
        width: 100%;
    }
}

#post-list li.item {
    margin-bottom: 0 !important;
}

li.recomendados_it:first-child {
    padding-left: 15px;
}

.registered-users .form-list li a,
#review-buttons-container p,
#payment_form_ccsave .input-box a {
    font-family: Quicksand, Arial, sans-serif !important;
}


/* productos relacionados */

.relacionados {
    float: left !important;
    width: 100% !important;
}

#block-related li {
    float: left;
    margin: 0 0 25px 10px !important;
    width: 16.5em;
}

#block-related .product-details {
    clear: both;
}

.relacionados .comprar {
    padding: 5px 25px;
    color: #fff;
    background-color: #dd9e58;
    text-align: center;
    margin-left: 10px;
}

.relacionados .price-box span:first-child {
    padding-left: 0 !important;
}

.relacionados .block-title {
    margin: 20px 0;
}

.relacionados .price-box .old-price {
    padding-left: 0 !important;
}

.relacionados .price-box .old-price .price {
    margin-left: 0px !important;
}

.relacionados li.item:nth-child(4n+1) {
    clear: both;
}

/*
.grid_producto .toggle-tabs {
    width: 73.45% !important;
}*/

.articulo_nuevo {
    position: absolute;
    left: 15px;
    bottom: 10px;
    z-index: 300;
}

.catalogo_prod_inter .catalogo_prod_descuento {
    position: absolute;
    top: -227px;
    right: 10px;
}

.catalogsearch-result-index  .catalogo_prod_inter .catalogo_prod_descuento {
    position: absolute;
    top: -303px;
    right: 10px;
}

.catalogo_prod_porcentaje {
    position: absolute;
    top: 3px;
    left: 6px;
}
.catalogo_prod_porcentaje span, .catalogo_prod_descuento {
    color: #fff;
    font-weight: bold;
}



.product-view  .catalogo_prod_descuento {
    position: absolute;
    top: -5px;
    left: 110px;
}

.relacionados .catalogo_prod_descuento {
    position: absolute;
    top: -253px;
    left: 181px;
}

.relacionados .catalogo_prod_porcentaje {
    position: absolute;
    top: 4px;
    left: 8px;
}

.catalogo_prod_descuento span {
    font-size: inherit !important;
    padding: 0 !important;
	display: none;
}

#notas_relacionadas ul li {
    float: left;
    width: 39%;
}

#notas_relacionadas ul {
    margin-top: 10px;
}

.notas_tienda .block-content li {
    float: left;
}

.notas_tienda .block-content  {
    overflow: hidden;
}

.notas_tienda .block-content ol {
    overflow: hidden;
}

.notas_tienda .block-content li {
    margin-left: 25px !important;
    position: relative;
}

.notas_interesar .block-content {
    overflow: hidden;
}

.notas_interesar  .block-content li {
    margin-left: 32px !important;
}
.especial_para_ti .catalogo_prod_descuento {
    position: absolute;
    top: -206px;
    right: 8px;
}

.banner_detalle_producto .tp-banner {
    min-height: 300px !important;
}

.banner_detalle_producto .owl-wrapper-outer .owl-item {
    width: 100% !important;
}

.banner_detalle_producto .tparrows{
    display: none;
}

.banner_detalle_producto .tp-banner-container:hover .tp-bullets {
    display: block;
}
.banner_detalle_producto .tp-bullets.hidebullets  {
    opacity: 1 !important;
}

.banner_detalle_producto .tp-bullets {
    margin-left: 29% !important;
    bottom: -25px !important;
}

.banner_detalle_producto .tp-bullets .bullet {
    margin-left: 10px !important;
}

.banner_detalle_producto .tp-revslider-mainul li  {
    opacity: 1 !important;
    background-color:rgba(255,255,255,1) !important;
    filter:  alpha(opacity=100) !important;
}

.banner_detalle_producto .tp-revslider-mainul li .slotholder .tp-bgimg  {
    background-size: 100% 100% !important;
    opacity: 1 !important;
    background-color:rgba(255,255,255,1) !important;
    filter:  alpha(opacity=100) !important;
}

.banner_detalle_producto .revolution-mch-1:after {
    background: rgba(0,0,0,0) !important;

}


@media (max-width: 1190px){
    .banner_detalle_producto, .t-shop {
        padding-right: 0 !important;
    }
}

@media (max-width: 434px){
    .banner_detalle_producto .tp-bullets {
        margin-left: 25% !important;
        bottom: -25px !important;
    }
    .banner_detalle_producto .tp-bullets .bullet {
        margin-left: 3px !important;
    }
}

.redes_sociales_comp div {
    display: inline-block;
}
.addthis_inline_share_toolbox .at-share-btn-elements a:nth-child(4) {
    display: none;
}

.redes_sociales_comp .addthis_inline_share_toolbox {
    margin-top: 10px;
    z-index: 2;
    position: relative;
}

.redes_sociales_comp .addthis_inline_share_toolbox .at-share-btn-elements .at4-visually-hidden {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    overflow: hidden;
}


.redes_sociales_comp .at-share-btn-elements a {
    margin-right: 5px;
    background-color: #b8b8b8 !important;
    display: inline-block;
    margin: 0 2px 0px;
    padding: 5px 5px 2px 5px;
    overflow: hidden;
    line-height: 0;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.redes_sociales_comp .compartir {
    margin-right: 10px;
    position: absolute;
}

.redes_sociales_comp .compartir span {
    margin-top: -25px;
    position: relative;
    top: 5px;
    right: 92px;
}


/*barra lateral en filtros */
.sidebar .block-title {
    padding-top: 20px;
}

.sidebar #narrow-by-list dt {
  padding-top: 10px;
  padding-bottom: 10px;
    color: #666666;
    font-weight: bold;
    cursor: pointer;
    padding-left: 5px;
}

.sidebar #narrow-by-list dt::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #dd9e58;
  border-bottom: none;
  left: 200px;
  margin-top: -1px;
}
@media (max-width: 769px) {
  .sidebar #narrow-by-list dt::after {
    left: 96%;
    margin-top: 0px;
  }
}

.sidebar .block-layered-nav .block-content > dl > dd {
    display: none;
}

.sidebar .block-layered-nav .block-content > dl > dd.current {
    padding-top: 3px;
    /*TODO al parecer ese atributo esta causando problemas tanto en escritorio como en mobile
      No permite hacer toogle de la agrupacion actual ne la seccion de filtros de CM*/
    display: block;
}

@media (max-width: 769px) {
  .sidebar .block-layered-nav .block-content > dl > dd {
      margin-left: 5px;

  }
}
.sidebar .block-layered-nav .block-content > dl > dd:nth-child(1) {
    display: block;
}

#sides_mobile {
    clear: both;
}

/* HomePage */
.fixmarg{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.modulo_marcas{
    position: relative;
}

@media (max-width: 769px) {
    .modulo_marcas{
        position: relative;
        display : none;
    }
}

.next_marca, .prev_marca{
    display: block;
    cursor: pointer;
    width: 30px;
    height:25px;
    position: absolute;
}


.next_marca{ right: 0; top: 50%;}
.prev_marca{ left: 0; top: 50%;}

/* Detalle de producto */
.reviews-cultura{
    border-top: 1px solid #cccccc;
    padding: 30px 0;

}
.reviews-cultura .col-md-3{
    text-align: right;
}
.reviews-cultura .col-md-3 strong{
    width: 100%;
    display: block;
    float: right;
}
.reviews-cultura .col-md-9 span{
    color: #dd9e58;
}
#review-form {
  // display: none;
}
.reviews-cultura .col-md-3 .ratings-table{
    margin: 10px 0px;
    float: right;
}

.promedio-general{
    padding: 5px 0 5px 0;
}
.promedio-general .col-md-3{
    padding: 0;
}
.promedio-general .col-md-9 span{
    color: #dd9e58;
    cursor: pointer;
}
.promedio-general .ratings{
    margin: 4px 0 20px 0px;
    float: right;
    width: 34%;
}

.promedio-general .ratings .rating-box{
    margin-left: 0px !important;
}

.maestro_related{
    display: block;
    width: auto;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    margin: 15px 0px 0px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

.cuenta-reviews{
    color: #000;
}

.product-view{
    margin-top: 30px;
}

.circulo_detalle{
    display: block;
    width: 12px;
    height: 12px;
    background-color:#ccc ;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.mobile {
  display: none;
}
@media (max-width: 769px) {
  .mobile {
    display: block;
  }
  #ubicacion {
    padding: 0px 20px;
  }

	.footer-top #ubicacion .col-md-3{
		width: 40%;
    padding: 0;
    text-align: center;
    float: left;
	}

  .footer-top #ubicacion .col-md-3 img{
		width: 100%;
	}

  .footer-top #ubicacion .col-md-3 .title{
		width: 100%;
    color: #000;
    font-weight: 700;
    font-size: 11px;
    border: 0;
	}

	.footer-top #ubicacion .col-md-9{
		width: 60%;
    float: left;
    padding-right: 0;
	}
	.footer-top #ubicacion .col-md-9 .col-sm-3{
		width: 100%;
    float: left;
	}
	.footer-top #ubicacion .col-md-9 .title{
		display: none;
	}
  .footer-top #ubicacion .col-md-9 .col-xs-6 h2.thumb-headline {
    font-size: 12px;
  }
  .footer-top #ubicacion .col-md-9 .col-xs-6  {
    width: 100%;
  }
  .footer-top .simple-list {
    width: 100%;
    font-size: 10px;
  }
  .footer-top .simple-list a {
    font-size: 10px;
  }
  .footer-top .contacto .col-sm-12.col-xs-7{
    display: none;
  }
  .footer-top .redes_sociales{
    display: none;
  }
  .footer-top .conten-copy-right .social-buttons{
    width: 100%;
    float: left;
  }
  .footer-top .conten-copy-right .social-buttons div{
    width: 80px;
    margin: 0 auto;
  }
  .footer-top .conten-copy-right .social-buttons div a.padding50{
    margin-right: 20px;
    float: left;
  }
  .footer-top .conten-copy-right{
    padding-right: 0px;
    display: grid;
    width: 100%;
  }

  .footer-top .conten-copy-right .copy-right{
    text-align: center;
  }
  .footer-top h2.thumb-headline {
    margin-bottom: -8px;
  }
}

.content-product-detail {
  width: 50%;
  float: left;
}

.content-product-detail .product-shop{
    width: 100% !important;
}
.content-product-detail .product-img-box{
  width: 100%;
}
.content-product-detail .add-to-cart-wrapper{
  width: 100% !important;
}

.layer-shadow {
  opacity: .75;
    background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,.2));
    height: 50px;
    width: 100%;
    left: 0;
    bottom:0px;
    position: absolute;

}

#block-related .rating-links{
  display: none;
}

.cmezcal_conoce .news-v2-desc .title a
{
    font-family: Quicksand, 'Open Sans', sans-serif !important;
    font-size: 14px !important;
}
.cmezcal_conoce .news-v2-desc .title
{
    -webkit-box-orient: unset !important;
    line-height: 1.2em !important;
}

@media (max-width: 1199px){
    .cmezcal_conoce .news-v2-desc .title
    {
        text-align: center;
        -webkit-box-orient: vertical !important;
        line-height: 1.2em !important;
    }

}


#cultura_fecha_update_fix
{
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

.text-upper
{
    text-transform: uppercase;
}


.imagen-post-encuadre
{
    height: 35em;
    overflow-y: hidden;
}

.link-conoce
{
    color: green;
}

.link-experimenta
{
    color: #3498db;
}

.revolution-mch-1:after
{
    background: none !important;
}

#content_notas_relacionadas a
{
    color: #636363;
    font-size: 13px;
}

#content_notas_relacionadas a:hover
{
    color: #dd9e58;
    text-decoration: none;
}

a.maestro_related
{
    color: #636363;
}

a.maestro_related:hover
{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none;
}

div.main h1
{
        margin-top: 2em;
}

ul.tags-list, #wp-category-list
{
    display: none;
}


@media only screen and (max-width : 480px) {
    .content-product-detail
    {
        width: 100%;
        float: left;
    }
}



.encuadre
{
    height: 235px;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 414px)
{
    *
    {
        /*border: 0px solid red;*/
    }

    .cmezcal_title div {
        margin-top: 1em !important;
        margin-left: auto;
        margin-right: 2em;
        margin-bottom: 3em;
        position: inherit !important;
    }

    .imagen-post-encuadre
    {
        overflow-y: hidden;
        height: auto;
    }

    .notas_interesar .block-content li
    {
        margin-left: 12px !important;
    }

    .notas_interesar .block-content li:first-child
    {
        margin-right: 2em;
    }

    .news-v2-desc
    {
        width: 265px;
           padding-left: 1.5em;
    }

    .rating-links
    {
        width: 20em;
    }

    .share-link-text,
    .pdf-link-text
    {
        font-size: 10px;
    }
}

.share-pdf-links
{

}

.share-pdf-links .pdf-link
{
    padding-top: .9em
}

.share-pdf-links .pdf-link-text
{
    float: left;
    margin-right: 1em;
    padding-top: .2em;
}

.tag-experimenta
{
    background-color: #00aae3 !important;
}

/*Para los botones de paginacion en Mobile*/
@media only screen and (max-width: 760px) {
    .pages strong {
        display: none;
    }
    /*
    El container para los controles de paginación
     */
    .pages {
        float: left;
        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        z-index: 10;
        background-color: transparent;
    }

    /*
    * La pagina actual
     */
    .pages .current {
        background-color: grey;
        color: #FFF;
    }

    .pages ol {
        width: auto;
        height: auto;
        display: flex;

    }

    .pages ol li {
        float: left;
        display: inline;
        margin: 0 5px 0 0;
        border: 0;
    }


}

/**
    =======================================================================================
    =======================================================================================
    Algunos estilos mas para el home de cultura mezcal
    =======================================================================================
 */

/* Placeholders de los inputs*/
.white-placeholder::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.white-placeholder::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.white-placeholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}

.white-placeholder::-moz-placeholder { /* Firefox 19+ */
    color: white;
}

.white-placeholder:focus::-webkit-input-placeholder {
    opacity: 0.5;
}

.white-placeholder:focus:-ms-input-placeholder {
    opacity: 0.5;
}

.white-placeholder:focus::-moz-placeholder {
    opacity: 0.5;
}
.white-placeholder:focus:-moz-placeholder {
    opacity: 0.5;
}

/*Color del texto ingresado en los formularios para el newsletter y el formulario de solitud de distribuidor*/
.white-placeholder{
    color : white;
}




/**
==========================================================================================
==========================================================================================
    Cultura Mezcal, tamanios custom para algunos iconos
==========================================================================================
 */

/*Icono de mobile*/
.header-v5 .shop-badge.badge-icons .mobile-icon-bigger {
    font-size: 22px;
}
