@media (min-width: 1024px){
.page-products .products-grid .product-item:nth-child(3n + 1) {
    margin-left: 0 !important;
}
}


.review-control-vote label:before,
.review-control-vote:before{
    font-family: 'mezcaldnd' !important;
  }
  .review-control-vote label:before{
    color: #dd9e58 !important;
  }


body.category-compra .category-view .product-collateral ul.tabs li > span a.compra,
body.category-mezcal .category-view .product-collateral ul.tabs li > span a.mezcal,
body.category-accesorios .category-view .product-collateral ul.tabs li > span a.accesorios,
body.category-experiencias .category-view .product-collateral ul.tabs li > span a.experiencias, {
    color: #666668;
    border-bottom: 6px solid #666668 !important;
}

body.page-products .products.wrapper ~ .toolbar .sorter {
    label.sorter-label ,
    .sorter-options,
    .sorter-action{

        display: none;
    }
}


.buscador-categoria .filter-current {
    display: none;
}

.category-image .image{
  display: none;
}

.category-view{
  .category-image  {
      width: 100%;
      position: absolute;
      left: 0;
      z-index: 1000;
      height: 354px;
      margin: 0px;
      top:0;
  }
  .category-description {
    margin-bottom: 20px;
    position: relative;
    margin-left: 40px;
    top: 450px;
}
.category-image.ImagenFullBg {
    background-position-x: 100%;
}


.category-experiencias{
  .message.info{
    margin-left: 40px !important;
  }
}
  .product-collateral {
    position: relative;
    top: 380px;
    width: 100%;
    ul.tabs{
        list-style: none;
        display: block;
        position: relative;
        li{
          float: left;
          width: 25%;
          text-align: center;

          &  > span{
            color: #cdcdcd;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            width: 100%;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 14px;
            position: relative;
            bottom: -1px;
            a{
              width: 100%;
              display: block;
              text-align: center;
              border-bottom: 6px solid #CDCDCD;
              &:before{
                content: "|";
                  position: absolute;
                  color: #cdcdcd;
                  left: 0px;
              }
              &:hover{
                  color: #666668;
                  border-bottom: 6px solid #666668;
              }
            }
          }
        }
        li:first-child {
            border-left: none;
            & > span a:before{
              content: "";
              position: absolute;
              color: #666666;
              left: 0px;
            }
        }
    }
  }
  &+.page-title-wrapper {
    margin-top: 450px;
    h1{
      display: none;
    }
  }

}
.toolbar-products {
  background: #fff !important;
}

//sidebar
.sidebar.sidebar-main{
  margin-top: 430px;
  .block.filter .block-subtitle{
    font-weight: normal;
    width: 100%;
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
    margin-bottom: 0;
  }
  .block.filter .filter-content .filter-options-item .filter-options-content{
    border: none;
    margin-top: 10px;
  }
  .block.filter .filter-content .filter-options-item .filter-options-title
  {
    font-weight: bold;
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
    text-transform: initial;
    font-size: 15px;
    margin-bottom: 0px;
    padding-left: 5px;
  }
  .block.filter{
    p{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 5px;
    }
    .buscador-categoria {
      .field.search input{
        height: 40px;
        /* padding-right: 40px; */
        font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
        font-size: 15px;
      }
      .actions{
        visibility: hidden;
        height: 1px;

      }

    }
  }
}
.sidebar-additional{
  display: none;
}

body.page-products{
  .item .item-inner:hover
  .product-item-info
  .product-action{
    display: none;
  }
  .products.wrapper.grid.products-grid{
      .item.product.product-item{

          span.product-image-wrapper:before {
              opacity: .75;
              background-color: transparent; /* fallback color if gradients are not supported */
              background-image: linear-gradient(to bottom,  rgba(0, 0, 0, 0.2), transparent);
              background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2),transparent); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
              background-image:    -moz-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2)); /* For Firefox (3.6 to 15) */
              background-image:      -o-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2)); /* For old Opera (11.1 to 12.0) */
              //background-image:         linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2)); /* Standard syntax; must be last */
              height: 50px;
              width: 100%;
              left: 0;
              bottom: 0px;
              position: absolute;
              z-index: 999;
              display: block;
              content: ' ';
          }
          .product-item-name>a,
          .product-item-name>a:visited{
              font-weight: 500 !important;
              text-transform: capitalize;
              font-size: 18px;
          }
          .price-box .old-price .price,
          {
              font-size: 18px;
              color: #ccc;
              font-weight: normal;
              font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
          }
          .product-name .product-item-name{
            margin-top: 0px;
          }
      }
  }
  .product-item .special-price .price,
  .product-item .minimal-price .price,
  .item.product.product-item .price-box  .price{
      font-size: 18px;
      color: #888;
      font-weight: normal;
      font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
  }


  // toolbar
  .toolbar-products {
    display: none;
  }
  .products.wrapper ~ .toolbar-products{
    display: block;
  }
  .products.wrapper~.toolbar {
    .sorter {
        text-align: left;
        display: block;
        float: none;
        margin: 5px;
        label.sorter-label {
            text-transform: uppercase;
            font-size: 16px;
            font-family: "Quicksand", "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
            font-weight: 400;
        }
    }
    .limiter {
       display: none;
    }
    .toolbar-amount {
        display: block;
        float: right;
        font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
        white-space: nowrap;
        margin: 0 15px 0 0;
        color: #888;
        font-size: 14px;
    }
    .pages{

      li.item  {
        a.page:visited,
        a.page {
           color: #666668;
        }
        .page > span {
            font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
            font-weight: normal;
            font-size: 13px;
        }
      }
    }

  }

}

// search
.catalogsearch-result-index {
  .sidebar.sidebar-main {
    margin-top: 70px;
}
}
