
.form-instructions {
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    color: #a0a0a0;
}
body.customer-account-index{
  .block.account-nav a.link_cerrar_sesion {
    display: none;
}  
}

body.customer-account-create,
body.customer-account-login,
body.customer-account-forgotpassword{
  .brandslider-container,
  .top-footer{
    display: none !important;
  }
}
body.account {
  .page-footer{
    margin-top: 50px;
  }
}
body.account
div.actions-toolbar
div.primary
button.action.primary{
    width: 100%;
    background: #dd9e58;
    padding: 7px 15px !important;
    color: #FFFFFF;
    font-weight: normal;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
  }

// Login
.login-container{
  margin-top: 60px;
  .block.block.block-customer-login{
    float: right;
    padding-left: 60px;
    border-left: 1px solid #ededed;
    .fieldset.login{
      &::after{
        display: none;
      }
      label{
        font-size: 16px;
        color: #666;
        margin-bottom: 5px;
      }
      div.control{
        display: block;
        clear: both;
        width: 100%;
      }
      &>.field {
          margin: 0 0 10px;
      }
      .actions-toolbar{
        margin-top: 60px;

      }
    }
  }
}

.block.block.block-customer-login,
.block.block-new-customer{

  .block-title {
    border-bottom: none;
    margin-bottom: 10px;
    padding-bottom: 0;
    strong {
      font-size: 25px;
      color: #2f3030;
      text-transform: none;
      font-weight: bold;
    }
  }
  .block-content > p,
  .field.note{
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    color: #a0a0a0;
    margin-bottom: 7px;
  }
  ul.benefits {
    margin-bottom: 60px;
  }
  .field.password {
    margin-bottom: 60px;
  }
  p.required {
    margin: 5px 0 0;
    color: #df280a;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 5px;
    float: right;
    font-size: 12px;
    margin-top: 0px;
  }
  .actions-toolbar{
    div.primary{
      min-width: 50%;
      button.primary,
      a.primary{
        width: 100%;
        background: #dd9e58;
        padding: 7px 15px !important;
        color: #FFFFFF;
        font-weight: normal;
        font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}


// account-create
fieldset.fieldset.create.info{
  margin-bottom: 10px;
}

fieldset.fieldset.create.info,
fieldset.fieldset.create.account{
  margin-left: 30px;
  &>.field{
    margin: 0 0 10px;
  }
  &>.legend {
      display: none;
  }
  label{
    font-size: 16px;
    color: #666;
    margin-bottom: 10px !important;
    text-align: left !important;
  }
  div.control{
    width: 365px;
    display: block;
    clear: both;
  }

}

.form-create-account{
  .actions-toolbar{
    width: 70%;
    padding: 0px 60px;
    .primary{
      float:right;
    }
    .secondary{
      float:left;
    }
    button{
      width: 100%;
      background: #dd9e58;
      padding: 7px 15px !important;
      color: #FFFFFF;
      font-weight: normal;
      font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}


// Pefil
body.account{
  .brandslider-container,
  .top-footer{
    display: none !important;
  }
  .sidebar.sidebar-main {
    margin-top: 60px;
      .block-collapsible-nav {
        .title {
          border-bottom:none;
          padding-bottom: 0;
          & > strong{
            font-weight:normal;
          }
        }
       .content ul.nav {
        text-transform: uppercase;
        background: none;
        & > li > a{
          padding: 7px 0px;
        }
        & > li > a:hover{
              background: none;
        }
        & > li.current > strong {
            background-color: #eee;
            background: none;
            font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
            font-weight: 400;
          }
        }
    }
  }

  div.column.main
  div.block-title{
    margin-top: 30px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 7px;
    &>strong{
      font-size: 15px !important;
      font-weight: 600 !important;
      display: inline-block;
      margin-bottom: 0 !important;
      text-transform: none;
      color: #687074;
      font-family: Quicksand, "Open Sans", Arial, sans-serif;
    }

  }
  .box-title{
    &>span{
      color: #687074;
    }
  }
  div.box-content>p,
  div.box-content>address{
    color: #687074;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
  }

  .block-block-dashboard-info,
  .block-dashboard-addresses{
    padding-bottom: 40px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 45px;
  }
  .table:not(.cart):not(.totals)>thead>tr>th,{
    border-bottom: 1px solid #d1d1d1;
    background: #f4f4f4;
    text-transform: uppercase;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    line-height: 1.4;
    white-space: nowrap;
    font-weight: 400 !important;
    font-size: 14px;
    color: #666;
    padding: 10px 10px 40px 10px;
    vertical-align: top;
  }
  .table-wrapper .action {
      margin-right: 15px;
      display: block;
      text-transform: uppercase;
      text-align: center;
  }

  fieldset.fieldset,
  fieldset.fieldset{
    margin-left: 30px;
    &>.field{
      margin: 0 0 10px;
    }
    &>.legend {
        display: none;
    }
    label.label{
      font-size: 16px;
      color: #666;
      margin-bottom: 10px !important;
      text-align: left !important;
    }
    div.control{
      width: 365px;
      display: block;
      clear: both;
    }

  }
  // Internas
  .block.block-addresses-default,
  .block.block-addresses-list{
     & + .actions-toolbar{
      margin-bottom:40px;
    }
    width: 49%;
    padding-right: 10%;
    display: inline-block;
    vertical-align: top;

    div.block-title{
      margin-top:0px;
      border-bottom: none !important;
      &>strong{
        font-weight: normal !important;
      }

    }
    div.block-content{
      .box.box-billing-address,
      .box.box-address-shipping{
        width:100% !important;
        .box-title{
          margin-bottom: 10px;
          margin-top: 5px;
        }
        .box-content > p,
        .box-content > address{
          font-style: normal;
          font-family: Quicksand, 'Open Sans', sans-serif;
          font-size:14px;
        }
      }
    }
  }
}
//Detalle del pedido
body.sales-order-view{
  .box.box-order-shipping-address,
  .box.box-order-shipping-method,
  .box.box-order-billing-address,
  .box.box-order-billing-method  {
    .box-title{
      width: 150px;
      padding-right: 10px;
      float: left;
    }
    .box-content{
      float: left;
      width: 50%;
      address{
        font-family: inherit;
      font-style: normal;
      }
    }
  }
}

body.account.customer-account-edit{
  fieldset{
    margin-left: 0px;
  }
  fieldset.fieldset{
    &>.legend {
        display: block;
        margin-top: 20px;
    }
  }
}

body.account.wishlist-index-index{
  .actions-toolbar{
    margin-bottom: 40px;
    border-top: 1px #ededed solid;
    border-top: 1px solid #ededed;
    padding: 10px;
    .primary button.action{
      background: none;
      border: none;
      color: #dd9e58;
      font-weight: normal;
      text-decoration: underline;
      &.tocart{
        display: none;
      }
    }
  }
}
  //Wishlist
body.account.wishlist-index-index
.products-grid.wishlist .product-items > .product-item{
    a.product-item-photo{
        border: 1px solid #ededed;
    }
    .product-item-name >a {
      font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
      text-transform: uppercase;
      font-style: normal;
      font-size: 13px;
      font-weight: normal !important;
      color: #dd9e58;
    }
    .product-item-inner{
      .product-item-comment{
            overflow: hidden;
      }
      fieldset.fieldset{
        margin-left: 0px;
        .field.qty .label
        {
          font-weight: normal;
        }
      }

      .product-item-actions{
        &>*{
          display: block;
        }
        &::before{
          border: none;
        }
        .actions-primary button.action{
            background: #dd9e58;
            display: inline-block;
            padding: 7px 15px;
            border: 0;
            color: #FFFFFF;
            font-size: 13px;
            font-weight: normal;
            font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
            line-height: 19px;
            text-align: center;
            text-transform: uppercase;
            vertical-align: middle;
        }
      }
    }

    div.products-grid.wishlist{
      div.product-items{
        li.product-item div.product-item-info{
            strong.product-item-name{
              & > a,
              & > a:visited{
                font-weight: normal !important;
                font-size: 13px !important;
                color: #dd9e58;
              }
            }
            textarea.product-item-comment{
              border: 1px solid silver;
              width: 100%;
              height: 45px;
              font-size: 11px;
              font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
            }
        }
      }
    }
}


body.customer-account-forgotpassword{
  fieldset{
    max-width: 400px;
    margin-left: 30px;
    label.label{
      font-size: 16px;
      color: #666;
      margin-bottom: 10px !important;
      text-align: left !important;
    }
    div.control{
      width: 100%;
      display: block;
      clear: both;
    }
  }
  div.actions-toolbar{
    max-width: 400px;
    border-top: 1px solid #ededed;
    padding-top: 10px;
    .primary{
      float: right;
    }
    .secondary{
      float: left;
      margin-left: 30px;
    }
    button{
      min-width: 140px;
      width: 100%;
      background: #dd9e58;
      padding: 7px 15px !important;
      color: #FFFFFF;
      font-weight: normal;
      font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

body.account.review-customer-index{
  table.data.table.table-reviews{
    margin-top: 50px;
    thead{
      display: none;
    }
    tbody tr td{
      border-bottom: 1px solid silver;
    }
  }
}


body.account.review-customer-view{
  div.customer-review.view{
    div.product-details{
      div.product-media{
        border: 1px solid #cccccc47;
      }
      div.product-info{
        h2.product-name{
          border-bottom: 1px solid #cccccc;
          color: #dd9e58;
          font-size: 16px;
          font-weight: 600;
          font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
          padding-bottom: 10px;
          text-transform: uppercase !important;
        }
      }
    }
  }
}


body.account.newsletter-manage-index{
  .actions-toolbar{
    padding-top: 10px;
    border-top: 1px #ccc solid;
    .primary{
      float: right;
      button{
        min-width: 140px;
      }
    }
    .secondary{
      float: left;
    }
  }
}
