
footer.page-footer
.footer.content{
  display: none;
}

.footer-container{
  .top-footer {
      background: #fff;
      margin-top: -10px;
      padding-top: 20px;
      padding-bottom: 40px;
  }


  .footer-top {
      padding: 20px 0 30px;
       h2, h3, h4, h5, h6 {
            font-family: 'Quicksand-Regular';
            color: #2f3030;
      }
      .container a.logo {
          max-width: 100% !important;
          z-index: 1;
      }
      img.footer-logo {
          margin: 15px 0 20px;
      }
  }
}

.footer-top{
  .container-inner{
    .container{
      h2.thumb-headline {
          margin-top: 10px;
          margin-bottom: 3px;
          font-size: 14px;
          font-weight: 400;
      }
      .redes_sociales {
        .image_facebook_footer {
            background-position: -14px -182px;
        }
        .image_instagram_footer {
            background-position: -57px -182px;
        }
      }
      .padding-left-cero {
          padding-left: 0px !important;
      }
      .contacto
      .simple-list {
          margin-top: 0px;
          margin-bottom: 20px;
      }
      .simple-list li {
            margin-bottom: 0;
      }

    }
  }
}


// cookies
.message.global.cookie{
      background-color: #2e2f2c;
      .content{
        padding: 10px 0;
        color: #fff;
        font-size: 11px;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
      }
}
