
.contacto-home .btn-u {
    display: block;
    text-align: center;
    margin: auto;
}
.contacto-home .actions{
  margin-bottom: 12px;
}
//.newsletter{}

.top-footer
.form-subscribe{
  display: block !important;
  padding: 0px;
  .imagen_inf_izq_uno {
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    display: inline-block;
    bottom: 9px;
    left: 26px;
  }
  .imagen_inf_der_uno{
    margin-top: 0;
    margin-right: 0px;
    position: absolute;
    right: 26px;
    bottom: 8px;
  }
  .control {
        color: #fff !important;
        border: none;
        position: inherit;
        width: 90% !important;
        background: transparent !important;
        padding: 5px 0px;
        height: 40px !important;
        input#newsletter {
            width: 100%;
            background: 0 0;
            border: 0;
            border: 1px solid #fff;
            /* color: #fff !important; */
        }
        button {
          padding: 6px 13px !important;
          margin-top: 20px;
          margin-right: auto;
          margin-left: auto;
          position: relative;
          display: block;
          width: auto;
          height: auto;
          text-align: center;
          background: #fff;
          color: #5d6062;
          font-size: 14px;
        }
  }
}
.image_sup_izq_agave {
    background-position: -189px -78px !important;
}
.image_sup_der_agave {
    background-position: -240px -78px !important;
}
.image_inf_izq_agave {
    background-position: -190px -118px !important;
}
.image_inf_der_agave {
    background-position: -235px -118px !important;
}

/*Productos*/
.productos-destacados{
  div.block{
    margin-bottom: 0 ;
  }
  .products-grid.grid ol.product-items.widget-product-grid {
    li.product-item{
        width: 25%;
        margin-left: 0;
        .product-item-info {
          .product-item-details {
              margin-top: 5px;
              .product-item-actions{
                padding-top: 0px;
                margin-top: 0px;
              }
          }
          .product-item-photo {
            //  width: 232px;
              height: 232px;
              span.product-image-wrapper::before {
                  opacity: .75;
                  background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,.2));
                  height: 50px;
                  width: 100%;
                  left: 0;
                  bottom: 0px;
                  position: absolute;
                  z-index: 999;
                  display: block;
                  content: ' ';
              }
          }
        }
        .product-item-name {
            height: 30px;
            color: #687074;

            a.product-item-link,
            .product-item-name a {
               font-size: 18px;
                line-height: 22px;
                font-weight: normal !important;
                font-stretch: normal;
                text-transform: none !important;
            }
        }
          .price-box .price,
          .price {
            font-family: Quicksand, 'Open Sans', sans-serif;
            font-size: 18px;
            color: #888;
          }
          .price-box {
            padding-top: 10px;
          }
        .product-item-actions{
          .action.tocompare{
            display: none;
          }
          &:before {
              border-top: none;
              padding: 0px 0 0;
          }
        }
        .tocart {
            white-space: nowrap;
            background: #d2a95a !important;
            color: #fff !important;
            font-weight: normal;
        }
    }
  }
}

/***/
.notas-info h2.nota-name {
      margin-bottom: 10px;
      margin-top:5px;
}



.illustration-v3 {
    display: block;
    overflow: hidden;
    min-height: 315px;
    position: relative;
    background-size: cover;
    background-position: center center;
		&.illustration-img2 {
			background-image: url(/wp/wp-content/uploads/2016/09/cult2-1024x576.jpg);
			background-repeat: no-repeat;
			background-size: 200%;
			background-position: 25% 50%;
		}
    &.illustration-img4 {
			background-image: url(/wp/wp-content/uploads/2017/11/la-foto-2.jpg);
			background-repeat: no-repeat;
			background-size: 200%;
			background-position: 25% 50%;
		}
		&.illustration-img1,
		 &.illustration-img2,
		  &.illustration-img3 {
		    transition: all 0.3s ease-in-out;
		}
		&:before {
	    top: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    height: 315px;
	    content: " ";
	    position: absolute;
	}
	 .illustration-bg {
	    width: 100%;
	    display: table;
	    min-height: 315px;
	    background-clip: padding-box;
	}
	.illustration-ads {
	    width: 100%;
	    height: 315px;
	    overflow: hidden;
	    display: table-cell;
	    background-clip: padding-box;
	}
	.illustration-v3-category {
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: 1;
	    height: 315px;
	    display: block;
	    position: relative;
	}
		span.product-category {
	    color: #fff;
	    display: block;
	    font-size: 20px;
	    font-weight: 600;
	}
	.illustration-ads
	.nota_principal {
	    display: none;
	}
	.illustration-ads:hover .nota_principal {
	    background: rgba(0,0,0, 0.5);
	    display: block;
	    width: 100%;
	    height: 315px;
	}

}
.imagen_nota_principal {
		background-position: -16px -61px;
		width: 86px;
		height: 88px;
		margin-top: 15px;
}
.nota_principal_destacada {
    width: 100%;
    height: 100%;
    padding-top: 8%;
    margin-top: 20px;
}
.overflow-h .titulo_sobre_imagen {
    position: absolute;
    bottom: 30px;
    left: 15px;
    color: #fff;
    font-size: 23px;
    bottom: 30px;
    color: #fff;
    text-transform: uppercase;
}
.overflow-h .btn-u-green {
    position: absolute;
    bottom: 0px;
    left: 15px;
    font-size: 11px;
    padding: 4px 14px;
}



///Tienda

.tienda h2 .titulo, .marcas h2 .titulo {
    font-family: Benguiat;
    font-size: 1.1em;
    color: #636363;
}

.dbi {
    display: inline-block !important;
}

.image_flor {
    background-position: -131px -78px !important;
}
.cms-index-index{
  .product-reviews-summary{
    display: none;
  }
}



// marcas

.bran {
    background: #fff;
    padding: 40px 0 35px;
    .owl-theme
    .owl-controls
    .owl-buttons {
      position: absolute;
      top: 40%;
      width: 100%;
      div {
        background: none;
        position: absolute;
        &:before{
          font-size: 26px;
        }
        &.owl-prev{
          left: -20px;
        }
        &.owl-next{
          right: -20px;
        }
      }
    }

    .owl-item li{
      margin: 0 10px;
      text-align: center;
      padding: 7px 0;
      position: relative;

     img {
        width: auto !important;
        margin: 0 10px;
        text-align: center;
        padding: 7px 0;
        position: relative;
      }
    }
}

@media (max-width: 992px){
div#popupEdad div.popup  {
    width: 50% !important;
  }
}

@media (max-width: 768px){
div#popupEdad div.popup {
    width: 80% !important;
  }
}

@media (max-width: 568px){

}
