

.product-info-main{
  margin-top: 40px;
  div.caracteristicas{
      margin-top: 20px;
      margin-bottom: 40px;
  }
}
.product.media{
  margin-top: 40px;
}

//Wishlist
body.catalog-product-view{
  .product-info-main
  .product-add-form
  .box-tocart{
    width: 100%;
    .field.qty{
      display: table-cell;
      vertical-align: middle;
    }
    .add-to-wishlist{
        display: table-cell;
        /* padding: 6px 8px; */
        vertical-align: middle;
        height: 100%;
        /* float: none; */
        /* width: 18px; */
        height: 40px;
        a.action.towishlist {
            background: none;
            margin-left: 10px;
            height: 40px;
            width: 40px;
            padding:0px;
            span{
              padding: 10px;
              width: 40px;
              display: block;
              height: 40px;
              &::before{
                content: "\e642";
                font-family: Pe-icon-7-stroke !important;
                font-size: 20px;
                vertical-align: middle;
              }
            }
        }
    }
    .actions{
      display: table-cell;
    }
  }
}

/* REVIEWs */
fieldset.fieldset legend.review-legend.legend {
    margin-bottom: 20px;
    padding-bottom: 10px;

    strong{
      display: inline-block;
      margin-left: 30px;
      color: #dd9e58;
    }
}
// review-add
body.catalog-product-view{
  .review-add{
    .review-form{
      max-width: 100%;
      .actions-toolbar{
        .primary{
          button{
            width: 140px;
            background: #dd9e58;
            display: inline-block;
            padding: 7px 15px !important;
            border: 0;
            color: #FFFFFF;
            font-size: 13px;
            font-weight: normal;
            font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
            line-height: 19px;
            text-align: center;
            text-transform: uppercase;
            vertical-align: middle;
            white-space: nowrap;
          }
        }
      }
    }

    fieldset.fieldset.review-fieldset
    {
      div.field{
        label.label{
          display: block;
          margin-bottom: 10px;
          text-align: left;
        }
        div.control{
          float: none;
        }
      }
      font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
      font-size: 12px;
      font-weight: normal;
      text-transform: uppercase;
      legend,
      label.label{
        font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
      }
      legend.review-legend.legend{
        margin-bottom: 10px;
        margin-top: 25px;
        margin-bottom: 10px;
        border: none;

        strong{
          margin-left: 5px;
          color: #dd9e58;
          font-weight: normal;
        }
      }
      fieldset.review-field-ratings{
        border-bottom: 1px solid #e5e5e5;
        legend.label{
          display: block;
          width: 100%;
          padding-bottom: 10px;
          padding-top: 5px;
          text-align: left;
          margin-bottom: 10px;
        }
        div.control{
          float: none;
          display: block;
        }

      }
    }

  }

  // productos relacionados
  .block.related{
    .title{
      text-align: center;
      span{
          padding: 0 10%;
          color: #636363;
          font-size: 19.2px;
          font-weight: 400;
          font-style: normal;
          line-height: 1.2;
          font-family: Benguiat;
      }
    }
    .ma-title:after{
      background: #ddd;
      left: 10%;
      right: 10%;
      width: auto;
      height: 2px;
    }
    .products-slider.products-grid.products-related{
      .item
      .item-inner:hover
      .product-item-info
      .box-info
      .product-reviews-summary{
              animation: unset !important;
      }
      li.item.product{
        .item-inner{
          &:hover{
            .product-item-info
            .product-action{
              display: none;

            }
          }
          .product-image-wrapper{
            border: 1px solid #ededed;
            &::before{
              opacity: .75;
              background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));
              height: 50px;
              width: 100%;
              left: 0;
              bottom: 0px;
              position: absolute;
              z-index: 999;
              display: block;
              content: ' ';
            }
          }
          .box-info
          .product-name{
              .product-item-name{
                margin: 0;
                a{
                  color: #636363;
                  font-weight: normal !important;
                  font-size: 13px;
                }
              }
          }
          .price-box{
            display: block;
            float: none;
          }
          .box-info
          .price-final_price,
          .price-box .price{
            font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
            font-size: 18px;
            font-weight: normal;
          }
          .actions-toolbar{
            display: block;
            width: 100%;
            margin-top: 10px;
            .primary > a > span{
              padding: 5px 25px;
              color: #fff;
              background-color: #dd9e58;
              text-align: center;
              margin-left: 0px;
              text-transform: uppercase;
              font-size: 14px;
            }
          }
          .rating-related{
            .product-reviews-summary{
              float: none;
              opacity: 1;
               .reviews-actions{
                 display: none;
               }

            }
          }
          .search-advanced {
              display: block;
              width: auto;
              border: 1px solid #cccccc;
              padding: 5px 10px;
              margin: 15px 0px 10px;
              text-align: center;
              text-transform: uppercase;
              font-size: 12px;
              a,a:visited{
                color: #636363;
              }
              &:hover{
                color: #333;
                background-color: #e6e6e6;
                border-color: #adadad;
                text-decoration: none;
              }
          }

        }
      }
    }
  }
}




.catalog-product-view
.product.info
.product.data.items
.item {
    &.active a{
      color: #141215 !important;
      background: none;
      padding-bottom: 5px;
      border-bottom: 6px solid #666668;
    }
    a {
        text-transform: none;
        font-size: 14px;
        font-family: Benguiat;

        color: #cdcdcd !important;
        background: none;
        border: none;
        border-bottom: 6px solid #cdcdcd;

        &:before {
            content: "|";
            right: 0;
            position: absolute;

        }

        &:hover,
        &:active,
        &:focus
        {
          color: #141215 !important;
          background: none;
          border-bottom: 6px solid #666668;
        }
    }
}

.product.data.items > .item.title {
      width: 25%;
      text-align: center;
      margin: 0px;
      padding-bottom: 5px;
}
.product.data.items > .item.content {
    border:none;
}

// Proceso
.col-md-12.proceso {
    margin-bottom: 30px;
    h2{
      font-size: 14px;
    }
    span:first-child {
        display: inline-block;
        width: 45%;
        color: #b8b8b8;
    }
    p{
      margin-bottom: 0px;
    }
}
.col-md-12.duracion {
    span:first-child {
        display: inline-block;
        width: 45%;
        color: #b8b8b8;
    }
}



body.catalog-product-view{
  .column.main{
        margin-top: 50px;
        .product.media{
            border: 1px solid #ededed;
        }
        .product-info-main{
            margin-top:0px;
            .attribute.overview {
                display: none;
            }
            .page-title-wrapper.product > h1 >span{
                  font-family: Benguiat !important;
                  color: #2f3030;
            }
            .product-reviews-summary .reviews-actions a {
                font-size: 12px;
            }
            .caracteristicas{
              p {
                  color: #888;
                  font-size: 14px;
                  margin: 0px;
                  span:first-child{
                    display: inline-block;
                    width: 37%;
                    color: #b8b8b8;
                  }
              }
            }
            .product-info-price{
                margin-bottom: 20px;
                .price-box .special-price .price-label,
                .price-box .old-price .price-label,
                .price-box.price-final_price span.price-label {
                    display: none !important;
                }
                .price-box{
                  width: 40%;
                  display: inline-block;
                  margin-top: 25px;
                  .price-wrapper .price{
                    color: #636363;
                    font-size: 26px;
                    margin-right: 10px;
                    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
                    font-weight: 400;
                    line-height: normal;
                  }
                }

                .product-info-stock-sku {
                    width: 50%;
                    display: inline-block;
                }
            }
            .product-add-form{
                margin-bottom: 20px;
                padding-bottom: 40px;
                .product-options-wrapper{
                  width: 40%;
                  display: inline-block;
                  .fieldset{
                    label.label{
                      float: left;
                      vertical-align: bottom;
                      margin-top: 5px;
                      margin-right: 10px;
                    }
                    div.control{
                      float: left;
                      display: inline-block;
                    }
                  }
                }
                .product-options-bottom{
                  width: 59%;
                  display: inline-block;
                  .box-tocart{
                    margin: 0;
                    button.action.primary.tocart::before{
                      display: none;
                    }
                    button.action.primary.tocart{
                      border-radius: unset;
                      // width: 140px;
                      background: #dd9e58;
                      display: inline-block;
                      padding: 7px 15px;
                      border: 0;
                      color: #FFFFFF;
                      font-size: 13px;
                      font-weight: normal;
                      font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
                      line-height: 19px;
                      text-align: center;
                      text-transform: uppercase;
                      vertical-align: middle;
                      white-space: nowrap;
                    }
                  }
                }
            }
            .product-social-links{
              border-top: 1px solid #ccc;
              .redes_sociales_comp.posabs{
                .compartir span{
                  top: -5px;
                  font-size: 14px;
                  font-weight: 400;
                }
              }
              // wishlist, mail
              .product-addto-links,
              .mailto{
                display: none;
              }
            }
        }
  }
}
