
.pt-banner-container .owl-item {
  li{
    h1.pt-title1{
      display: none !important;
    }
    img {
        width: 100%;
    }
  }
}
.cmezcal_main {
    display: block;
    width: 100px;
    height: 30px;
    width: 100px;
    height: 30px;
    margin: auto;
}
.pt-banner-container
.owl-theme
.owl-controls {
    display: none !important;
}
.pt-banner-container {
    position: relative;
}
.container.wrapper_mosaico_banner {
    margin: 30px auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 70;
    a{
      text-decoration: none;
    }
}

/*Banner Home Mosaicos*/
.wrapper_mosaico_banner{
    margin: 30px auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 70;
}

@media (max-width: 378px){
    .wrapper_mosaico_banner{
        margin-top: 10px;
    }

}

.mosaico_banner{
    background: #000;
    margin: 10px 0;
    padding: 60px 30px;
    text-align: center;
    background: url("../images/back_blak.png");
    color: #fff !important;
}

@media (max-width: 768px) {
    .mosaico_banner{
        padding: 15px 30px;
    }
}

@media (min-width: 768px) {
    .mosaico_banner{
        margin-top: 106px;
    }
}


.tp-banner{min-height: 470px !important;}

.mosaico_banner h2{
    color: #fff !important;
    font-size: 24px !important;
    font-family: 'Helvetica-Light';
    margin: 5px 0px 10px 0px;
}

.mosaico_banner {
    background: #000;
    margin: 10px 0;
    padding: 60px 30px;
    text-align: center;
    background: url(../images/back_blak.png);
    color: #fff !important;
    font-size: 14px;
    line-height: 1.5;
}
.cmezcal_sprite {
    display: block;
    background: url(../images/sprite.png) no-repeat;
}

.cm_conoce {
    background-position: -52px -312px;
    width: 48px;
    height: 20px;
}
.cm_experimenta {
    background-position: -129px -312px;
    width: 48px;
    height: 20px;
}

.cm_compra {
    background-position: -202px -312px;
    width: 48px;
    height: 20px;
}
