// index
body.checkout-cart-index{
  .brandslider-container,
  .top-footer{
    display: none !important;
  }
  .cart-container{
    margin-bottom: 50px;
  }
  h1.page-title span {
    font-family: Benguiat !important;
  }
  .cart.table-wrapper{
    th.col{
      font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
      font-weight: normal;
      text-transform: uppercase;
    }
    span.product-image-container{
      border: 1px solid #ededed;
    }

  }

  .cart-container .form-cart .action.continue,
  .cart-container .form-cart .action.update,
  .cart-container .form-cart .action.clear,
  .cart.table-wrapper .actions-toolbar > .action,
  .cart.table-wrapper .actions-toolbar > a.action,
  {
    line-height: 30px;
    height: 30px;
    text-decoration: underline;
    display: inline-block;
    color: #dd9e58;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    background: none;
    border: none;
    font-weight: normal;
  }
  .cart-container .form-cart .action.continue:before,
  .cart-container .form-cart .action.update:before
  {
    display: none;
  }
  .block-cart-failed .action.continue,
  .cart-container .checkout-methods-items .action.primary{
      background: #dd9e58;
      display: inline-block;
      border-radius: unset;
      padding: 7px 15px;
      border: 0;
      color: #FFFFFF;
      font-size: 13px;
      font-weight: normal;
      font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      white-space: nowrap;
  }
  .actions-toolbar>.primary .action:last-child,
   .actions-toolbar>.secondary .action:last-child{
     line-height: 30px;
      height: 30px;
      text-decoration: underline;
      text-transform: uppercase;
      display: inline-block;
      color: #dd9e58;
      font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
      background: none;
   }
   .fieldset.rate .field.choice.item input[type="radio"]{
     display: inline;
   }
   .cart-summary .block .fieldset .field.choice.item{
         border: 1px solid #ccc;
   }
   .cart-summary{
     background: #f4f4f4;
     border: 1px solid #ccc;
   }
   .price-including-tax .price, .price-excluding-tax .price{
     font-weight: normal;
   }
   .column.main .cart-summary .block>.title strong,
   {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    /* min-width: 105px; */
    display: inline-block;
    /* margin-right: 10px; */
    margin: 0;
  }
  .totals.shipping.excl span.label{
    padding-left: 0;
    display: block;
    text-align: left;
  }
}


// shipping
body.checkout-index-index{
    // progress
    .opc-progress-bar-item._active>span:before,
    .opc-progress-bar-item._active:before{
        background: #dd9e58;
    }
    .opc-wrapper .step-title,{
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        color: #2f3030;
        margin-bottom: 15px;
        font-family: Benguiat !important;
        padding-bottom: 15px;
    }

    .opc-wrapper .fieldset>.field.required>label,
     .opc-wrapper .fieldset>.field._required>label,
     .opc-wrapper .fieldset>.field.street>legend.label,
     .opc-wrapper .fieldset>.field>.label{
        display: block;
        float: none;
        text-align: left;
        margin-bottom: 10px;
        border: none;
        span{
          display: inline-block;
          font-size: 16px;
          font-family: "Quicksand", "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
          font-weight: 600;
          letter-spacing: 0px;
        }
     }
     div.control{
       display: block;
       float: none;
     }
     .opc-block-shipping-information .shipping-information-title span,
     .opc-block-shipping-information .shipping-information-title span,
     .opc-block-summary>.title{
        padding-top: 6px;
        margin-bottom: 10px;
        color: #636363;
        font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        line-height: 1.4;
        text-transform: uppercase;
        margin-bottom: 6px;
        font-weight: 400;
     }
     .product-item{
           border-bottom: 1px solid #ccc;
     }
     .minicart-items
     .product{
       span.product-image-container{
         border: 1px solid #ccc;
         margin-left: 30px;
       }
       div.product-item-details{
         padding-left: 50px;
       }
     }
     .actions-toolbar#shipping-method-buttons-container{
       margin-top: 15px;
        border-top: 1px solid #ccc;
        padding: 20px 0px;
        border-bottom: 1px solid #ccc;
        .primary{
          float: left;
        }
     }
     .opc-wrapper .shipping-address-item.selected-item {
          border-color: #dd9e58 !important;
      }
      .opc-wrapper .shipping-address-item.selected-item:after{
        background: #dd9e58 !important;
      }
      .checkout-shipping-address,
      .checkout-shipping-method,
      .payment-method-content,
      .payment-option-content{
        button.action{
          background: #dd9e58;
          display: inline-block;
          border-radius: unset;
          padding: 7px 15px !important;
          vertical-align: middle;
          white-space: nowrap;
          border: 0;
          color: #FFFFFF;
          font-size: 13px;
          font-weight: normal;
          font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
          line-height: 19px;
          text-align: center;
          text-transform: uppercase;
          margin-top: 0;
          min-width: 140px;
        }
      }
      .checkout-payment-method .payment-option-title .action-toggle{
            color: #dd9e58;
      }
      .modal-popup{
         .modal-title{
            text-transform: uppercase;
         }
         legend.label{
           border: none;
           font-size: 13px;
         }
         .modal-footer{
           button.action{
             background: #dd9e58;
             display: inline-block;
             border-radius: unset;
             padding: 7px 15px !important;
             vertical-align: middle;
             white-space: nowrap;
             border: 0;
             color: #FFFFFF;
             font-size: 13px;
             font-weight: normal;
             font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
             line-height: 19px;
             text-align: center;
             text-transform: uppercase;
             margin-top: 0;
             min-width: 140px;
           }

         }
       }

}


//success
body.checkout-onepage-success{
  .brandslider-container,
  .top-footer{
    display: none;
  }
  .checkout-success{
    margin-top: 50px;
    margin-bottom: 50px;
    a.action{
      background: #dd9e58;
      display: inline-block;
      border-radius: unset;
      padding: 7px 15px !important;
      vertical-align: middle;
      white-space: nowrap;
      border: 0;
      color: #FFFFFF;
      font-size: 13px;
      font-weight: normal;
      font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 0;
    }

  }
}
