/**
====================================================================================
====================================================================================
  Cultura Mezcal
  Estilos para pop up de confirmacion de edad
====================================================================================

 */



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 1000;
  opacity: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  text-align: center;
}

.popup h2 span{
  margin-top: 0;
  font-family: Benguiat !important;
  font-weight: bold;
}
.popup button.button{
    background-color: #5e945e;
}
.popup .text{
  padding: 11px;
}
