<?php
/**
 * Copyright © 2015 PlazaThemes.com. All rights reserved.

 * @author PlazaThemes Team <contact@plazathemes.com>
 */
?>
<?php
/**
 * Blog sidebar search form template
 *
 * @var $block \Plazathemes\Blog\Block\Sidebar\Search
 */
?>

<div class="block blog-search">
	<div class="block-content">
		<form class="form minisearch" id="blog_search_mini_form" action="<?php echo $this->getUrl('blog/search/') ?>" method="get">
            <div class="field search">
                <div class="control">
                    <input id="blog_search" type="text" name="q" value="<?php echo $block->escapeHtml($block->getQuery()) ?>" placeholder="<?php echo __('Buscar en catálogo...') ?>" class="input-text" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both" autocomplete="off">
					<button type="submit" onclick="return goBlogSearch(this);" title="<?php echo __('Search') ?>" class="action search">
						<span><?php echo __('Search') ?></span>
					</button>
                </div>
            </div>
                
        </form>
	</div>
</div>
