.page-link {
  cursor: pointer;
  padding: 3px;
  text-decoration: none;
}

.page-link:hover {
  font-weight: bolder;
}

.page-link-active {
  cursor: default;
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

.page-list {
  margin: 10px;
}

.quick-search-form .control {
  margin: 10px 0;
}

.form-container {
  position: relative;
}

.input-hidden {
  visibility: hidden;
  position: absolute;
}

.field-sorter {
  cursor: pointer;
}

.field-sort-desc:after {
  content: "\25BC";
}

.field-sort-asc:after {
  content: "\25B2";
}

.field-sort-asc.field-sort-active, .field-sort-desc.field-sort-active {
  cursor: default;
}

#forwards_register_form label.label {
    width: 100% !important;
    text-align: left !important;;
}

// Common
// (for styles used in both phone and desktop views)
& when (@media-common = true) {

}

// Phone
// (for all phone styles.)
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

// Tablet
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}
// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

}
