<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Bienvenido a %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$customer.name}}</p>
<p>{{trans "Bienvenido a %store_name." store_name=$store.getFrontendName()}}</p>
<p>
    {{trans
        'Para acceder a nuestro sitio, utiliza estas credenciales durante el proceso de compra o en la sección <a href="%customer_url">Mi Cuenta</a>:'

        customer_url=$this.getUrl($store,'customer/account/',[_nosid:1])
    |raw}}
</p>
<table class="email-credentials">
    <tr>
        <th>{{trans "Correo:"}}</th>
        <td>{{var customer.email}}</td>
    </tr>
    <tr>
        <th>{{trans "Contraseña:"}}</th>
        <td><em>{{trans "La contraseña que ingresaste al crear tu cuenta."}}</em></td>
    </tr>
</table>
<p>
    {{trans
        '¿Olvidaste tu contraseña? Da clic <a href="%reset_url">aquí</a> para restablecerla.'

        reset_url="$this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])"
    |raw}}
</p>	
<br />
<p>{{trans "Al acceder con tu cuenta, tendrás la capacidad de:"}}</p>
<table class="email-features">
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <!--<img src="{{view url='Magento_Customer/images/icn_checkout.png'}}" height="30" width="30" alt="{{trans 'Compra Rápida'}}" />-->
                    </td>
                    <td>
                        <h3>{{trans "Realizar compras mucho más rápido"}}</h3>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <!-- <img src="{{view url='Magento_Customer/images/icn_status.png'}}" height="30" width="30" alt="{{trans 'Revisar el status de órdenes'}}" /> -->
                    </td>
                    <td>
                        <h3>{{trans "Revisar el estatus de tus compras"}}</h3>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <!-- <img src="{{view url='Magento_Customer/images/icn_address.png'}}" height="30" width="30" alt="{{trans 'Administrar Direcciones'}}" /> -->
                    </td>
                    <td>
                        <h3>{{trans "Ingresar direcciones alternativas"}}</h3>
                        <p>{{trans "Para realizar envíos a distintos miembros de tu familia y amigos"}}</p>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <!-- <img src="{{view url='Magento_Customer/images/icn_history.png'}}" height="30" width="30" alt="{{trans 'Historial de Pedidos'}}" /> -->
                    </td>
                    <td>
                        <h3>{{trans "Revisar tus compras previas"}}</h3>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
