<?php
/**
 * Copyright © 2015 PlazaThemes.com. All rights reserved.

 * @author PlazaThemes Team <contact@plazathemes.com>
 */

if($this->getEnable()):
$banners = $block->getBannerSlider();
?>

<div class="pt-banner-container">

<!-- marcas -->
<div class="container wrapper_mosaico_banner">
        <div class="row">
            <div class="col-md-4 box_left">

                <a href="<?php echo $block->getBaseUrl();?>content/category/conoce">
                    <div class="mosaico_banner">
                        <span class="cmezcal_main cmezcal_sprite cm_conoce"></span>
                        <h2>CONOCE</h2>
                        Todo alrededor de la cultura del mezcal.
                    </div>
                </a>
            </div>
            <div class="col-md-4 box_central">
                <a href="<?php echo $block->getBaseUrl();?>content/category/experimenta/">
                    <div class="mosaico_banner">
                        <span class="cmezcal_main cmezcal_sprite cm_experimenta cm_content"></span>
                        <h2>EXPERIMENTA</h2>
                        Participa y sé parte de la cultura del mezcal.
                    </div>
                </a>
            </div>
            <div class="col-md-4 box_right">
                <a href="<?php echo $block->getBaseUrl();?>compra.html">
                    <div class="mosaico_banner">
                        <span class="cmezcal_main cmezcal_sprite cm_compra"></span>
                        <h2>COMPRA</h2>
                        Mezcales, accesorios y experiencias.
                    </div>
                </a>
            </div>
        </div>
    </div>
<!-- fin -->


   <ul class="ptowl SliderHome">
   <?php $i = 1; ?>
    <?php foreach ($banners as $banner): ?>
	<?php
		$store_ids = explode(",",$banner['store_id']);
		if(in_array($this->getIdStore(),$store_ids)): ?>
		<?php $url_image = $this->getMediaFolder().$banner['image']; ?>
            <li class="SliderPrincipal" style="background-image:url(<?php echo $url_image; ?>);">
				
            </li>
		<?php $i++; ?>
    <?php endif; ?>
    <?php endforeach; ?>
    </ul>
</div>

<script type="text/javascript">
require([
  "jquery",
  "owlcarousel/minjs"
 ], function($,owlCarousel){
		$(document).ready(function(){
			$(".pt-banner-container .ptowl").owlCarousel({
				singleItem: true,
				autoPlay : 5000,
                //Transitions
                //transitionStyle : false,
				//loop:true,
				//animateOut: 'fadeOut',
				//animateIn: 'fadeIn',
                //transitionStyle : "fade",
				//autoPlay : false,
				items : 1,
				itemsDesktop : [1199,1],
				itemsDesktopSmall : [980,1],
				itemsTablet: [768,1],
				itemsMobile : [479,1],
				slideSpeed : 1000,
				paginationSpeed : 500,
				rewindSpeed : 500,
				addClassActive: true,
				navigation : true,
				stopOnHover : false,
				pagination : true,
				scrollPerPage:false,
				afterMove: nextslide,
				afterInit: nextslide,
				
			});
			function nextslide() {
				$(".pt-banner-container .owl-item .pt-banner-caption").css('display','none');
				$(".pt-banner-container .owl-item .pt-banner-caption").removeClass('pt-caption')
				$(".pt-banner-container .owl-item.active .pt-banner-caption").css('display','block');

				var heading = $('.pt-banner-container .owl-item.active .pt-banner-caption').clone().removeClass();
				$('.pt-banner-container .owl-item.active .pt-banner-caption').remove();
				$('.pt-banner-container .owl-item.active>li').append(heading);
				$('.pt-banner-container .owl-item.active>li>div').addClass('pt-banner-caption pt-caption');
			};
		});
	});
</script>
<style>
.pt-banner-container .owl-theme .owl-controls {
     display: block !important; 
}
</style>
<?php endif; ?>
