<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="col-lg-6 col-md-12 md-margin-bottom-30">
<form class="form-subscribe"

	action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
	method="post"
	id="newsletter-validate-detail">
	<div class="pull-left"><span class="cmezcal_sprite image_sup_izq_agave "></span></div>
	<div class="pull-right"><span class="cmezcal_sprite image_sup_der_agave "></span></div>
	<div class="field newsletter boletin-noticias"  style="height:250px;">
		<div class="form-subscribe-header">
                    <label for="newsletter"><strong>HAZ DE TU BUZÓN UN LUGAR DE EXPERIENCIAS</strong></label>
                </div>

		<div class="control">
			<input name="email" type="email" id="newsletter"
						placeholder="<?php echo __('Proporciona tu correo y recibe nuestras promociones') ?>"
						data-validate="{required:true, 'validate-email':true}" class="input-text required-entry validate-email white-placeholder" />
			<button class="action subscribe" title="<?php /* @escapeNotVerified */ echo __('Suscribirme') ?>" type="submit">
				<span></span><?php echo __('Suscribirme') ?>
			</button>
			<label for="newsletter">Al dar clic en suscribirme, acepto las <a href="<?php echo $block->getBaseUrl();?>politica-privacidad" style="text-decoration:underline;color:#FFFFFF" >Pol&iacute;ticas de privacidad</a></label>
		</div>

		<div class="imagen_inf_izq_uno"><span class="cmezcal_sprite image_inf_izq_agave"></span></div>
		<div class="imagen_inf_der_uno"><span class="cmezcal_sprite image_inf_der_agave"></span></div>

	</div>
</form>
</div>
<div class="col-lg-6 col-md-12 md-margin-bottom-30">
    <div class="pull-left"><span class="cmezcal_sprite image_sup_izq_agave "></span></div>
    <div class="pull-right"><span class="cmezcal_sprite image_sup_der_agave "></span></div>

    <div class="contacto-home" style="height:250px;">
        <form action="<?php echo $block->getBaseUrl();?>newsletter/distribuidor/prueba/" method="post" id="newsletter-validate-detail" class="margin-bottom-5" role="form">
            <div class="form-group">
                <label for="newsletter"><strong><?php echo __('DISTRIBUYE TUS PRODUCTOS CON NOSOTROS'); ?></strong></label>
                <div class="input-box">
                    <input data-validate="{required:true, 'validate-email':true}" placeholder="Proporciona tu correo y te contactaremos pronto" type="email" spellcheck="false" name="email_distribuidor" id="distribuidores" title="Distribuidores" class="input-text required-entry validate-email white-placeholder" autocapitalize="off" autocorrect="off">
                </div>
                <div class="actions">
                    <button type="submit" title="Subscribirse" class="btn-u btn-u-default contacto-btn-boletin"><span><span><?php echo __('ENVIAR'); ?></span></span></button>
                </div>
				<label style="font-size:1.3rem">Al dar clic en enviar, acepto las <a href="<?php echo $block->getBaseUrl();?>politica-privacidad" style="text-decoration:underline;color:#FFFFFF">Pol&iacute;ticas de privacidad</a></label>
            </div>
        </form>
        <div class="pull-left imagen_inf_izq_dos"><span class="cmezcal_sprite image_inf_izq_agave"></span></div>
        <div class="pull-right imagen_inf_der_dos"><span class="cmezcal_sprite image_inf_der_agave"></span></div>

    </div>
</div>
