<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */

?>
<div class="col-lg-6 col-md-12 md-margin-bottom-30">
<form class="form-subscribe"

	action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
	method="post"
	id="newsletter-validate-detail">
	<div class="pull-left"><span class="cmezcal_sprite image_sup_izq_agave "></span></div>
	<div class="pull-right"><span class="cmezcal_sprite image_sup_der_agave "></span></div>
	<div class="field newsletter boletin-noticias"  style="height:250px;">
		<div class="form-subscribe-header">
                    <label for="newsletter"><strong>HAZ DE TU BUZÓN UN LUGAR DE EXPERIENCIAS</strong></label>
                </div>

		<div class="control">
			<input name="email" type="email" id="newsletter"
						placeholder="<?php echo __('Proporciona tu correo y recibe nuestras promociones') ?>"
						data-validate="{required:true, 'validate-email':true}"
						class="input-text required-entry validate-email white-placeholder"
						required />
			<button class="action subscribe" title="<?php /* @escapeNotVerified */ echo __('Suscribirme') ?>" type="submit">
				<span></span><?php echo __('Suscribirme') ?>
			</button>
			<label for="newsletter">Al dar clic en suscribirme, acepto las <a href="<?php echo $block->getBaseUrl();?>politica-privacidad" style="text-decoration:underline;color:#FFFFFF" >Pol&iacute;ticas de privacidad</a></label>
		</div>

		<div class="imagen_inf_izq_uno"><span class="cmezcal_sprite image_inf_izq_agave"></span></div>
		<div class="imagen_inf_der_uno"><span class="cmezcal_sprite image_inf_der_agave"></span></div>

	</div>
</form>
</div>
<div class="col-lg-6 col-md-12 md-margin-bottom-30">
    <div class="pull-left"><span class="cmezcal_sprite image_sup_izq_agave "></span></div>
    <div class="pull-right"><span class="cmezcal_sprite image_sup_der_agave "></span></div>

    <div class="contacto-home" style="height:250px;">
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_us')->toHtml(); ?>

        <div class="pull-left imagen_inf_izq_dos"><span class="cmezcal_sprite image_inf_izq_agave"></span></div>
        <div class="pull-right imagen_inf_der_dos"><span class="cmezcal_sprite image_inf_der_agave"></span></div>

    </div>
</div>
