<?php
/**
 * @category FishPig
 * @package FishPig_WordPress
 * @notes This template is used when there post/list.phtml doesn't have a child block called 'renderer'
 * @notes This happens when post/list.phtml is called in via PHP rather than via the default layout handles
 */
?>
<?php /**** OBTENER CATEGORIA ***/ ?>
<?php
    if(isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on')   
         $url = "https://";   
    else  
         $url = "http://";   
    // Append the host(domain name, ip) to the URL.   
    $url.= $_SERVER['HTTP_HOST'];   
    
    // Append the requested resource location to the URL   
    $url.= $_SERVER['REQUEST_URI'];    
    // Search substring  
	$keyconoce = '/category/conoce/'; 
	$keyexperimenta = '/category/experimenta/';  
	$categoria = "Conoce";
	$addon ="";
	if (strpos($url, $keyconoce) == true) { 
		$categoria = "Conoce";
	} 
	else if(strpos($url, $keyexperimenta) == true){ 
		$categoria = "Experimenta";
		$addon ="-2";		
	} 
  ?>   
<?php if ($post = $this->getPost()): ?>
	<!-- <?php echo $categoria ?> -->
	<div class="post-list-item<?php echo $addon ?>">
		
		<div class="post-entry<?php echo $addon ?>">
			<?php if ($image = $post->getImage()): ?>
        <?php $imageUrl = $image->getResizer() ? $image->getResizer()->constrainOnly(true)->keepFrame(false)->keepAspectRatio(true)->resize(600, null) : '' ?>
            <a href="<?php echo $post->getUrl() ?>" title="<?php echo $this->escapeHtml($post->getName()) ?>">
				<div class="post-image<?php echo $addon ?>" style="background-image: url(<?php echo $imageUrl ?>);">
					
				</div>
                </a>
			<?php endif; ?>
		</div>
        <h2>
			<a href="<?php echo $post->getUrl() ?>" title="<?php echo $this->escapeHtml($post->getName()) ?>">
				<?php echo $this->escapeHtml($post->getName()) ?>
			</a>
		</h2>
        <div class="post-date<?php echo $addon ?> post-meta-item<?php echo $addon ?>">
				<strong><?php echo __('Posted On') ?>:</strong> <?php echo $post->getPostDate() ?>
			</div>
        <div class="post-excerpt<?php echo $addon ?>"><?php echo $post->getExcerpt(20) ?></div>
        <div class="Conocemas<?php echo $addon ?>">
            <a href="<?php echo $post->getUrl() ?>" title="<?php echo $this->escapeHtml($post->getName()) ?>">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Conoce más</a>
        </div>
		<div class="post-meta<?php echo $addon ?>">
			<?php if ($categoryString = $post->getTermCollectionAsString('category')): ?>
				<div class="post-categories<?php echo $addon ?> post-meta-item<?php echo $addon ?>">
					<strong><?php echo __('Categories') ?>:</strong> <?php echo $categoryString ?>
				</div>
			<?php endif; ?>
			<?php if ($tagString = $post->getTermCollectionAsString('post_tag')): ?>
				<div class="post-tags<?php echo $addon ?> post-meta-item<?php echo $addon ?>">
					<strong><?php echo __('Tags') ?>:</strong> <?php echo $tagString ?>
				</div>
			<?php endif; ?>
			
			<div class="post-user<?php echo $addon ?> post-meta-item<?php echo $addon ?>">
				<strong><?php echo __('Posted By') ?>:</strong> <a href="<?php echo $post->getUser()->getUrl() ?>"><?php echo $post->getUser() ->getDisplayName() ?></a>
			</div>
		</div>
	</div>
<?php endif; ?>