<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>

	<form class="form minisearch" id="search_mini_form" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">
		<div class="field search">
			<input id="search"
				   data-mage-init='{"quickSearch":{
						"formSelector":"#search_mini_form",
						"url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest'); ?>",
						"destinationSelector":"#search_autocomplete"}
				   }'
				   type="text"
				   name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
				   value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
				   placeholder="<?php /* @escapeNotVerified */ echo __('Buscar en Catálogo...'); ?>"
				   class="input-text"
				   maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
				   role="combobox"
				   aria-haspopup="false"
				   aria-autocomplete="both"
				   aria-expanded="true"
				   autocomplete="off"/>

			<?php //echo $block->getChildHtml() ?>

			<button type="submit" title="<?php echo $block->escapeHtml(__('Search')) ?>" class="action fa fa-search">
				<span><?php /* @escapeNotVerified */ //echo __('Search'); ?></span>
			</button>
		</div>
		
	</form>
