<div id="horeca_list" class="" data-bind="scope: 'horeca_list'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<div id="customer_entity_form" class="form-container" data-bind="scope: 'customer_entity_form'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
            {
                "#horeca_list": {
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "horeca_list": {
                                "component" : "CulturaMezcal_Forwards/js/horeca/list",
                                "catalogs"  :  {}
                            }
                        }
                    }
                },
                "#customer_entity_form": {
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "customer_entity_form": {
                                "component": "CulturaMezcal_Forwards/js/horeca/form",
                                "showForm": false,
                                "countries": <?= json_encode($block->getCountries()); ?>,
                                "spainRegions": <?= json_encode($block->getRegions()); ?>,
                                "deliveryTimes": <?= json_encode($block->getDeliveryTimes()); ?>,
                                "deliveryDays": <?= json_encode($block->getDeliveryDays()); ?>,
                                "directDebitTerm": <?= json_encode($block->getDirectDebitTerm()); ?>
                            }
                        }
                    }
                }
            }
</script>


