<?php
/**
 * @var \CulturaMezcal\Forwards\Block\Register\Index $block
 */
?>
<div id="horeca_register_form_container" class="" data-bind="scope: 'horeca_register_form'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<?php try { ?>
    <script type="text/x-magento-init">
{
    "#horeca_register_form_container": {
        "Magento_Ui/js/core/app": {
            "components": {
                "horeca_register_form": {
                    "component": "CulturaMezcal_Forwards/js/horeca/form",
                    "showForm":true,
                    "countries": <?= json_encode($block->getCountries()); ?>,
                    "spainRegions": <?= json_encode($block->getRegions()); ?>,
                    "deliveryTimes": <?= json_encode($block->getDeliveryTimes()); ?>,
                    "deliveryDays": <?= json_encode($block->getDeliveryDays()); ?>,
                    "directDebitTerm": <?= json_encode($block->getDirectDebitTerm()); ?>
                }
            }
        }
    }
}

    </script>
<?php } catch (\Exception $e) {
    echo $e->getTraceAsString();
} ?>
