@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
@font-face {
  font-family: 'mezcaldnd';
  src:  url('../fonts/mezcaldnd.eot?puc2k1');
  src:  url('../fonts/mezcaldnd.eot?puc2k1#iefix') format('embedded-opentype'),
    url('../fonts/mezcaldnd.ttf?puc2k1') format('truetype'),
    url('../fonts/mezcaldnd.woff?puc2k1') format('woff'),
    url('../fonts/mezcaldnd.svg?puc2k1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
    font-family: 'Quicksand', sans-serif;
}
.header-container .topbar-v3 .cmezcal_utilerias {
    border-bottom: 1px solid #CFCFCF;
    margin-bottom: 0px;
}
.cmezcal_utilerias li {
    padding-right: 30px;
    margin-bottom: 0px;
}
.mobile-bar-icon:before {
    vertical-align: middle;
    font-size: 22px;
    padding-top: 5px;
}
.mosaico_banner {
    background: #000;
    margin: 10px 0;
    padding: 60px 30px;
    text-align: center;
    background: url(../images/back_blak.png);
    color: #fff !important;
}
.destacado {
    padding-right: 15px;
}
.content_home .container-inner {
    margin-top: 30px;
}
@media (min-width: 768px){
.mosaico_banner {
    margin-top: 106px;
}
    }
.fixmarg{
    width: 100%;
    margin-bottom: 1.5rem;
}
.tienda .linea_derecha h2, .tienda .linea_izquierda h2 {
    margin-bottom: 1rem;
}
.bran{
    padding-top:0px;
}
.form-subscribe .boletin-noticias, .contacto-home {
    padding-top: 65px;
}
.form-subscribe .form-subscribe-header, .contacto-home label{
Font-size:16px
}
.contacto-home .input-box {
    margin-bottom: 15px;
}
.contacto-home .btn-u{
    color: #5d6062;
}
.boletin-noticias .control input#newsletter::placeholder  {
    color: #fff;
}
.footer-container .footer-bottom {
    display:none;
}
.footer-container .footer-top h2, .footer-container .footer-top a {
    color: #2f3030;
}
.footer-top .contacto .col-xs-6 .simple-list {
    margin-top: 20px;
}
.rating-summary .rating-result:before {
    
    font-family: 'mezcaldnd' !important;
    font-size: 28px;
    height: 28px;
    letter-spacing: 0px;
    line-height: 28px;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
}
.rating-summary .rating-result>span:before {
    
    font-family: 'mezcaldnd' !important;
    font-size: 28px;
    height: 28px;
    letter-spacing: 0px;
    line-height: 28px;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
    color:#dd9e58;
}
.product-reviews-summary .rating-result > span:before {

}
.mobile-bar-icon:before {
    content: "\f0c9";
    font-family: 'mezcaldnd' !important;
    display: inline-block;
    vertical-align: top;
    font-size: 21px;
}
.topbar-v3 .right-topbar li, .topbar-v3 .right-topbar li a {
    color: #5d6062;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
}
@media (min-width: 768px){
.is-blog.page-layout-2columns-left .column.main {
    width: 100%;
}
}
.is-blog.page-layout-2columns-left .post-list.grid li {
    display: inline-block;
    width: 24.72%;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
}
.is-blog.page-layout-2columns-left .sidebar.sidebar-main {
    display:none;
}
.is-blog.page-layout-2columns-left .post-image{
    height: 15em;
    width: 30em;
    overflow: hidden;
    margin: 0;
}
.is-blog.page-layout-2columns-left .post-image img{
    margin-left: -4em;
}
.is-blog.page-layout-2columns-left .page-title-wrapper, .is-blog.page-layout-2columns-left h1.page-title{
    text-align: center;
    color: #5d6062;
    font-size: 24px;
    margin-top: 20px;
}
.is-blog.page-layout-2columns-left .post-excerpt{
    display: none;
}
.is-blog.page-layout-2columns-left .post-meta .post-categories,.is-blog.page-layout-2columns-left .post-meta .post-date,.is-blog.page-layout-2columns-left .post-meta .post-user, .is-blog.page-layout-2columns-left .post-meta .post-tags strong{
    display: none;
}
.is-blog.page-layout-2columns-left .post-list-item h2{
    line-height: .5em;
    margin: 0;
    height: 55px;
}
.is-blog.page-layout-2columns-left .post-entry {
    margin: 0px;
}
.is-blog.page-layout-2columns-left .post-list-item h2 a, .is-blog.page-layout-2columns-left .post-list-item h2 a:visited{
    color:#666666;
    font-size: 14px;
    font-weight: 400;
}
.is-blog.page-layout-2columns-left .post-tags a{
    font-size: 12px;
    padding: 2px 12px;
    line-height: 18px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #333;
    background-color: #fff;
    border: solid 1px #ccc;
}
.is-blog.page-layout-2columns-left .post-tags{
    height: 30px;
    overflow: hidden;
    text-align: center;
    color: #fff;
    padding-top: 3px;
    line-height: 2em;
}
@media (min-width: 768px), print{
.is-blog.page-layout-2columns-left .toolbar-amount {
    float: right;
}
    }

.is-blog.page-layout-2columns-left .brandslider-container,.is-blog.page-layout-2columns-left .top-footer{
    display: none;
}
.is-blog.page-layout-2columns-left .MenuPosts{
    display: block;
    text-align: right;
}
.is-blog.page-layout-2columns-left .MenuPosts a{
font-size: 12px;
    padding: 2px 12px;
    line-height: 18px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #333;
    background-color: #fff;
    border: solid 1px #ccc;
    margin: 5px;
}

/*Back to top Button
------------------------------------*/
#topcontrol {
  color: #fff;
  z-index: 99;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: #222;
  position: relative;
  right: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
}

#topcontrol:after {
  left: 8.5px;
  content: "\f106";
  position: absolute;
  text-align: center;
  font-family: FontAwesome;
}

#topcontrol:hover {
	color: #fff;
	background: #dd9e58;
	transition: all 0.3s ease-in-out;
}

/*Hiding arrows for select field in IE*/
select::-ms-expand {
  display: none;
}

/* RESPONSIVE CSS SOLO COMO REFERENCIA
-------------------------------------------------- */
// Extra small devices (portrait phones, less than 576px) 
// No media query since this is the default in Bootstrap  
// SM Small devices (landscape phones, 576px and up) @media (min-width: 576px) { }
// Small devices (landscape phones, 576px and up) @media (min-width: 576px) and (max-width: 767px) { }
// Small devices @media (max-width: 767px) { }
// MD Medium devices (tablets, 768px and up) @media (min-width: 768px) { }
// Medium devices (tablets, 768px and up) @media (min-width: 768px) and (max-width: 991px) {}
// LG Large devices (desktops, 992px and up) @media (min-width: 992px) {}
// Large devices (desktops, 992px and up) @media (min-width: 992px) and (max-width: 1199px) {}
// XL Extra large devices (large desktops, 1200px and up) @media (min-width: 1200px) {}
@media (min-width: 40em) {}
@media (min-width: 62em) {}

@media(max-width: 576px) { }
@media(max-width: 767px) { }
@media(max-width: 991px) { }
@media(min-width: 1200px) { }