@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'mezcaldnd';
    src: url('../fonts/mezcaldnd.eot?puc2k1');
    src: url('../fonts/mezcaldnd.eot?puc2k1#iefix') format('embedded-opentype'),
        url('../fonts/mezcaldnd.ttf?puc2k1') format('truetype'),
        url('../fonts/mezcaldnd.woff?puc2k1') format('woff'),
        url('../fonts/mezcaldnd.svg?puc2k1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    font-family: 'Quicksand', sans-serif;
}

.header-container .topbar-v3 .cmezcal_utilerias {
    border-bottom: 1px solid #CFCFCF;
    margin-bottom: 0px;
}

.cmezcal_utilerias li {
    padding-right: 30px;
    margin-bottom: 0px;
}

.mobile-bar-icon:before,
.mobile-bar-icon2:before {
    vertical-align: middle;
    font-size: 22px;
    padding-top: 0px;
}

.mosaico_banner {
    background: #000;
    margin: 10px 0;
    padding: 60px 30px;
    text-align: center;
    background: url(../images/back_blak.png);
    color: #fff !important;
}

@media(min-width: 992px) {
    .mosaico_banner {
        margin-top: 55px;
    }

}

@media(max-width: 992px) {
    .mosaico_banner {
        padding: 15px 30px;
    }

}

.destacado {
    padding-right: 15px;
    padding-bottom: 15px;
}

.nota_principal_destacada {
    margin-top: -20px;
}

@media (min-width: 768px) and (max-width: 992px) {
    .nota_principal_destacada {
        margin-top: 0px;
    }
}

.content_home .container-inner {
    margin-top: 30px;
}

.fixmarg {
    width: 100%;
    margin-bottom: 1.5rem;
}

.tienda .linea_derecha h2,
.tienda .linea_izquierda h2 {
    margin-bottom: 1rem;
}

.bran {
    padding-top: 0px;
}

.form-subscribe .boletin-noticias,
.contacto-home {
    padding-top: 65px;
}
.form-subscribe .form-subscribe-header,
.contacto-home label {
    Font-size: 16px
}

.contacto-home .input-box {
    margin-bottom: 15px;
}

.contacto-home .btn-u {
    color: #5d6062;
}

.boletin-noticias .control input#newsletter::placeholder {
    color: #fff;
}

.footer-container .footer-bottom {
    display: none;
}

.footer-container .footer-top h2,
.footer-container .footer-top a {
    color: #2f3030;
}

.footer-top .contacto .col-xs-6 .simple-list {
    margin-top: 20px;
}

.rating-summary .rating-result:before {

    font-family: 'mezcaldnd' !important;
    font-size: 28px;
    height: 28px;
    letter-spacing: 0px;
    line-height: 28px;
    content: '\e605''\e605''\e605''\e605''\e605';
}

.rating-summary .rating-result > span:before {

    font-family: 'mezcaldnd' !important;
    font-size: 28px;
    height: 28px;
    letter-spacing: 0px;
    line-height: 28px;
    content: '\e605''\e605''\e605''\e605''\e605';
    color: #dd9e58;
}

.product-reviews-summary .rating-result > span:before {}

.mobile-bar-icon:before,
.mobile-bar-icon2:before {
    content: "\f0c9";
    font-family: 'mezcaldnd' !important;
    display: inline-block;
    vertical-align: top;
    font-size: 21px;
}

.topbar-v3 .right-topbar li,
.topbar-v3 .right-topbar li a {
    color: #5d6062;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
}

@media (min-width: 768px) {
    .is-blog.wordpress-term-view.page-layout-2columns-left .column.main {
        width: 100%;
    }
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-list-wrapper {
    clear: both;
    display: block;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-list.grid li {
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    float: left;
}

@media (max-width: 768px) {
    .is-blog.wordpress-term-view.page-layout-2columns-left .post-list.grid li {
        padding-right: 7px;
        padding-left: 7px;
    }
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-list.grid .item {
    /*min-height: 450px;*/
    margin-bottom: 50px;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-list.grid .item .Conocemas {
    display: none;
}
.is-blog.wordpress-term-view.page-layout-2columns-left .post-list.grid .item .Conocemas-2 {
    display: block;
}

@media (min-width: 0px) {
    .is-blog.wordpress-term-view.page-layout-2columns-left .post-list.grid li {
        width: 49%;
    }
}

@media (min-width: 768px) {
    .is-blog.wordpress-term-view.page-layout-2columns-left .post-list.grid li {
        width: 33%;
    }
}

@media (min-width: 992px) {
    .is-blog.wordpress-term-view.page-layout-2columns-left .post-list.grid li {
        width: 24.72%;
    }
}

.is-blog.wordpress-term-view.page-layout-2columns-left .sidebar.sidebar-main {
    display: none;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-image,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-image-2 {
    height: 15em;
    width: 30em;
    overflow: hidden;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-image img,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-image-2 img {
    margin-left: -4em;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .page-title-wrapper,
.is-blog.page-layout-2columns-left h1.page-title {
    text-align: center;
    color: #5d6062;
    font-size: 24px;
    margin-top: 20px;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-excerpt {
    display: none;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-excerpt-2 {
    height: 80px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .is-blog.wordpress-term-view.page-layout-2columns-left .post-excerpt-2 {
        height: 150px;
    }
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-meta .post-categories,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-meta-2 .post-categories-2,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-list-item .post-date,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-list-item-2 .post-date-2 strong,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-meta .post-user,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-meta-2 .post-user-2,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-meta .post-tags strong,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-meta-2 .post-tags-2 strong,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-meta-item-2 strong .is-blog.wordpress-term-view.page-layout-2columns-left .post-list-item .Conocemas {
    display: none;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-list-item-2 .post-date-2 {
    text-transform: uppercase;
    font-size: .8em;
}

.pager {
    display: block;
    clear: both;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-list-item h2 {
    line-height: .5em;
    margin: 0;
    min-height: 55px;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-list-item-2 h2 {
    font-family: 'Benguiat', sans-serif;
    font-size: 18px;
    height: 40px;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-entry {
    margin: 0px;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-list-item h2 a,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-list-item h2 a:visited {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-list-item-2 h2 a,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-list-item-2 h2 a:visited {
    color: #666666;
    font-size: 18px;
    font-family: 'Benguiat', sans-serif;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-tags a,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-tags-2 a {
    font-size: 12px;
    padding: 2px 12px;
    line-height: 18px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #333;
    background-color: #fff;
    border: solid 1px #ccc;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .post-tags,
.is-blog.wordpress-term-view.page-layout-2columns-left .post-tags-2 {
    height: 30px;
    overflow: hidden;
    text-align: center;
    color: #fff;
    padding-top: 3px;
    line-height: 2em;
}

@media (min-width: 768px),
print {
    .is-blog.wordpress-term-view.page-layout-2columns-left .toolbar-amount {
        float: right;
    }
}

.is-blog.wordpress-term-view.page-layout-2columns-left .brandslider-container,
.is-blog.wordpress-term-view.page-layout-2columns-left .top-footer {
    display: none;
}

.is-blog.wordpress-term-view.page-layout-2columns-left .MenuPosts {
    display: block;
    text-align: right;
    position: relative;
    z-index: 2;
    float: right;
}

@media (min-width: 992px) {
    .is-blog.wordpress-term-view.page-layout-2columns-left .MenuPosts {
        margin-top: -40px;
        margin-right: 20px;
    }
    .is-blog.wordpress-term-view.page-layout-2columns-left .MenuPosts.experimenta {
        margin-top: -40px;
        margin-right: 7px;
    }
}

@media (max-width: 992px) {
    .is-blog.wordpress-term-view.page-layout-2columns-left .MenuPosts {
        margin-top: 0px;
        margin-bottom: 15px;
    }
}

.is-blog.wordpress-term-view.page-layout-2columns-left .MenuPosts a {
    font-size: 12px;
    padding: 2px 12px;
    line-height: 18px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #333;
    background-color: #fff;
    border: solid 1px #ccc;
    margin: 5px;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .page-main {
    max-width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .column.main {
    width: 100%;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .column.main .page-title-wrapper {
    display: none;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .column.main .MetaTop,
.is-blog.wordpress-post-view.page-layout-2columns-left .column.main .TituloInterno {
    max-width: 998px !important;
    text-align: center;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .column.main .MetaTop {
    color: #555;
    text-transform: uppercase;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .column.main .MetaTop a {
    color: green;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .column.main .tituloInterno {
    font-size: 1.8em;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .post-image {
    height: 35em;
    overflow: hidden;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .bloque_lineas {
    text-align: center;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .bloque_lineas .texto_central h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-top: 0;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .bloque_lineas .texto_central h2:before,
.is-blog.wordpress-post-view.page-layout-2columns-left .bloque_lineas .texto_central h2:after {
    content: "";
    border-top: 1px solid;
    border-color: #687074;
    margin: 0 15px 0 15px;
    flex: 1 0 0;
}

.linea-v1 .linea_izquierda,
.linea-v1 .linea_derecha,
.linea-v1 .texto_central {
    display: inline-block;
}

.linea-v1 .linea_izquierda h2 {
    position: relative;
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
}

.linea-v1 .linea_derecha h2 {
    position: relative;
    top: 13px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right;
}

.LateralMexcal {
    display: block;
    border-color: #ccc;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    color: #fff;
    padding: 15px 5px 5px 5px;
    font-size: 1px;
    margin-top: -8px;
    margin-bottom: 20px;
    z-index: 2;
}

.LateralMexcal.Autor {
    display: none;
}

.LateralMexcal a {
    font-size: 12px;
    padding: 2px 12px;
    line-height: 25px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #333;
    background-color: #fff;
    border: solid 1px #ccc;
}

.LateralMexcal strong {
    display: none;
}

@media (min-width: 991px) {

    .LateralMexcalTit:before,
    .LateralMexcalTit:after {
        content: "";
        border-top: 1px solid;
        border-color: #ccc;
        margin: 0;
        flex: 1 0 0;
    }

    .LateralMexcalTit {
        text-transform: uppercase;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.LateralMexcalTit.Autor {
    display: none;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .post-view {
    margin-top: 70px;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .sidebar.sidebar-main {
    display: none;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .footer-container .top-footer {
    display: none;
}

.is-blog.wordpress-post-view.page-layout-2columns-left .brandslider-container {
    display: none;
}

@media (max-width: 992px) {
    .is-blog.wordpress-post-view.page-layout-2columns-left .post-meta.col-md-3 {
        display: none;
    }
}

/*Max mobile start*/

@media (max-width: 992px) {
    .cms-thebell4-kitchenware-responsive-magento-theme.cms-index-index.page-layout-1column .productos-destacados .products-grid.grid ol.product-items.widget-product-grid li.product-item {
        width: 33%;
        margin-left: 0;
    }

    .footer-v4 #ubicacion .col-md-3 {
        width: 40%;
        padding: 0;
        text-align: center;
        float: left;
    }

    .footer-v4 #ubicacion .col-md-9 {
        width: 60%;
        float: left;
        padding-right: 0;
    }

    .page-footer #ubicacion .logo {
        float: none;
        margin: 0 0 10px 0px;
        max-width: 50%;
        z-index: 0;
    }

    .footer-v4 #ubicacion .title {
        width: 100%;
        color: #000;
        font-weight: 700;
        font-size: 11px;
        border: 0;
        text-align: center;
        border-bottom: 0;
    }

    .page-footer .Colofon.redes_sociales {
        margin-top: 40px;
        display: block;
    }

    .page-footer .Colofon .cmezcal_sprite {
        display: inline-block;
    }

    .top-footer .form-subscribe {
        margin-bottom: 10px;
    }

    #content-banners img {
        width: 100%;
    }

    .content-home .img-responsive {
        width: 100%
    }

    .ImagenCompleta {
        width: 100%;
    }
}

@media (max-width: 768px) {
    header.header-container .header-iner .h-left .logo img {
        margin-left: 0px;
    }

    .header-container .header-iner .h-left .logo {
        left: 0px;
    }
}

@media(max-width: 576px) {
    .cms-thebell4-kitchenware-responsive-magento-theme.cms-index-index.page-layout-1column .pt-banner-container {
        overflow: initial;
        margin-top: 50px;
    }

    .cms-thebell4-kitchenware-responsive-magento-theme.cms-index-index.page-layout-1column .productos-destacados .products-grid.grid ol.product-items.widget-product-grid li.product-item {
        width: 50%;
        margin-left: 0;
    }

    /*.SliderHome.owl-carousel .owl-wrapper,
    .SliderHome.owl-carousel .owl-item {
        height: fit-content;
    }*/
    .productos-destacados .products-grid.grid ol.product-items.widget-product-grid li.product-item .product-item-info .product-item-photo {
        height: auto;
    }
}

/*Max mobile start*/
.SliderHome.owl-carousel .owl-item li {
    min-height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 576px) and (max-width: 991px) {
    .SliderHome.owl-carousel .owl-item li {
        min-height: 490px;
    }
}

.SliderHome .owl-pagination,
.SliderHome .owl-buttons {
    display: none;
}

/*Menu Principal*/
.MenuDnd,
.MenuDnd.container {
    padding-bottom: 20px;
    padding-top: 20px;
}

.MenuDnd .LogoPrincipal a {
    color: #444444;
}

.MenuDnd .IconoMenu {
    float: left;
    width: 30px;
    height: 30px;
    display: block;
    position: initial;
    margin-right: 5px;
    top: auto;
}

@media only screen and (max-width: 991px) {

    .MenuDnd .mobile-bar-icon,
    .MenuDnd .mobile-bar-icon2 {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .MenuDnd .mobile-bar-icon2 {
        text-decoration: none;
        cursor: pointer;
        font-size: 0;
        left: 15px;
        line-height: 31px;
        text-align: center;
        background: transparent;
        z-index: 99;
        visibility: visible;
        display: inline-block;
    }

    .MenuDnd .IconoMenu.mobile-bar-icon {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .MenuDnd .IconoMenu.mobile-bar-icon {
        visibility: visible;
        display: inline-block;
    }

    .MenuDnd .IconoMenu.mobile-bar-icon2 {
        visibility: hidden;
        display: none;
    }
}

.MenuDnd .LogoPrincipal {
    float: left;
    display: block;
}

.MenuDnd h1 {
    font-size: 2.5em;
    margin: 0;
}

.MenuDnd .IconosHeaderCol {
    display: inline-block;
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
    color: #687074;
    font-size: 20px;
    text-align: center;
}
.MenuDnd .IconosHeaderCol .nombreIcono {
    display: none;
}
@media only screen and (max-width: 767px) {
    .MenuDnd .IconosHeaderCol {
        width: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .MenuDnd .IconosHeaderCol.search-switcher {
        line-height: 30px;
        /*font-size: .9em;*/
    }

    .MenuDnd h1 {
        font-size: 2em;
        margin: 0;
    }

    .MenuDnd.container {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .mobile-bar-content.open {
        top: 65px;
    }

    .mega-menu-content .submenu_izquierda,
    .mega-menu-content .submenu_centro {
        padding-right: 15px;
    }
}

.MenuDnd .IconosHeaderCol a,
.MenuDnd .IconosHeaderCol a:visited {
    color: #687074;
}

.MenuDnd .IconosHeaderCol .movil {
    font-size: 1.8em;
}

@media only screen and (min-width: 767px) {
    .MenuDnd .IconosHeaderCol.search-switcher {
        line-height: 30px;
        /*font-size: .9em;*/
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .mobile-bar-content.open {
        top: 62px;
    }
}

.mobile-bar-content .tabs-mobile .item {
    padding: 0;
    cursor: pointer;
    background: #f1f1f1;
    color: #687074;
    text-transform: none;
    border-right: 0px solid #fff;
    font-family: 'Benguiat', sans-serif;
    font-size: 16px;
}

.mobile-bar-content h3 {
    font-family: 'Benguiat', sans-serif;
}

.mobile-bar-content .tabs-mobile .item i {
    margin-right: 5px;
}

.mobile-bar-content .tabs-mobile .item.active,
.mobile-bar-content .tabs-mobile .item:hover {
    background: #f1f1f1;
    color: #687074;
    border-right: 1px solid #687074;
}
@media (max-width: 767px) {
.mega-menu-content .divisiones h4 {
    margin-left: 0px;
}
}
.mobile-bar-content.open .mobile-bar-close {
    color: ;
}

@media (max-width: 767px) {
    .page-products.catalog-category-view .category-image {
        position: relative;
        height: auto;
        top: auto;
        z-index: auto;
    }

    .page-products.catalog-category-view .category-view .product-collateral {
        position: relative;
        top: initial;
        width: 100%;
        z-index: 100;
    }

    .page-products.catalog-category-view .category-view + .page-title-wrapper {
        margin-top: initial;
    }

    .page-products.catalog-category-view .category-view .product-collateral ul.tabs {
        margin-left: 0px;
        padding-left: 0px;
    }

    .page-products.catalog-category-view .sidebar.sidebar-main {
        display: none;
    }

    .page-products.catalog-category-view .category-view .category-description {
        margin-bottom: 50px;
        position: relative;
        top: auto;
    }

    .page-products.catalog-category-view .filter-options-content li.item {
        float: none;
    }

    .catalog-product-view .product.data.items > .item.title {
        width: 100%;
    }

    .customer-account-login .login-container .block.block.block-customer-login {
        float: none;
        padding-left: 0px;
        border-left: 0px solid #ededed;
    }

    .customer-account-create .form-create-account .actions-toolbar {
        width: 100%;
        padding: 0px;
    }
}

@media (max-width: 555px) {
    .page-products .products-grid .product-item {
        width: 50%;
        clear: none;
    }

    .page-products.catalog-category-view .category-view .product-collateral ul.tabs li > span {
        font-size: 12px;
    }

    body.catalog-product-view .column.main .product-info-main .product-info-price .price-box {
        width: 100%;
    }

    body.catalog-product-view .column.main .product-info-main .product-add-form .product-options-bottom {
        width: 100%;
    }

    body.catalog-product-view .column.main .product-info-main .product-add-form .product-options-wrapper {
        width: 100%;
    }

    .catalog-product-view .product.media {
        margin-top: 40px;
    }

    .catalog-product-view .product-social-links {
        display: block;
        margin-bottom: 70px;
    }

    body.catalog-product-view .column.main {
        margin-top: 50px;
    }

    fieldset.fieldset.create.info,
    fieldset.fieldset.create.account {
        margin-left: 0px;
    }
    body.account fieldset.fieldset, body.account fieldset.fieldset {
        margin-left: 0px;
    }
    fieldset.fieldset.create.info input[type="text"],
    fieldset.fieldset.create.account input[type="text"],
    fieldset.fieldset.create.info input[type="password"],
    fieldset.fieldset.create.account input[type="password"],
    fieldset.fieldset.create.info input[type="url"],
    fieldset.fieldset.create.account input[type="url"],
    fieldset.fieldset.create.info input[type="tel"],
    fieldset.fieldset.create.account input[type="tel"],
    fieldset.fieldset.create.info input[type="search"],
    fieldset.fieldset.create.account input[type="search"],
    fieldset.fieldset.create.info input[type="number"],
    fieldset.fieldset.create.account input[type="number"],
    fieldset.fieldset.create.info input[type="datetime"],
    fieldset.fieldset.create.account input[type="datetime"],
    fieldset.fieldset.create.info input[type="email"],
    fieldset.fieldset.create.account input[type="email"] {
        width: 90%;
    }
}
.category-view .ImagenFullBg{
    width: 100vw;
    margin-left: -50vw;
    margin-right: 0;
    max-width: none;
    left: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media(min-width: 992px) {
.category-view .ImagenFullBg{
    min-height: 380px;
    }
}
@media(max-width: 991.9px) {
.category-view .ImagenFullBg{
    min-height: 350px;
}
    }
@media(max-width: 576px) {
.category-view .ImagenFullBg{
    min-height: 250px;
}
    }
.category-view .ImagenFullBg image.ImagenFull {
    /*position: relative;*/
    /*width: 100%;*/
    display: none;
}
body.page-with-filter .page-products .catalog-category-view .page-wrapper{min-height: initial;}
.footer-container .footer-top .dndncom {color: #e8e8e8;}

.post-list-description{
    padding: 25px 0 40px 0;
    text-align: center;
    font-size: 1.2em;
}
/* RESPONSIVE CSS SOLO COMO REFERENCIA
-------------------------------------------------- */
// Extra small devices (portrait phones, less than 576px) 
// No media query since this is the default in Bootstrap  
// SM Small devices (landscape phones, 576px and up) @media (min-width: 576px) { }
// Small devices (landscape phones, 576px and up) @media (min-width: 576px) and (max-width: 767px) { }
// Small devices @media (max-width: 767px) { }
// MD Medium devices (tablets, 768px and up) @media (min-width: 768px) { }
// Medium devices (tablets, 768px and up) @media (min-width: 768px) and (max-width: 991px) {}
// LG Large devices (desktops, 992px and up) @media (min-width: 992px) {}
// Large devices (desktops, 992px and up) @media (min-width: 992px) and (max-width: 1199px) {}
// XL Extra large devices (large desktops, 1200px and up) @media (min-width: 1200px) {}
@media (min-width: 40em) {}

@media (min-width: 62em) {}

@media(max-width: 576px) {}

@media(max-width: 767px) {}

@media(max-width: 991px) {}

@media(min-width: 1200px) {}
