

<div class="main-container col2-left-layout">

	<div class="container-inner">
		<div class="row margin-bottom-10 mob_cont">
				<!-- Nota destacada > xs-->
				<div class="hidden-xs col-md-6 md-margin-bottom-10 destacado mob_li">
						<div class="overflow-h " id="scoped-content">
							<a href="<?php echo $block->getBaseUrl();?>content/conoce/cultura/2016/11/21/el-alma-del-mezcal/100" class="illustration-v3 illustration-img2">
								<span class="illustration-bg">
									<span class="illustration-ads"> <!-- maneja la sombra -->
										<span class="illustration-v3-category">
											<span class="product-category">
												<div class="col-md-12 nota_principal ">
													<span class="cmezcal_sprite imagen_nota_principal pull-right"></span>
													<div class="nota_principal_destacada">
														<p class="titulo">El alma del mezcal</p>
														<p class="editorial">Por: Cultura Mezcal</p>
														<p class="resumen">La trinidad a la que Cultura Mezcal dedica su
															pasión y esfuerzo, son los principios y raíces que dan origen a nuestra bebida tradicional.</p>
														<div> <button class="boton_nota_principal pull-left">LEER MÁS</button> </div>
													</div>
												</div>
											</span>
										</span>
									</span>
								</span>
							</a>
							<span class="titulo_sobre_imagen">El alma del mezcal</span>
						<a class="btn-u btnu-xs btn-u-green mayuscula">conoce</a>
						</div>
					</div>
					<!-- Nota destacada > xs-->
					<div class="hidden-xs col-md-6 md-margin-bottom-10 destacado mob_li">
							<div class="overflow-h ">
								<a href="<?php echo $block->getBaseUrl();?>content/experimenta/eventos/2017/12/10/forum-gastronomico-barcelona-2014/248" class="illustration-v3 illustration-img4">
									<span class="illustration-bg">
										<span class="illustration-ads"> <!-- maneja la sombra -->
											<span class="illustration-v3-category">
												<span class="product-category">
													<div class="col-md-12 nota_principal ">
														<span class="cmezcal_sprite imagen_nota_principal pull-right"></span>
														<div class="nota_principal_destacada">
															<p class="titulo">Fórum gastronómico Barcelona 2014</p>
															<p class="editorial">Por: Cultura Mezcal</p>
															<p class="resumen">México, país invitado en el Fórum Gastronómic Barcelona 2014. Cultura Mezcal estará presente.</p>
															<div> <button class="boton_nota_principal pull-left">LEER MÁS</button> </div>
														</div>
													</div>
												</span>
											</span>
										</span>
									</span>
								</a>
								<span class="titulo_sobre_imagen">Fórum gastronómico Barcelona 2014</span>
							<a class="btn-u btnu-xs btn-u-green mayuscula tag-experimenta">EXPERIMENTA</a>
							</div>
						</div>
					<!-- Home productos -->
					<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('home_products')->toHtml(); ?>
					<!-- Home -->
					<?php echo $block->getLayout()->createBlock('Plazathemes\Featureproductslider\Block\Featureproductslider')->setTemplate('Plazathemes_Featureproductslider::featureproductslider.phtml')->toHtml();?>

		</div>
				<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static1_home4')->toHtml(); ?>

		<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('popuphomepage')->toHtml(); ?>
		<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('Home_tienda_titulo')->toHtml(); ?>

		<div class="col-sm-12 col-md-6 md-margin-bottom-30">
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_a_uno')->toHtml(); ?>
		</div>
		<div class="col-sm-12 col-md-6 md-margin-bottom-30">
			<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_a_dos')->toHtml(); ?>
		</div>

		<?php echo $block->getLayout()->createBlock('Plazathemes\Bestsellerproduct\Block\Bestsellerproduct')->setTemplate('Plazathemes_Bestsellerproduct::bestsellerproduct.phtml')->toHtml();?>

		<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('categorytab_static_home4')->toHtml(); ?>

		<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static2_home4')->toHtml(); ?>
	</div>

	<div class="container-inner">
		<div class="gruod-iner">
			<div class="row">

				<div class="col-md-4 col-sm-12 col-xs-12 ">
					<?php echo $block->getLayout()->createBlock('Plazathemes\Testimonial\Block\Testimonial')->setTemplate('Plazathemes_Testimonial::testimonial.phtml')->toHtml();?>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 ">
					</div>
				<div class="col-md-4 col-sm-12 col-xs-12 ">
					<?php echo $block->getLayout()->createBlock('Plazathemes\Newproductslider\Block\Newproductslider')->setTemplate('Plazathemes_Newproductslider::newproductslider.phtml')->toHtml();?>

				</div>

			</div>
		</div>


	</div>


	<div class="bran">
		<div class="container-inner">
			<?php echo $block->getLayout()->createBlock('Plazathemes\Brandslider\Block\Brandslider')->setTemplate('Plazathemes_Brandslider::brandslider.phtml')->toHtml();?>
		</div>
	</div>
</div>



<script >
require(['jquery'],function($){
jQuery(document).ready(function(e){

  var cache = localStorage['is_mayor_cache'] || 'false';

  if (cache == 'false'){
    jQuery("#popupEdad").css("display","block");
  }else{
    jQuery("body").css('overflow-y','scroll');

  }

  jQuery("#is_mayorEdad").click(function(){
        validarEdad();
  });
});


function validarEdad(){
    var f_nacimiento = jQuery('#is_mayor').val();
    var is_check_mayor = jQuery('#mayor').is(":checked");
    var is_mayor = edad(f_nacimiento);

    if(is_mayor){
      jQuery("#popupEdad").css("display","none");
      jQuery("body").css('overflow-y','scroll');

      if(is_check_mayor){
        localStorage['is_mayor_cache'] = 'true';
      }
    }else{
      jQuery(".contenido").html("<p>Lo sentimos. Debes tener edad legal para consumir alcohol e  ingresar a nuestro sitio.</p>");
    }
}



function edad(f_nacimiento){

    var fecha = new Date();
    if(f_nacimiento != ''){
      f = f_nacimiento.split('-');
      fecha.setFullYear(f[0]);
      fecha.setMonth(f[1]-1);
      fecha.setDate(f[2]);
    }

  fecha.toLocaleString('es-ES');
	var hoy = new Date();
  hoy.toLocaleString('es-ES');
  var diff = hoy.getFullYear() - fecha.getFullYear();
  var m = hoy.getMonth() - fecha.getMonth();

  if (m < 0 || (m === 0 && hoy.getDate() < fecha.getDate())) {
        diff--;
  }

  if (diff >= 21) {
	  return true;
	}
	return false;
}
});
</script>
