<?php
/**
 * @category    FishPig
 * @package     FishPig_WordPress
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php if ($post = $this->getPost()): ?>
<div class="FullSize">
    <div class="MetaTop container">
    <!-- Categorías -->
    <?php if ($categoryString = $post->getTermCollectionAsString('category')): ?>
     <?php echo $categoryString ?>
     .
    <?php endif; ?>
    <!-- Fecha -->
     <?php echo $post->getPostDate() ?>
    </div>

    <!-- Vista de nota -->
    <div class="bloque_lineas container">
		            <div class="linea_izquierda"><h2></h2></div>
		            <div class="texto_central">
		            	 <h2><span class="cmezcal_sprite image_flor dbi izquierdo" ></span><span class="titulo TituloInterno"><?php echo $this->escapeHtml($post->getPostTitle()) ?></span><span class="cmezcal_sprite image_flor dbi derecho"></span></h2>
		            </div>
		            <div class="linea_derecha"><h2></h2></div>
		        </div>

    <!-- Imagen de nota -->
    <?php if ($image = $post->getImage()): ?>
        <?php $imageUrl =  $image->getResizer() ? $image->getResizer()->constrainOnly(true)->keepFrame(false)->keepAspectRatio(true)->resize(1200, null) : ''?>
        <div class="post-image" style="background-image: url(<?php echo $imageUrl ?>);">

            <!--a href="<?php echo $post->getUrl() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><img src="" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" /></a-->
        </div>
        <?php endif; ?>

</div>
<div class="post-view container">




        <div class="post-entry row">
        <div class="post-meta col-md-3">
            <h3 class="LateralMexcalTit">En resumen</h3>
            <div class="LateralMexcal">
                <?php if ($tagString = $post->getTermCollectionAsString('post_tag')): ?>

                <div class="post-tags post-meta-item">
                    <strong><?php echo __('Tags') ?>:</strong> <?php echo $tagString ?>
                </div>
                <?php endif; ?>
            </div>
            <h3 class="LateralMexcalTit">Algo más</h3>
            <div class="LateralMexcal">
                <!-- Categorías -->
                <?php if ($categoryString = $post->getTermCollectionAsString('category')): ?>
                <div class="post-categories post-meta-item">
                    <strong><?php echo __('Categories') ?>:</strong> <?php echo $categoryString ?>
                </div>
                <?php endif; ?>
            </div>
            <h3 class="LateralMexcalTit">Especial para tí</h3>
            <div class="LateralMexcal">
                <div class="post-user post-meta-item">
                    <!-- Autor -->
                    <strong><?php echo __('Posted By') ?>:</strong> <a href="<?php echo $post->getUser()->getUrl() ?>"><?php echo $post->getUser() ->getDisplayName() ?></a>
                </div>
            </div>
        </div>

        <?php if (($content = trim($post->getContent())) !== ''): ?>
        <div class="post-content col-md-9"><?php echo $content ?></div>
        <?php endif; ?>
    </div>

    <!-- Commentarios -->
    <!--?php echo $this->getChildHtml('comments') ?-->
</div>
  <!-- AQUI WIDGET -->

<?php endif; ?>
