<?php
/**
 * @category    FishPig
 * @package     FishPig_WordPress
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
<div class="MenuPosts"><a href="#">Categoría 01</a> <a href="#">Categoría 01</a></div>
	<div class="post-list-wrapper">
		<ol class="post-list grid">
			<?php foreach($posts as $post): ?>
				<?php if ($renderedPostHtml = $this->renderPost($post)): ?>
					<li class="item<?php if ($post->isSticky()): ?> featured is-sticky<?php endif; ?> <?php echo $post->getPostFormat() ?>">
						<?php echo $renderedPostHtml ?>
					</li>
				<?php endif; ?>
			<?php endforeach; ?>
		</ol>
		<?php echo $this->getPagerHtml() ?>
	</div>
<?php endif; ?>