<?php
/**
 * @category    FishPig
 * @package     FishPig_WordPress
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<?php  
    if(isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on')   
         $url = "https://";   
    else  
         $url = "http://";   
    // Append the host(domain name, ip) to the URL.   
    $url.= $_SERVER['HTTP_HOST'];   
    
    // Append the requested resource location to the URL   
    $url.= $_SERVER['REQUEST_URI'];    
    // Search substring  
	$keyconoce = '/category/conoce/'; 
	$keyexperimenta = '/category/experimenta/';  
	$category = "Conoce";
	if (strpos($url, $keyconoce) == true) { 
		$category = "Conoce";
	} 
	else if(strpos($url, $keyexperimenta) == true){ 
		$category = "Experimenta"; 
	} 
  ?>   
<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>

<?php if($category == "Conoce"):?>
<div class="MenuPosts"><a href="<?php echo $block->getBaseUrl();?>content/category/conoce/noticias/">Noticias Mezcaleras</a> <a href="<?php echo $block->getBaseUrl();?>content/category/conoce/cultura/">Cultura</a>
</div>
<?php endif; ?>

<?php if($category == "Experimenta"):?>
<div class="MenuPosts experimenta">
<a href="<?php echo $block->getBaseUrl();?>content/category/experimenta/eventos/">Eventos</a> <a href="<?php echo $block->getBaseUrl();?>content/category/experimenta/recomendamos/">Te Recomendamos</a></div>
<?php endif; ?>


	<div class="post-list-wrapper">
		<ol class="post-list grid">
			<?php foreach($posts as $post): ?>
				<?php if ($renderedPostHtml = $this->renderPost($post)): ?>
					<li class="item<?php if ($post->isSticky()): ?> featured is-sticky<?php endif; ?> <?php echo $post->getPostFormat() ?>">
						<?php echo $renderedPostHtml ?>
					</li>
				<?php endif; ?>
			<?php endforeach; ?>
		</ol>
		<?php echo $this->getPagerHtml() ?>
	</div>
<?php endif; ?>