<?php
/**
* @category Fishpig
* @package Fishpig_Wordpress
* @license http://fishpig.co.uk/license.txt
* @author Ben Tideswell <help@fishpig.co.uk>
*/

echo 'widget prueba funciona';
?>
<?php $posts = $this->getPosts(); ?>
<?php if (count($posts) > 0): ?>
<div>
<ul>
<li>
  <a href="">link</a>
</li>
</ul>
</div>
<?php endif; ?>
