<?php
/**
 * @category    FishPig
 * @package     FishPig_WordPress
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php if ($post = $this->getPost()): ?>
<div class="FullSize">
    <div class="MetaTop container">
    <!-- Categorías -->
    <?php if ($categoryString = $post->getTermCollectionAsString('category')): ?>
     <?php echo $categoryString ?>
     .
    <?php endif; ?>
    <!-- Fecha -->
     <?php echo $post->getPostDate() ?>
    </div>

    <!-- Vista de nota -->
    <div class="bloque_lineas container">
		            <div class="linea_izquierda"><h2></h2></div>
		            <div class="texto_central">
		            	 <h2><span class="cmezcal_sprite image_flor dbi izquierdo" ></span><span class="titulo TituloInterno"><?php echo $this->escapeHtml($post->getPostTitle()) ?></span><span class="cmezcal_sprite image_flor dbi derecho"></span></h2>
		            </div>
		            <div class="linea_derecha"><h2></h2></div>
		        </div>

    <!-- Imagen de nota -->
    <?php if ($image = $post->getImage()): ?>
        <?php $imageUrl =  $image->getResizer() ? $image->getResizer()->constrainOnly(true)->keepFrame(false)->keepAspectRatio(true)->resize(1200, null) : ''?>
        <div class="post-image" style="background-image: url(<?php echo $imageUrl ?>);">

            <!--a href="<?php echo $post->getUrl() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><img src="" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" /></a-->
        </div>
        <?php endif; ?>

</div>
<div class="post-view container">




        <div class="post-entry row">
        <div class="post-meta col-md-3">
            <h3 class="LateralMexcalTit Etiquetas">En resumen</h3>
            <div class="LateralMexcal">
                <?php if ($tagString = $post->getTermCollectionAsString('post_tag')): ?>

                <div class="post-tags post-meta-item">
                    <strong><?php echo __('Tags') ?>:</strong> <?php echo $tagString ?>
                </div>
                <?php endif; ?>
            </div>
            <h3 class="LateralMexcalTit Categorias">Algo más</h3>
            <div class="LateralMexcal">
                <!-- Categorías -->
                <?php if ($categoryString = $post->getTermCollectionAsString('category')): ?>
                <div class="post-categories post-meta-item">
                    <strong><?php echo __('Categories') ?>:</strong> <?php echo $categoryString ?>
                </div>
                <?php endif; ?>
            </div>
            <h3 class="LateralMexcalTit product">Especial para tí</h3>
            <div class="LateralMexcal product">
                <div class="post-product post-meta-item">
                  <?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('wp_product')->toHtml(); ?>
                </div>
            </div>
        </div>

        <?php if (($content = trim($post->getContent())) !== ''): ?>
        <div class="post-content col-md-9"><?php echo $content ?>
          <div class="redes_sociales_comp posabs">
            <div class="compartir">
              <h4 class="dib">
                <span class="posrel">COMPARTIR</span>
              </h4>
            </div>


            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_inline_share_toolbox_l2r0"></div>

          </div>
        </div>
        <?php endif; ?>
    </div>

    <!-- Commentarios -->
    <!--?php echo $this->getChildHtml('comments') ?-->
    <div class="col-md-6 post-related">
	  <?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('dnd_wp_related')->toHtml(); ?>
	</div>
    <div class="col-md-6  post-tienda">
      <?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('wp_related_productos')->toHtml(); ?>
    </div>	
</div>
  <!-- AQUI WIDGET -->

<?php endif; ?>
