<div data-bind="visible: showList">
    <div class="quick-search-form">
        <div class="actions-toolbar">
            <div class="primary">
                <button type="button" class="action primary" data-bind="click: create(), i18n: 'New', attr: {disabled: loading()}"></button>
            </div>
        </div>
        <div class="control">
            <input type="text" data-bind="attr:{placeholder: $t('Search')}, textInput: filter">
        </div>
    </div>

    <!--ko if: !loading() -->
    <!--ko if: count() === 0 -->
    <span data-bind="i18n: 'No found records'"></span>
    <!--/ko-->
    <!--ko if: count() > 0 -->
    <div class="page-list">
        <!--ko if: _.indexOf(pages(), 1) === -1 -->
        <a class="page-link" data-bind="text: 1, click: setPage(1), css:{'page-link-active': 1 == page()}"></a>
        <span> ... </span>
        <!--/ko-->
        <!--ko foreach: pages() -->
        <a class="page-link" data-bind="text: $data, click: $parent.setPage($data), css:{'page-link-active': $data == $parent.page()}"></a>
        <!--/ko-->
        <!--ko if: _.indexOf(pages(), pageCount()) === -1 -->
        <span> ... </span>
        <a class="page-link" data-bind="text: pageCount(), click: setPage(pageCount()), css:{'page-link-active': pageCount() == page()}"></a>
        <!--/ko-->
    </div>
    <table class="table">
        <thead>
        <tr>
            <th data-bind="attr:{class: getOrderCssClass('email')}, click: setOrder('email')">
                <span data-bind="i18n: 'Customer Email'"></span>
            </th>
            <th data-bind="attr:{class: getOrderCssClass('firstname')}, click: setOrder('firstname')">
                <span data-bind="i18n: 'Trademark'"></span>
            </th>
            <th data-bind="attr:{class: getOrderCssClass('lastname')}, click: setOrder('lastname')">
                <span data-bind="i18n: 'Business Name'"></span>
            </th>
        </tr>
        </thead>
        <tbody data-bind="foreach: models">
        <tr class="clickable">
            <td data-bind="text: email"></td>
            <td data-bind="text: firstname"></td>
            <td data-bind="text: lastname"></td>
            <td><a data-bind="click: $parent.signInAs($data), text: 'Sign As'"></a></td>
        </tr>
        </tbody>
    </table>
    <!--/ko-->
    <!-- /ko -->
</div>
