<div class="page-title-wrapper">
    <h1 class="page-title">
        <span class="base" data-ui-id="page-title-wrapper" data-bind="i18n: 'Create New Forward Account'"></span></h1>
</div>
<form id="forwards_register_form">
    <fieldset class="fieldset no-margin">
        <legend class="legend"><span data-bind="i18n: 'Personal Data'"></span></legend>
        <div class="row fieldset">
            <div class="field dob required col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="recipients-email" class="label"><span data-bind="i18n: 'Email'"></span></label>
                <div class="control">
                    <input type="text" name="email" id="email" data-validate="{email:true, required:true}" value="" class="input-text"
                           data-bind="textInput: forward.email"/>
                </div>
            </div>
            <div class="field password required col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <label for="password" class="label"><span data-bind="i18n: 'Password'"></span></label>
                <div class="control">
                    <input type="password" name="password" id="password"
                           class="input-text"
                           data-password-min-length="8"
                           data-password-min-character-sets="3"
                           data-validate="{required:true, 'validate-customer-password':true}"
                           autocomplete="off" aria-required="true"
                           data-bind="textInput: forward.password">
                </div>
            </div>
            <div class="field password_repeat required col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <label for="password_repeat" class="label"><span data-bind="i18n: 'Password Repeat'"></span></label>
                <div class="control">
                    <input type="password" name="password_repeat" id="password_repeat"
                           class="input-text"
                           data-password-min-length="8"
                           data-password-min-character-sets="3"
                           data-validate="{required:true, equalTo:'#password'}"
                           autocomplete="off" aria-required="true">
                </div>
            </div>
            <div class="field firstname required col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label for="recipients-firstname" class="label"><span data-bind="i18n: 'Firstname'"></span></label>
                <div class="control">
                    <input name="firstname" type="text" class="input-text"
                           id="firstname" data-validate="{required:true}" data-bind="textInput: forward.firstname"/>
                </div>
            </div>
            <div class="field lastname required col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <label for="recipients-lastname" class="label"><span data-bind="i18n: 'Lastname'"></span></label>
                <div class="control">
                    <input name="lastname" type="text" class="input-text"
                           id="lastname" data-validate="{required:true}" data-bind="textInput: forward.lastname"/>
                </div>
            </div>
            <div class="field mothersname required col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <label for="recipients-mothersname" class="label"><span data-bind="i18n: 'Mothersname'"></span></label>
                <div class="control">
                    <input name="mothersname" type="text" class="input-text"
                           id="mothersname" data-validate="{required:true}" data-bind="textInput: forward.mothersname"/>
                </div>
            </div>
            <div class="field dob required col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <label for="recipients-dob" class="label"><span data-bind="i18n: 'Date of Birth'"></span></label>
                <div class="control">
                    <input type="text" name="dob" id="dob" value="" class="input-text" data-bind="textInput: forward.dob"/>
                </div>
            </div>
            <div class="field phone required col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <label for="recipients-phone" class="label"><span data-bind="i18n: 'Phone'"></span></label>
                <div class="control">
                    <input name="phone" type="text" class="input-text"
                           id="phone" data-validate="{required:true}" data-bind="textInput: forward.phone"/>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="fieldset no-margin">
        <legend class="legend"><span data-bind="i18n: 'Address'"></span></legend>
        <div class="row fieldset">
            <div class="field address_street required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-address_street" class="label"><span data-bind="i18n: 'Street'"></span></label>
                <div class="control">
                    <input name="address_street" type="text" class="input-text"
                           id="address_street" data-validate="{required:true}" data-bind="textInput: forward.address_street"/>
                </div>
            </div>
            <div class="field external_number required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-external_number" class="label"><span data-bind="i18n: 'External Number'"></span></label>
                <div class="control">
                    <input name="external_number" type="text" class="input-text"
                           id="external_number" data-validate="{required:true}" data-bind="textInput: forward.external_number"/>
                </div>
            </div>
            <div class="field internal_number col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-internal_number" class="label"><span data-bind="i18n: 'Internal Number'"></span></label>
                <div class="control">
                    <input name="internal_number" type="text" class="input-text"
                           id="internal_number" data-bind="textInput: forward.internal_number"/>
                </div>
            </div>
            <div class="field zip_code required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-zip_code" class="label"><span data-bind="i18n: 'Zip Code'"></span></label>
                <div class="control">
                    <input name="zip_code" type="text" class="input-text"
                           id="zip_code" data-validate="{required:true}" data-bind="textInput: forward.zip_code"/>
                </div>
            </div>
            <div class="field job_country_id required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-country_id" class="label"><span data-bind="i18n: 'Country'"></span></label>
                <div class="control control-select">
                    <select name="country_id" type="text" class="select"
                            id="country_id" data-validate="{required:true}"
                            data-bind="options: countries, optionsValue: 'value', optionsText: 'label', value: forward.country_id">
                    </select>
                </div>
            </div>
            <div class="field region required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-region" class="label"><span data-bind="i18n: 'Region'"></span></label>
                <div class="control control-select">
                    <select name="region_id" type="text" class="select"
                            id="region_id" data-validate="{required:true}"
                            data-bind="options: regions, optionsValue: 'value', optionsText: 'label', value: forward.region_id">>
                    </select>
                </div>
            </div>
            <div class="field town required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-town" class="label"><span data-bind="i18n: 'Town'"></span></label>
                <div class="control control-select">
                    <select name="town_id" type="text" class="select"
                            id="town_id" data-validate="{required:true}"
                            data-bind="options: towns, optionsValue: 'value', optionsText: 'label', value: forward.town_id">
                    </select>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="fieldset no-margin">
        <legend class="legend"><span data-bind="i18n: 'Job Data'"></span></legend>
        <div class="row fieldset">
            <div class="field cif required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-cif" class="label"><span data-bind="i18n: 'Cif'"></span></label>
                <div class="control">
                    <input name="cif" type="text" class="input-text"
                           id="cif" data-validate="{required:true}" data-bind="textInput: forward.cif"/>
                </div>
            </div>
            <div class="field bank_account required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-bank_account" class="label"><span data-bind="i18n: 'Bank Account'"></span></label>
                <div class="control">
                    <input name="bank_account" type="text" class="input-text"
                           id="bank_account" data-validate="{required:true}" data-bind="textInput: forward.bank_account"/>
                </div>
            </div>
            <div class="field profession payment_periodicity required col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-profession" class="label"><span data-bind="i18n: 'Profession'"></span></label>
                <div class="control control-select">
                    <select name="profession" type="text" class="select"
                            id="profession" data-validate="{required:true}"
                            data-bind="options: professions, optionsValue: 'value', optionsText: 'label', value: forward.profession">
                    </select>
                </div>
            </div>

            <div class="field job_country_id required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-job_country_id" class="label"><span data-bind="i18n: 'Country'"></span></label>
                <div class="control control-select">
                    <select name="job_country_id" type="text" class="select"
                            id="job_country_id" data-validate="{required:true}"
                            data-bind="options: countries, optionsValue: 'value', optionsText: 'label', value: forward.job_country_id">
                    </select>
                </div>
            </div>
            <div class="field job_region_id required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-job_region_id" class="label"><span data-bind="i18n: 'Region'"></span></label>
                <div class="control control-select">
                    <select name="job_region_id" type="text" class="select"
                            id="job_region_id" data-validate="{required:true}"
                            data-bind="options: jobRegions, optionsValue: 'value', optionsText: 'label', value: forward.job_region_id">
                    </select>
                </div>
            </div>
            <div class="field job_town_id required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-job_town_id" class="label"><span data-bind="i18n: 'City'"></span></label>
                <div class="control control-select">
                    <select name="job_town_id" type="text" class="select"
                            id="job_town_id" data-validate="{required:true}"
                            data-bind="options: jobTowns, optionsValue: 'value', optionsText: 'label', value: forward.job_town_id">
                    </select>
                </div>
            </div>
            <div class="field work_place required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-work_place" class="label"><span data-bind="i18n: 'Work Place'"></span></label>
                <div class="control control-select">
                    <select name="work_place" type="text" class="select"
                            id="work_place" data-validate="{required:true}"
                            data-bind="options: workPlaces, optionsValue: 'value', optionsText: 'label', value: forward.work_place">
                    </select>
                </div>
            </div>
        </div>
        <div class="row fieldset">
            <div class="field payment_periodicity required  col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="recipients-payment_periodicity" class="label"><span data-bind="i18n: 'Payment Periodicity'"></span></label>
                <div class="control control-select">
                    <select name="payment_periodicity" type="text" class="select"
                            id="payment_periodicity" data-validate="{required:true}"
                            data-bind="options: paymentPeriodicity, optionsValue: 'value', optionsText: 'label', value: forward.payment_periodicity">
                    </select>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="actions-toolbar">
        <div class="primary">
            <button type="button" class="action primary" data-bind="click: save(false), i18n: 'REQUEST ACCOUNT'"></button>
        </div>
    </div>
</form>
