/**
 *
 **/
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

ol.post-list,
ol.comment-list { list-style: none; padding: 0; margin: 0; }

/* General Post Styles */
.post-list li:after { content: ' '; clear: both; display: block; }
.post-list li { /*display: inline-block; width: 48%; vertical-align: top;*/ }
.post-entry { overflow: hidden; margin: 0 0 20px; }
.post-image { margin: 0 0 10px; overflow: hidden; }
.post-image a { display: inline-block; }
.post-list .post-image { max-height: 300px; }
.post-meta { clear: both; margin: 0 0 20px; text-align: left; }
.post-meta .post-meta-item { display: inline-block; margin-right: 10px; }
.post-readmore { margin-top: 10px; }
.post-entry iframe { max-width: 100%; }

/* Comments */
.comment-list-item { margin: 0 0 20px; }
.comment-list.children { margin-top: 20px; }
.comment-image { float: left; margin: 0 10px 10px 0; }
.comment-author { font-weight: bold; display: block; }
.comment-entry { clear: both; margin: 0 0 20px; }

/* Widgets */
.block-blog .block-title { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #c6c6c6; }
.block-blog .block-title > strong { font-size: 18px; font-weight: 300; }
.block-blog ul, .block-blog ol { list-style: none; margin: 0; padding: 0; }
.block-blog-cloud li { display: inline; margin: 0; }
.block-blog-categories ul.level1 { margin-top: 1rem; }

.shortcode-product {}
.shortcode-product .products { text-align: left; list-style: none; }
.shortcode-product .products > li { display: inline-block; width: 24%; text-align: center; }

/* Post List Grid */
.post-list.grid {}
.post-list.grid li { display: inline-block; width: 48%; vertical-align: top; margin-right: 1%; }


/* Ppost share */
.redes_sociales_comp.posabs {
    clear: both;
    text-align: right;
}
.redes_sociales_comp .compartir span {
    top: -5px;
    right: 100px;
}


/* post especial para ti */

.LateralMexcal.product a{
    border: none;
    padding: 0px;
}
.LateralMexcal.product span.product-image-container:before {
    opacity: .75;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0px;
    position: absolute;
    z-index: 100;
    display: block;
    content: ' ';
}

.LateralMexcal.product strong.product-item-name {
  display: block;
}

.LateralMexcal.product .product-item-inner {
    display: none;
}

.LateralMexcal.product .product-item-info {
    padding: 5px;
}
.LateralMexcal.product .products-grid .product-items li {
    margin-bottom: 0px !important;
}
.post-tienda,
.post-related{
  margin-top: 80px;
}
.post-tienda .block .block-title {
    text-align: center;
    font-size: 18px;
    font-weight:normal;
}
.post-tienda .block-title:before, .block-title:after{
    content: "";
    background: #ddd;
    width: 20%;
    display: block;
    position: absolute;
    height: 2px;
    top: 50%;
}

.post-tienda .block-title:after {
      right: 5px;
}

.post-tienda .block.widget .products-grid .product-item {
  width: 48%;
  }

.post-tienda span.product-image-container:before {
    opacity: .75;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0px;
    position: absolute;
    z-index: 100;
    display: block;
    content: ' ';
}

.post-tienda .product-item-actions .actions-secondary,
.post-tienda .product-item-actions:before{
  display: none;
}
.post-tienda .product-item-details strong.product-item-name>a:visited,
.post-tienda .product-item-details strong.product-item-name>a,{
    font-size: 14px !important;
    font-weight: normal !important;
    text-transform: unset;
}
.post-tienda button.action.tocart.primary {
    white-space: nowrap;
    background: #d2a95a !important;
    color: #fff !important;
    font-weight: normal;
}

/* post relacionados */
.post-related .post-image{
  margin-top: 7px;
}
.post-related h3.post-related-title {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
}
.post-related .post-name{
    font-size: 14px;
    font-weight: normal !important;
    text-transform: unset;
    margin-top: 8px;
    height: 80px;
}
